.style--shadows {
    .builder--mockup {
        background: $page-background-alternate;
    }
    .layouts--tabs {
        &__tab {
            box-shadow: none;
            &:hover,
            &:focus {
                box-shadow: none;
            }
        }
    }
    #getting-started {
        .button--jump-links {
            .button--icon {
                border-color: transparent !important;
                &:hover,
                &:focus {
                    background: $white !important;
                    color: $color-theme-1-1-1;
                }
            }
        }
    }

    .button--image {
        border: 0.0625rem solid $white;
        &:hover,
        &:focus {
            span {
                color: $color-theme-1-1-1;
            }
        }
        &:not([href]):not([tabindex]):hover,
        &:not([href]):not([tabindex]):focus,
        &:not([href]):not([tabindex]):active {
            border: 0.0625rem solid $white;
            background: $white;
        }
    }

    &.style--colors--theme-2 {
        #getting-started {
            .button--jump-links {
                .button--icon {
                    &:hover,
                    &:focus {
                        color: $color-theme-2-1-1;
                    }                    
                }
            }
        }
        .button--image {
            &:hover,
            &:focus {
                span {
                    color: $color-theme-2-1-1;
                }
            }
        }
    }
    &.style--colors--theme-3 {
        #getting-started {
            .button--jump-links {
                .button--icon {
                    &:hover,
                    &:focus {
                        color: $color-theme-3-1-1;
                    }                    
                }
            }
        }
        .button--image {
            &:hover,
            &:focus {
                span {
                    color: $color-theme-3-1-1;
                }
            }
        }
    }
}