.navigation--primary {
    background: $color-theme-1-3-1;
    position: relative;
    z-index: $z-index-navigation-primary;
    display: none;
    justify-content: center;
    &__item {
        position: relative;
        display: inline-block;
        & > a,
        & > button,
        .navigation--dropdown__toggle {
            padding: $s-0-50 $s-2;
            background: transparent;
            background-color: transparent;
            font-weight: $font-weight-regular;
            line-height: inherit;
            display: inline-block;
            color: $white;
            border: 0 !important;
            position: relative;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &:hover,
            &:focus {
                box-shadow: none !important;
                background: $color-theme-1-3-2;
            }
            &:visited {
                color: $white;
                &:hover,
                &:focus {
                    color: $white !important;
                }
            }
            &.active {
                font-weight: $font-weight-semibold;
                &:before {
                    content: "";
                    height: $s-2px;
                    width: $s-2;
                    background: $white;
                    position: absolute;
                    border-radius: $s-50;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: $s-0-50;
                }
            }
        }
        .navigation--dropdown {
            &.is-open {
                .navigation--dropdown {
                    &__toggle {
                        border: 0;
                    }
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        display: flex;
    }
}