{% set builder_mockup_classes = builder_mockup_classes|default() %}

<div class="builder-nds builder--mockup {{ builder_mockup_classes }}">
    {% embed "@nds/01-atoms/layouts/layouts-site/_layouts-site-main.twig" with
        {
            "layouts_site_id": "builder--mockup"
        }
    %}
        {% block header %}
            {% include "@nds/03-organisms/global/global-header/_global-header-main.twig" %}
        {% endblock %}
        {% block global_navigation %}
            {% include "@nds/02-molecules/navigation/navigation-primary/demo/navigation-primary.twig" %}
        {% endblock %}
        {% block hero %}
            {% embed "@nds/02-molecules/blocks/block-hero/_block-hero-main.twig" with
                {
                    "block_hero_blur": "parallax-blur progressive-reverse-blur",
                    "block_hero_width": "col-xl-9"
                }
            %}
                {% block block_hero_image %}
                    <img src="{{ imagePath }}michael-longmire-L9EV3OogLh0-unsplash.jpg" alt=""/>
                {% endblock %}
            {% endembed %}
        {% endblock %}
        {% block main %}
            {% embed "@nds/01-atoms/layouts/layouts-main/_layouts-main-main.twig" with
                {
                    "layouts_main_right": 9
                }
            %}
            {% block main_column %}
                {% embed "@nds/01-atoms/layouts/layouts-body/_layouts-body-main.twig" with
                    {
                        "layouts_body_vertical_padding": "no"
                    }
                %}
                    {% block body_content %}
                        {% include "@organisms/content/content-sample/_content-sample-main.twig" %}
                        {% include "@nds/02-molecules/blocks/block-wtph/_block-wtph-main.twig" %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
    {% block footer %}
        {% include "@nds/03-organisms/global/global-footer/demo/global-footer.twig" %}
    {% endblock %}
</div>