@mixin shadow-0($important:"") {
    @if ($important != "") {
        box-shadow: none !important;
    } @else {
        box-shadow: none;
    }
}
@mixin shadow-1($important:"") {
    @if ($important != "") {
        -webkit-box-shadow: 0 10px 24px 0 rgba(150,150,150,0.24) !important;
        -moz-box-shadow: 0 10px 24px 0 rgba(150,150,150,0.24) !important;
        box-shadow: 0 10px 24px 0 rgba(150,150,150,0.24) !important;
    } @else {
        -webkit-box-shadow: 0 10px 24px 0 rgba(150,150,150,0.24);
        -moz-box-shadow: 0 10px 24px 0 rgba(150,150,150,0.24);
        box-shadow: 0 10px 24px 0 rgba(150,150,150,0.24);
    }
}
@mixin shadow-2($important:"") {
    @if ($important != "") {
        -webkit-box-shadow: 0 10px 24px 0 rgba(57,57,57,0.24) !important;
        -moz-box-shadow: 0 10px 24px 0 rgba(57,57,57,0.24) !important;
        box-shadow: 0 10px 24px 0 rgba(57,57,57,0.24) !important;
    } @else {
        -webkit-box-shadow: 0 10px 24px 0 rgba(57,57,57,0.24);
        -moz-box-shadow: 0 10px 24px 0 rgba(57,57,57,0.24);
        box-shadow: 0 10px 24px 0 rgba(57,57,57,0.24);
    }
}

.hoverable {
    transition: box-shadow .25s;
    -webkit-transition: box-shadow .25s;
    -moz-transition: box-shadow .25s;
    &:hover, &:focus {
        @include shadow-2;
    }
}