// Drupal Admin UI
#toolbar-item-administration-tray {
    ul, ol, li, p {
        max-width: none;
    }
}

#block-niaid-drupal-theme-local-tasks {
    .tabs {
        margin: 0 !important;
        border: 0;
        li {
            border-radius: $border-radius-semi;
            padding: $s-0-50 $s-1;
            &:hover,
            &:focus-within {
                background: $type-link;
                a {
                    color: $white !important;
                }
            }
            a {
                padding: 0;
                border: $border-transparent;
                background: transparent;
                &:hover,
                &:focus {
                    background: transparent;
                    border: $border-transparent;
                }
            }
            &.is-active {
                background: $type-link;
                a {
                    color: $white !important;
                }
            }
        }
    }
}

.image-align-right,
.image-align-left,
.align-right,
.align-left {
    @extend .component--media;
    margin: $s-0-50 0;
    clear: both;
    @include media-breakpoint-up(md) {
        max-width: 50% !important;
    }
    .media {
        display: block;
    }
}
.image-align-left,
.align-left {
    float: none;
    @include media-breakpoint-up(md) {
        float: left;
        margin-right: $s-3 !important;
    }
}
.image-align-right,
.align-right {
    float: none;
    @include media-breakpoint-up(md) {
        float: right;
        margin-left: $s-3 !important;
    }
}
picture {
    br {
        display: none;
    }
}

// NDS Component Reset
.block-nds {
    & > article,
    & > .field__item {
        & > *:first-child {
            margin-top: 0;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
        .node__content {
            .field {
                & > *:first-child {
                    margin-top: 0;
                }
                & > *:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}