.block--swatch {
    padding: .25rem;
    display: inline-block;
    width: 100%;
    &__color {
        height: 3rem;
        width: 100%;
    }
    &__text {
        padding: .25rem;
        &__label {
            line-height: $line-height-small;
        }
        &__hex {
            @extend .sub-label;
        }
    }
}