.block--featured-content-card {
    margin: $s-1 0;
    max-width: 100%;
    padding: 0;
    background: $white;
    border: $s-1px solid $input-border;
    @include media-breakpoint-up(sm) {
        height: 100%;
    }
    &__image {
        padding: .25rem;
        max-height: 15rem;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &__text {
        padding: $s-1;
        &__title {
            margin-top: 0;
            font-size: $s-1-25;
        }
        &__featured {
            font-weight: $font-weight-semibold;
            font-size: .8rem;
            margin-top: -.5rem;
            display: block;
            margin-bottom: .5rem;
            color: $color-theme-1-1-1;
        }
        &__description {
            margin-bottom: 0;
        }
    }
}