.builder--side-drawer {
    @include md-16dp;
    background: #27282C;
    height: 100%;
    width: 100%;
    padding: 2rem;
    font-size: 1.25rem;
    h2,
    h3,
    h4 {
        font-family: "Roboto", sans-serif !important;
        color: #fff;
        &:first-of-type {
            margin-top: 0;
        }
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    ul, li, span, a, p {
        font-family: "Roboto", sans-serif !important;
    }

    #fonts {
        h3 {
            &:last-of-type {
                margin-top: 2rem;
            }
        }
    }

    .button--use-theme,
    .button--share-theme {
        margin: 1rem 0;
        display: block;
        width: 100%;
    }

    &__copied {
        display: block;
        opacity: 0;
        transition: opacity 2s;
    }

    &__link {
        display: none;
    }

    #getStartedModal {
        h1, h2, h3, h4 {
            color: $type-heading !important;
        }
        p, span, div {
            color: $type-body !important;
        }
    }
}