.builder--side-drawer {
    @include md-16dp;
    background: #27282C;
    height: 100%;
    width: 100%;
    padding: 2rem;
    font-size: 1.25rem;
    h2,
    h3,
    h4 {
        font-family: "Roboto", sans-serif !important;
        color: #fff;
        &:first-of-type {
            margin-top: 0;
        }
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    ul, li, span, a, p {
        font-family: "Roboto", sans-serif !important;
    }
    .button--generate-link {
        margin-right: .5rem;
    }

    #fonts {
        h3 {
            &:last-of-type {
                margin-top: 2rem;
            }
        }
    }

    &__copied {
        display: inline-block;
        vertical-align: bottom;
        opacity: 0;
        transition: opacity 2s;
    }

    &__link {
        display: none;
    }
}