@mixin input-checkbox-label {
    cursor: pointer;
    padding-left: $s-2;
    position: relative;
    margin: 0;
    font-weight: $font-weight-regular;
    line-height: $line-height-small;
    &:before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: $s-1-50;
        width: $s-1-50;
        background: $white;
        border: $border-input;
    }
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}

@mixin input-checkbox-checked {
    &:before {
        background: $color-theme-1-1-1;
        border: 0;
    }
    &:after {
        @extend %fa-icon;
        @extend .fas;
        color: $white;
        content: fa-content($fa-var-check);
        display: block;
        left: $s-0-25;
        top: 50%;
        transform: translateY(-50%);
    }
}

@mixin input-checkbox-focus {
    outline-color: Highlight;
    outline-color: -webkit-focus-ring-color;
    outline-offset: 1px;
    outline-style: solid;
    outline-width: 2px;
}

.input--checkbox {
    position: relative;
    margin: $s-0-50 0;
    &:first-child {
        margin-top: $s-1;
    }
    input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
    }
    input.check {
        outline: none;
        &:focus {
            + .input--label::before {
                @include input-checkbox-focus;
            }
        }
    }
    .input--label,
    label {
        @include input-checkbox-label;
    }
    input:checked~label {
        @include input-checkbox-checked;
    }
}