.button--image {
    @extend .button--primary;
    display: flex;
    align-items: center;
    padding: $s-1 $s-1-25;
    &__text {
        padding-left: $s-0-75;
    }
    img {
        max-height: $s-2;
    }
}