{% embed "@nds/01-atoms/input/input-select/_input-select-main.twig" with
    {
        "input_select_id": "fruit-multiselect",
        "input_select_placeholder": "Select Multiple Fruits...",
        "input_select_multiple": true
    }
%}
    {% block input_select_input %}
        <option value=""></option>
        <option value="Apple">Apple</option>
        <option value="Banana">Banana</option>
        <option value="Cherry">Cherry</option>
        <option value="Date">Date</option>
        <option value="Fig">Fig</option>
        <option value="Guava">Guava</option>
    {% endblock %}
{% endembed %}