{% set builder_style_tile_classes = builder_style_tile_classes|default() %}

<div class="builder-nds builder--style-tile {{ builder_style_tile_classes }}">
    {% embed "@nds/03-organisms/global/global-header/_global-header-main.twig" %}
        {% block global_header_content %}
            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                {
                    "button_icon_id": "global-mobile-menu",
                    "button_icon_classes": "global--header__button button--secondary",
                    "button_icon_icon": "bars",
                    "button_icon_aria_label": "Open Global Menu"
                }
            %}
            {% include "@nds/02-molecules/components/component-branding/_component-branding-main.twig" with
                {
                    "component_branding_identity_top": global_header_product_id_top,
                    "component_branding_identity_bottom": global_header_product_id_bottom
                }
            %}
            {% include "@nds/02-molecules/forms/form-search/_form-search-main.twig" with
                {
                    "form_search_id": "form-sample-search-2",
                    "form_search_input_id": "form-sample-search-input-id-2",
                    "form_search_input_name": "form-sample-search-input-name-2",
                    "form_search_input_placeholder": "Searching for something..."
                }
            %}
            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                {
                    "button_icon_id": "global-header-search--open",
                    "button_icon_classes": "global--header__button button--secondary",
                    "button_icon_icon": "search",
                    "button_icon_aria_label": "Open Global Search"
                }
            %}
        {% endblock %}
    {% endembed %}
    {% include "@nds/02-molecules/navigation/navigation-primary/demo/navigation-primary.twig" %}
    <div class="container-fluid builder--style-tile__body">
        {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
            {
                "image_default_classes": 'splotch',
                "image_default_src": 'splotch.svg',
                "image_default_alt": ""
            }
        %}
        <div class="row">
            <div class="col-lg-7">
                <div class="display-row">
                    {% include "@atoms/text/text-headings/demo/text-headings.twig" %}
                </div>
                <div class="display-row">
                    {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                        {
                            "button_default_type": "primary",
                            "button_default_href": "#",
                            "button_default_label": "Primary Button"
                        }
                    %}
                    {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                        {
                            "button_default_type": "secondary",
                            "button_default_href": "#",
                            "button_default_label": "Secondary Button"
                        }
                    %}
                    {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                        {
                            "button_default_type": "tertiary",
                            "button_default_href": "#",
                            "button_default_label": "Tertiary Button"
                        }
                    %}
                </div>
                <div class="display-row">
                    {% include "@molecules/blocks/block-inputs/_block-inputs-main.twig" %}
                </div>
                <div class="display-row">
                    {% include "@nds/02-molecules/blocks/block-default/demo/block-default.twig" %}
                </div>
                <div class="display-row">
                    {% include "@nds/01-atoms/tables/table-default/demo/table-default.twig" %}
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    {% include "@molecules/blocks/block-colors/_block-colors-main.twig" %}
                </div>
                {% include "@nds/02-molecules/blocks/block-wtph/_block-wtph-main.twig" %}
            </div>
        </div>
    </div>
    {% include "@nds/03-organisms/global/global-footer/demo/global-footer.twig" %}
</div>