{% set builder_style_tile_classes = builder_style_tile_classes|default() %}

<div class="builder-pl builder--style-tile {{ builder_style_tile_classes }}">
    {% include "@nds/03-organisms/global/global-header/_global-header-main.twig" %}
    {% include "@nds/02-molecules/navigation/navigation-primary/_navigation-primary-main.twig" with
        {
            "navigation_primary_id": "exampleNavigation"
        }
    %}
    <div class="container-fluid builder--style-tile__body">
        {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
            {
                "image_default_classes": 'splotch',
                "image_default_src": '../images/global/splotch.svg',
                "image_default_alt": ""
            }
        %}
        <div class="row">
            <div class="col-lg-7">
                <div class="display-row">
                    {% include "@atoms/text/text-headings/demo/text-headings.twig" %}
                </div>
                <div class="display-row">
                    {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                        {
                            "button_default_type": "primary",
                            "button_default_href": "#",
                            "button_default_label": "Primary Button"
                        }
                    %}
                    {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                        {
                            "button_default_type": "secondary",
                            "button_default_href": "#",
                            "button_default_label": "Secondary Button"
                        }
                    %}
                    {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                        {
                            "button_default_type": "tertiary",
                            "button_default_href": "#",
                            "button_default_label": "Tertiary Button"
                        }
                    %}
                </div>
                <div class="display-row">
                    {% include "@molecules/blocks/block-inputs/_block-inputs-main.twig" %}
                </div>
                <div class="display-row">
                    {% include "@nds/02-molecules/blocks/block-default/demo/block-default.twig" %}
                </div>
                <div class="display-row">
                    {% include "@nds/01-atoms/tables/table-default/demo/table-default.twig" %}
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    {% include "@nds/02-molecules/blocks/block-colors/_block-colors-main.twig" %}
                </div>
                {% include "@nds/02-molecules/blocks/block-wtph/_block-wtph-main.twig" %}
            </div>
        </div>
    </div>
    {% embed "@nds/03-organisms/global/global-footer/_global-footer-main.twig" %}
        {% block footer_content %}
            {% embed "@nds/02-molecules/blocks/block-default/_block-default-main.twig" %}
                {% block block_content %}
                    <h4>Footer Column 1</h4>
                    <h5><a href="#">5601 Fishers Lane</a></h5>
                    <p>5601 Fishers Lane, Rockville, MD 20852</p>
                    <h5><a href="#">NIH Main Campus</a></h5>
                    <p>9000 Rockville Pike, Bethesda, MD 20892</p>
                    <h5><a href="#">Rocky Mountain Laboratories (RML)</a></h5>
                    <p>903 S 4th St, Hamilton, MT 59840</p>
                {% endblock %}
            {% endembed %}
            {% embed "@nds/02-molecules/blocks/block-default/_block-default-main.twig" %}
                {% block block_content %}
                    <h4>Footer Column 2</h4>
                    <h5><a href="#">5601 Fishers Lane</a></h5>
                    <p>5601 Fishers Lane, Rockville, MD 20852</p>
                    <h5><a href="#">NIH Main Campus</a></h5>
                    <p>9000 Rockville Pike, Bethesda, MD 20892</p>
                    <h5><a href="#">Rocky Mountain Laboratories (RML)</a></h5>
                    <p>903 S 4th St, Hamilton, MT 59840</p>
                {% endblock %}
            {% endembed %}
            {% embed "@nds/02-molecules/blocks/block-default/_block-default-main.twig" %}
                {% block block_content %}
                    <h4>Footer Column 3</h4>
                    <h5><a href="#">5601 Fishers Lane</a></h5>
                    <p>5601 Fishers Lane, Rockville, MD 20852</p>
                    <h5><a href="#">NIH Main Campus</a></h5>
                    <p>9000 Rockville Pike, Bethesda, MD 20892</p>
                    <h5><a href="#">Rocky Mountain Laboratories (RML)</a></h5>
                    <p>903 S 4th St, Hamilton, MT 59840</p>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
</div>