{% embed "@nds/02-molecules/navigation/navigation-dropdown/_navigation-dropdown-main.twig" with
    {
        "navigation_dropdown_id": "navigation-dropdown-example",
        "navigation_dropdown_toggle_text": "Dropdown",
        "navigation_dropdown_toggle_aria_label": "Open Dropdown",
        "navigation_dropdown_toggle_href": "#"
    }
%}
    {% block navigation_dropdown_content %}
        <a href="#">Dropdown Item A</a>
        <a href="#">Dropdown Item B</a>
        <a href="#">Dropdown Item C</a>
        <a href="#">Dropdown Item D</a>
    {% endblock %}
{% endembed %}