{% set block_header_classes = block_header_classes|default() %}
{% set block_header_title = block_header_title|default() %}
{% set block_header_id = block_header_id|default() %}

<div id="block--header" class="block-nds block--header {{ block_header_classes }}">
    {% block block_header_preheader %}
        {% include "@nds/02-molecules/navigation/navigation-breadcrumbs/_navigation-breadcrumbs-main.twig" with
            {
                "navigation_breadcrumbs_data": [
                    {
                        "text": "Level 1",
                        "href": "#"
                    },
                    {
                        "text": "Level 2",
                        "href": "#"
                    },
                    {
                        "text": "Level 3",
                        "href": "#"
                    }
                ]
            }
        %}
    {% endblock %}
    <h1{% if block_header_id is not empty %} id="{{ block_header_id }}"{% endif %} class="block--header__title">{{ block_header_title }}</h1>
    {% block block_header_subheader %}
        {% include "@nds/02-molecules/blocks/block-share/_block-share-main.twig" with
            {
                "block_share_data": [
                    {
                        "ariaLabel": "Share on Facebook",
                        "href": "#",
                        "icon": "facebook-f",
                        "type": "facebook"
                    },
                    {
                        "ariaLabel": "Share on Twitter",
                        "href": "#",
                        "icon": "twitter",
                        "type": "twitter"
                    },
                    {
                        "ariaLabel": "Share on Linkedin",
                        "href": "#",
                        "icon": "linkedin-in",
                        "type": "linkedin"
                    }
                ]
            }
        %}
    {% endblock %}
</div>