{#
    ---
    title: Links List
    ---

    Type: Atoms -> Lists

    Description:
        This pattern can be used to generate a list of links with or without icons. To include icons, all icon parameters must be supplied as part of the list_links_data objects.

    Parameters:
        list_links_classes: Additional list classes.
        list_links_data: An array of link objects. Structure: {"text": "", "href": "", "icon": "", "weight": "", "position": ""}. Position options should be either "left" or "right".
        list_links_type: The type of list to generate. Options: "ul" (Default), "ol".

    Includes:
        Atoms -> Links -> link-icon
        Atoms -> Links -> link-default

    Last Updated: January 15, 2021
#}

{% set list_links_classes = list_links_classes|default() %}
{% set list_links_data = list_links_data|default() %}
{% set list_links_type = list_links_type|default('ul') %}

<{{ list_links_type }} class="list-nds list--links {{ list_links_classes }}">
    {% for link in list_links_data %}
        <li>
            {% if link.icon is not empty %}
                {% include "@nds/01-atoms/links/link-icon/_link-icon-main.twig" with
                    {
                        "link_icon_href": link.href,
                        "link_icon_text": link.text,
                        "link_icon_type": link.icon,
                        "link_icon_weight": link.weight,
                        "link_icon_classes": link.classes,
                        "link_icon_position": link.position
                    }
                %}
            {% else %}
                {% include "@nds/01-atoms/links/link-default/_link-default-main.twig" with
                    {
                        "link_default_href": link.href,
                        "link_default_text": link.text
                    }
                %}
            {% endif %}
        </li>
    {% endfor %}
</{{ list_links_type }}>