.block--share {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    background: transparent;
    margin: 0;
    border: 0;
    position: absolute;
    top: 1rem;
    right: 0;
    &__wrapper {
        width: 100%;
        .button--share {
            height: 1.75rem;
            width: 1.75rem;
            margin: 0 0 .75rem 0;
        }
    }
}