.navigation--breadcrumbs {
    font-weight: $font-weight-light;
    font-size: $s-0-75;
    padding: 0;
    > p {
        margin: 0;
        padding: 0;
    }
    a {
        &:hover,
        &:focus {
            border-bottom: $s-1px solid transparent;
        }
    }
    i {
        font-size: $s-0-75;
        width: auto;
        color: $type-body;
    }
}