{#
    ---
    title: Status Message Block
    ---

    Type: Molecules -> Blocks

    Description:
        Status messages are used to convey important information to users. There are four types of status messages - success, information, warning, and error:
            - Success (success) - Indicates a user has completed an important step or call to action.
            - Information (information) - Calls out an important snippet of information a user could find useful at-a-glance.
            - Warning (warning) - Slows a reader down if skimming through the content. Indicates the user may need to take action before moving on.
            - Error (error) - Used in rare cases where a user should stop reading or moving forward and take additional action.

    Blocks:
        {% block block_status_message_content %}: The status message HTML content.

    Parameters:
        block_status_message_classes: Additional status message classes.
        block_status_message_id: Status message ID.
        block_status_message_type: The type of status message (required). Options: "success", "information", "warning", "error". Default: "information".
        block_status_message_attributes: Additional status message attributes, used particularly if these messages appear dynamically.

    Last Updated: December 6, 2023
#}

{% set block_status_message_classes = block_status_message_classes|default() %}
{% set block_status_message_id = block_status_message_id|default() %}
{% set block_status_message_type = block_status_message_type|default('information') %}
{% set block_status_message_attributes = block_status_message_attributes|default() %}

<div class="block-nds block--status-message block--status-message--{{ block_status_message_type ~ " " ~ block_status_message_classes }}"{% if block_status_message_id is not empty %} id="{{ block_status_message_id }}"{% endif %} {{ block_status_message_attributes|raw }}>
    {% block block_status_message_content %}{% endblock %}
</div>