.block--status-message {
    position: relative;
    padding: $s-2;
    margin: $s-2 0 0 0;
    &:before {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $s-1-25;
        height: $s-2-50;
        width: $s-2-50;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: $s-1-25;
        transform: translate(0, -50%);
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-question-circle);
        color: $white;
    }
    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
    a,
    p,
    ol,
    ul {
        max-width: none;
    }
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.block--status-message--warning {
    background: $status-warning-light;
    &:before {
        background: $status-warning;
        color: $type-heading;
        content: fa-content($fa-var-exclamation-triangle);
    }
}
.block--status-message--information {
    background: $status-information-light;
    &:before {
        background: $status-information;
        content: fa-content($fa-var-question-circle);
    }
}
.block--status-message--success {
    background: $status-success-light;
    &:before {
        background: $status-success;
        content: fa-content($fa-var-check);
    }
}
.block--status-message--error {
    background: $status-error-light;
    &:before {
        background: $status-error;
        content: fa-content($fa-var-times);
    }
}