{#
    ---
    title: Icon Circle
    ---

    Type: Atoms -> Icons

    Description:
        This component can be useful for adding visual interest or additional meaning through iconography. In general, NDS advises that icons be used only when their meaning is very clear.

    Parameters:
        icon_circle_classes: Additional pattern classes.
        icon_circle_icon: Font Awesome icon name.
        icon_circle_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).
        icon_circle_attributes: Additional pattern attributes.

    Last Updated: January 22, 2021
#}

{% set icon_circle_classes = icon_circle_classes|default() %}
{% set icon_circle_icon = icon_circle_icon|default() %}
{% set icon_circle_icon_weight = icon_circle_icon_weight|default('s') %}
{% set icon_circle_attributes = icon_circle_attributes|default() %}

<div class="icon-nds icon--circle {{ icon_circle_classes }}" {{ icon_circle_attributes }}>
    {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
        {
            "icon_default_type": icon_circle_icon,
            "icon_default_weight": icon_circle_icon_weight
        }
    %}
</div>