.icon--circle {
    background: $white;
    @include md-2dp;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        color: $type-body;
    }
}