{% embed "@nds/04-templates/generic/_generic-main.twig" %}
    {% block header %}
        {% include "@nds/02-molecules/components/component-uswds-banner/_component-uswds-banner-main.twig" %}
        {% include "@nds/03-organisms/global/global-header/_global-header-main.twig" with
            {
                "global_header_product_id_top": "Your Website Name"
            }
        %}
    {% endblock %}
    {% block navigation %}
        {% include "@nds/02-molecules/navigation/navigation-primary/demo/navigation-primary.twig" %}
        {% include "@nds/02-molecules/navigation/navigation-drawer/demo/navigation-drawer.twig" %}
    {% endblock %}
    {% block main %}
        {% embed "@nds/01-atoms/layouts/layouts-main/_layouts-main-main.twig" with
            {
                "layouts_main_left": columns.left,
                "layouts_main_main": columns.main,
                "layouts_main_right": columns.right
            }
        %}
            {% block left_column %}
                {% include "@nds/02-molecules/navigation/navigation-local/demo/navigation-local.twig" %}
            {% endblock %}
            {% block main_column %}
                {% embed "@nds/01-atoms/layouts/layouts-body/_layouts-body-main.twig" with
                    {
                        "layouts_body_top_padding": "no"
                    }
                %}
                    {% block body_content %}
                        {% include "@nds/02-molecules/navigation/navigation-breadcrumbs/_navigation-breadcrumbs-main.twig" with
                            {
                                "navigation_breadcrumbs_data": [
                                    {
                                        "text": "Level 1"
                                    },
                                    {
                                        "text": "Level 2",
                                        "href": "#"
                                    },
                                    {
                                        "text": "Level 3",
                                        "href": "#"
                                    }
                                ]
                            }
                        %}
                        <h1 id="main-content">Generic Page</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        {% include "@nds/02-molecules/components/component-media/_component-media-main.twig" with
                            {
                                "component_media_src": "global/sample/fpo_4x3.png",
                                "component_media_alt": "Sample Image",
                                "component_media_float": "right",
                                "component_media_credit": "NIAID",
                                "component_media_caption": "This is an image caption.",
                                "component_media_lightbox": "yes"
                            }
                        %}
                        <h2>Heading Level Two</h2>
                        <p><a href="#">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                        <h2>Another Heading Level Two</h2>
                        <p><a href="#">Lorem ipsum</a> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                        <h3>Heading Level Three</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        {% embed "@nds/02-molecules/blocks/block-status-message/_block-status-message-main.twig" with
                            {
                                "block_status_message_type": "message--information"
                            }
                        %}
                            {% block block_status_message_content %}
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada bibendum arcu vitae elementum curabitur vitae.</p>
                            {% endblock %}
                        {% endembed %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            {% block right_column %}
                {% include "@nds/02-molecules/navigation/navigation-page-contents/_navigation-page-contents-main.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
    {% block footer %}
        {% include "@nds/03-organisms/global/global-footer/demo/global-footer.twig" %}
    {% endblock %}
{% endembed %}