{#
    ---
    title: Input Radio
    ---

    Type: Atoms -> Input

    Description:
        A pattern for a single radio.

    Parameters:
        input_radio_id: Radio ID.
        input_radio_classes: Radio ID.
        input_radio_name: Name attribute of the input element.
        input_radio_label: Text label of the radio option.
        input_radio_value: Value of the radio option.
        input_radio_disabled: Bool determining if the input is disabled or not. Options: true, false.
        input_radio_readonly: Bool determining if the input is readonly or not. Options: true, false.
        input_radio_required: Bool determining if the input is required or not. Options: true, false.

    Includes:
        Atoms -> Input -> input-attributes
        Atoms -> Input -> input-label

    Last Updated: March 4, 2021
#}

{% set input_radio_id = input_radio_id|default() %}
{% set input_radio_classes = input_radio_classes|default() %}
{% set input_radio_name = input_radio_name|default() %}
{% set input_radio_label = input_radio_label|default() %}
{% set input_radio_value = input_radio_value|default() %}
{% set input_radio_title = input_radio_title|default() %}
{% set input_radio_disabled = input_radio_disabled|default() %}
{% set input_radio_readonly = input_radio_readonly|default() %}
{% set input_radio_required = input_radio_required|default() %}

<div class="input-nds input--radio {{ input_radio_classes }}" tabindex="0">
    <input
        {% include "@nds/01-atoms/input/input-attributes/_input-attributes-main.twig" with
            {
                "input_attributes_id": input_radio_id,
                "input_attributes_name": input_radio_name,
                "input_attributes_type": "radio",
                "input_attributes_value": input_radio_value,
                "input_attributes_disabled": input_radio_disabled,
                "input_attributes_readonly": input_radio_readonly,
                "input_attributes_required": input_radio_required
            }
        %}
    tabindex="-1">
    {% include "@nds/01-atoms/input/input-label/_input-label-main.twig" with
        {
            "input_label_id": input_radio_id,
            "input_label_text": input_radio_label
        }
    %}
</div>