<nav class="navigation-nds navigation--local ">
    <div class="navigation--local__accordion" id="local-navigation">
        <button id="localNavMobileButton" class="navigation--local__accordion__button" data-toggle="collapse" data-target="#localNavMobileTarget" aria-expanded="true" aria-controls="localNavMobileTarget"><span>IN THIS SECTION</span>
                <div class="accordion-arrow"></div>
        </button>
        <div id="localNavMobileTarget" class="navigation--local__accordion__target collapse show" aria-labelledby="localNavMobileButton" data-parent="#local-navigation">
            <div class="component-nds component--local-navigation-accordion ">
                <h2 class="component--local-navigation-accordion__title"><a href="#">Section Heading</a></h2>
                <hr>
                <div id="LN-accordion-1000">
                    <div class="card cardlevel-0">
                        <div class="card-header level-0">
                            <div class="card-header-text d-inline-flex">
                                <div class="p-card-header">
                                    <a href="#" onclick="event.stopPropagation();">Topic Page One Lorem Ipsum</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card cardlevel-0">
                        <div class="card-header level-0">
                            <div class="card-header-text d-inline-flex">
                                <div class="p-card-header">
                                    <a href="#" onclick="event.stopPropagation();">Topic Page Two Lorem Ipsum</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card cardlevel-0">
                        <div class="card-header level-0">
                            <div class="card-header-text d-inline-flex">
                                <div class="p-card-header">
                                    <a href="#" onclick="event.stopPropagation();">Topic Page Three Lorem Ipsum</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card cardlevel-0">
                        <div class="card-header level-0">
                            <div class="card-header-text d-inline-flex">
                                <div class="p-card-header">
                                    <a href="#" onclick="event.stopPropagation();">Topic Page Four Lorem Ipsum</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card cardlevel-0">
                        <div class="card-header level-0">
                            <div class="card-header-text d-inline-flex">
                                <div class="p-card-header">
                                    <a href="#" onclick="event.stopPropagation();">Topic Page Five Lorem Ipsum</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card cardlevel-0">
                        <div class="card-header level-0" id="LN-sec-1006" data-toggle="collapse" data-target="#LN-clps-1006" aria-expanded="false" aria-label="Open Diagnosis &amp; Management Guidelines Menu" aria-controls="LN-clps-1006" tabindex="0">
                            <div class="card-header-text d-inline-flex">
                                <div class="p-card-header">
                                    <a href="#" onclick="event.stopPropagation();">Topic Page Six Lorem Ipsum</a>
                                </div>
                            </div>
                            <div class="card-header-button">
                                <div class="arrow">
                                    <div class="accordion-arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div id="LN-clps-1006" class="collapse " aria-labelledby="LN-sec-1006" data-parent="#LN-accordion-1000">
                            <div class="card-body">
                                <div id="LN-accordion-1006000">
                                    <div class="card cardlevel-1">
                                        <div class="card-header level-1">
                                            <div class="card-header-text d-inline-flex">
                                                <div class="p-card-header">
                                                    <a href="#" onclick="event.stopPropagation();">Sub-Topic Page One Lorem Ipsum</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>