{% set link_default_classes = link_default_classes|default() %}
{% set link_default_href = link_default_href|default() %}
{% set link_default_text = link_default_text|default() %}
{% set link_default_attributes = link_default_attributes|default() %}

<a class="link-nds link--default {{ link_default_classes }}" href="{{ link_default_href }}" {{ link_default_attributes }}>{{ link_default_text }}</a>