{% set block_colors_classes = block_colors_classes|default() %}

<div class="block-nds block--colors {{ block_colors_classes }}">
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "Heading Color",
            "global_color_indicator_hex": "#3C3C3C"
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "Body Color",
            "global_color_indicator_hex": "#404B56"
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "Link Color",
            "global_color_indicator_hex": "#246CD3"
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "Input Border",
            "global_color_indicator_hex": "#888888"
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_classes": "global--color-indicator--bg",
            "global_color_indicator_title": "Page Background",
            "global_color_indicator_hex": "#FDFDFD"
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_classes": "global--color-indicator--bg",
            "global_color_indicator_title": "Alternate Background",
            "global_color_indicator_hex": "#F5F6FA"
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "Success Color",
            "global_color_indicator_hex": "#078A00"
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "Error Color",
            "global_color_indicator_hex": "#C9191C"
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "NIAID Blue",
            "global_color_indicator_hex": "#20558A"
        }
    %}
    <hr>
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_classes": "indicator-color--1",
            "global_color_indicator_title": "Theme Color 1",
            "global_color_indicator_hex": "#157B8D"
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_classes": "indicator-color--2",
            "global_color_indicator_title": "Theme Color 2",
            "global_color_indicator_hex": "#497951"
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_classes": "indicator-color--3",
            "global_color_indicator_title": "Theme Color 3",
            "global_color_indicator_hex": "#262626"
        }
    %}
</div>