.style--colors--theme-2 {
    .button--icon--outline {
        width: 100%;
        background: transparent !important;
        color: $color-theme-2-1-1;
        &:hover,
        &:focus {
            background: $color-theme-2-1-1 !important;
            color: $white;
        }
        &:visited {
            color: $color-theme-2-1-1;
            &:hover,
            &:focus {
                color: $white;
            }
        }
    }
}

.style--colors--theme-3 {
    .button--icon--outline {
        width: 100%;
        background: transparent !important;
        color: $color-theme-3-1-1;
        &:hover,
        &:focus {
            background: $color-theme-3-1-1 !important;
            color: $white;
        }
        &:visited {
            color: $color-theme-3-1-1;
            &:hover,
            &:focus {
                color: $white;
            }
        }
    }
}