.style--colors--theme-2 {
    .button--image {
        background: transparent;
        border: 0.0625rem solid $color-theme-2-1-1;
        span {
            color: $color-theme-2-1-1;
        }
        &:hover,
        &:focus {
            span {
                color: $white;
            }
        }
        &:not([href]):not([tabindex]):hover,
        &:not([href]):not([tabindex]):focus,
        &:not([href]):not([tabindex]):active {
            border: 0.0625rem solid $color-theme-2-1-1;
            background-color: $color-theme-2-1-1;
        }
    }
    #getting-started {
        .button--jump-links {
            .button--icon {
                width: 100%;
                background: transparent;
                color: $color-theme-2-1-1;
                &:hover,
                &:focus {
                    background: $color-theme-2-1-1;
                    color: $white;
                }
            }
        }
    }
}

.style--colors--theme-3 {
    .button--image {
        background: transparent;
        border: 0.0625rem solid $color-theme-3-1-1;
        span {
            color: $color-theme-3-1-1;
        }
        &:hover,
        &:focus {
            span {
                color: $white;
            }
        }
        &:not([href]):not([tabindex]):hover,
        &:not([href]):not([tabindex]):focus,
        &:not([href]):not([tabindex]):active {
            border: 0.0625rem solid $color-theme-3-1-1;
            background-color: $color-theme-3-1-1;
        }
    }
    #getting-started {
        .button--jump-links {
            .button--icon {
                width: 100%;
                background: transparent;
                color: $color-theme-3-1-1;
                &:hover,
                &:focus {
                    background: $color-theme-3-1-1;
                    color: $white;
                }
            }
        }
    }
}