.style--colors--theme-2 {
    .component--scrollspy-toc {
        &__list {
            &__item {
                a {
                    &.active {
                        border-left: 0.125rem solid $color-theme-2-1-1;
                        &:hover,
                        &:focus {
                            border-left: 0.125rem solid $color-theme-2-1-1;
                        }
                    }
                }
            }
        }
    }
    #builder {
        > .main {
            > .layouts--main {
                .navigation--mobile-rail__button {
                    &:hover,
                    &:focus {
                        background: $color-theme-2-1-1;
                        border-bottom: $s-1px solid $color-theme-2-1-1;
                    }
                }
            }
        }
    }
}

.style--colors--theme-3 {
    .component--scrollspy-toc {
        &__list {
            &__item {
                a {
                    &.active {
                        border-left: 0.125rem solid $color-theme-3-1-1;
                        &:hover,
                        &:focus {
                            border-left: 0.125rem solid $color-theme-3-1-1;
                        }
                    }
                }
            }
        }
    }
    #builder {
        > .main {
            > .layouts--main {
                .navigation--mobile-rail__button {
                    &:hover,
                    &:focus {
                        background: $color-theme-3-1-1;
                        border-bottom: $s-1px solid $color-theme-3-1-1;
                    }
                }
            }
        }
    }
}