.style--corners--semirounded {
    $corner-radius: .3125rem;
    .block--swatch {
        &__color {
            border-radius: $corner-radius * 3 / 4;
        }
    }
    .component--snippet {
        pre {
            border-radius: 0 0 $corner-radius $corner-radius;
        }
        &.no-render {
            .component--snippet__block {
                border: 0;
            }
            .component--snippet__block__code__snippet {
                border: 0.0625rem solid $input-border;
                border-radius: $corner-radius;
            }
            pre {
                border-radius: $corner-radius;
            }
        }
    }
}

.style--corners--rounded {
    $corner-radius: 1rem;
    .block--swatch {
        &__color {
            border-radius: $corner-radius * 3 / 4;
        }
    }
    .component--snippet {
        pre {
            border-radius: 0 0 $corner-radius $corner-radius;
        }
        &.no-render {
            .component--snippet__block {
                border: 0;
            }
            .component--snippet__block__code__snippet {
                border: 0.0625rem solid $input-border;
                border-radius: $corner-radius;
            }
            pre {
                border-radius: $corner-radius;
            }
        }
    }
}