.style--corners--semirounded {
    $corner-radius: .3125rem;
    .block--swatch {
        &__color {
            border-radius: $corner-radius * 3 / 4;
        }
    }
    .component--snippet {
        &__block__code__snippet,
        pre {
            border-radius: 0 0 $corner-radius $corner-radius;
        }
    }
    #design {
        .container {
            border-radius: $corner-radius;
        }
    }
}

.style--corners--rounded {
    $corner-radius: 1rem;
    .button--jump-links,
    .block--fonts,
    .block--files {
        .button--icon {
            border-radius: $corner-radius;
        }
    }
    .block--swatch {
        &__color {
            border-radius: $corner-radius * 3 / 4;
        }
    }
    .component--snippet {
        &__block__code__snippet,
        pre {
            border-radius: 0 0 $corner-radius $corner-radius;
        }
        &__block {
            &__pattern {
                &__toggle {
                    border-radius: 0 0 $corner-radius $corner-radius;
                }
            }
        }
    }
    #design {
        .container {
            border-radius: $corner-radius;
        }
    }
}