.style--shadows {
    .builder--mockup {
        background: $page-background-alternate;
    }
    .layouts--tabs {
        &__tab {
            box-shadow: none;
            &:hover,
            &:focus {
                box-shadow: none;
            }
        }
    }

    .block-nds {
        &.block--full-palette {
            @include md-0dp;
        }
    }
}