.style--shadows {
    .builder--mockup {
        background: $page-background-alternate;
    }
    .fixed-left {
        .layouts--main__first {
            @include media-breakpoint-up(lg) {
                background: $page-background;
            }
        }
    }
    .layouts--tabs {
        &__tab {
            box-shadow: none;
            &:hover,
            &:focus {
                box-shadow: none;
            }
        }
    }

    .block-nds {
        &.block--full-palette {
            @include md-0dp;
        }
    }
    .fixed-left {
        .layouts--main__first {
            border-right: 0;
        }
    }
    .global-nds {
        &.global--header {
            @include md-8dp;
            @include media-breakpoint-up('md') {
                @include md-8dp;
            }
            @media only screen and (min-width: $mobile-breakpoint) {
                @include md-0dp;
            }
        }
    }
}