.style--shadows {
    .builder--mockup {
        background: $page-background-alternate;
    }
    .fixed-left {
        .layouts--main__first {
            @include media-breakpoint-up(lg) {
                background: $page-background;
            }
        }
    }
    .layouts--tabs {
        &__tab {
            box-shadow: none;
            &:hover,
            &:focus {
                box-shadow: none;
            }
        }
    }

    .block-nds {
        &.block--palette {
            background: transparent;
        }
        &.block--full-palette,
        &.block--dependencies {
            @include md-0dp;
        }
    }
    .fixed-left {
        .layouts--main__first {
            border-right: 0;
        }
    }
    .component--snippet {
        &__block {
            &__pattern {
                &__toggle {
                    border: 0 !important;
                    &:hover,
                    &:focus {
                        border: 0 !important;
                    }
                }
                &__content {
                    h5 {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
    .global-nds {
        &.global--header {
            @include md-8dp;
            @include media-breakpoint-up('md') {
                @include md-8dp;
            }
            @media only screen and (min-width: $mobile-breakpoint) {
                @include md-0dp;
            }
        }
    }
}