// GLOBAL

html,
body {
    line-height: $line-height-default;
    font-size: $base-size-pixels * 1px;
    background-color: $page-background;
    font-family: $font-stack-public-sans;
    color: $type-body;
    margin: 0;
    -webkit-text-size-adjust: 100%; // From Bootstrap
    -webkit-tap-highlight-color: transparent; // From Bootstrap
}

@media print {
    html,
    body,
    .layouts--body {
        background-color: transparent !important;
    }

    .button-nds,
    table,
    figure {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .button--floating,
    .component--uswds-banner,
    .navigation--page-contents,
    .navigation--mobile-rail,
    .global--header .button--icon,
    .global--footer {
        display: none !important;
    }
}