.navigation--tabs {
    display: flex;
    &__inner-wrapper {
        border: $border-block;
        padding: $s-0-25;
        &__tab {
            display: inline-flex;
            justify-content: center;
            padding: $s-0-75 $s-1-50;
            cursor: pointer;
            border-bottom: 0;
            line-height: $line-height-heading;
            width: 100%;
            @include media-breakpoint-up(sm) {
                width: auto;
            }
            &:hover,
            &:focus,
            &:visited {
                color: $type-link;
                border-bottom: 0;
                &:visited {
                    color: $type-link;
                }
            }
            &.active {
                font-weight: $font-weight-semibold;
                background-color: $type-link;
                color: $white;
                &:hover,
                &:focus,
                &:visited {
                    color: $white;
                    &:visited {
                        color: $white;
                    }
                }
            }
        }
    }
}