.navigation--tabs {
    &__tab {
        display: inline-flex;
        padding: $s-0-50 $s-1-50;
        border-bottom: $s-0-25 solid transparent;
        cursor: pointer;
        &:hover,
        &:focus,
        &:visited {
            color: $type-link;
            &:visited {
                color: $type-link;
            }
        }
        &.active {
            border-bottom: $s-0-25 solid $type-link;
        }
    }
}