{% set component_media_classes = component_media_classes|default() %}
{% set component_media_src = component_media_src|default() %}
{% set component_media_alt = component_media_alt|default() %}
{% set component_media_credit = component_media_credit|default() %}
{% set component_media_caption = component_media_caption|default() %}
{% set component_media_float = component_media_float|default() %}
{% set component_media_credit_label = component_media_credit_label|default() %}
{% set component_media_lightbox = component_media_lightbox|default() %}

{% if component_media_lightbox == "yes" %}
    {% set component_media_image_classes = "materialboxed" %}
{% endif %}

{% if component_media_float == "left" %}
    {% set component_media_classes = component_media_classes ~ " component--media--left"  %}
{% endif %}
{% if component_media_float == "right" %}
    {% set component_media_classes = component_media_classes ~ " component--media--right"  %}
{% endif %}

<div class="component-nds component--media {{ component_media_classes }}">
    <div class="component--media__media">
        {% block component_media %}
            {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
                {
                    "image_default_classes": component_media_image_classes,
                    "image_default_src": component_media_src,
                    "image_default_alt": component_media_alt
                }
            %}
        {% endblock %}
    </div>
    <div class="component--media__text">
        <div class="component--media__text__content-wrapper">
            {% if component_media_caption is not empty or component_media_credit is not empty %}
                {% include "@nds/01-atoms/text/text-image-credit-caption/_text-image-credit-caption-main.twig" with
                    {
                        "text_image_credit_caption_caption": component_media_caption,
                        "text_image_credit_caption_credit": component_media_credit,
                        "text_image_credit_caption_credit_label": component_media_credit_label
                    }
                %}
            {% endif %}
        </div>
    </div>
</div>
