{% set global_header_classes = global_header_classes|default() %}
{% set global_header_product_id_top = global_header_product_id_top|default() %}
{% set global_header_product_id_bottom = global_header_product_id_bottom|default() %}

<div class="global-nds global--header {{ global_header_classes }}">
    {% include "@nds/02-molecules/components/component-branding/_component-branding-main.twig" with
        {
            "component_branding_identity_top": global_header_product_id_top,
            "component_branding_identity_bottom": global_header_product_id_bottom,
            "component_branding_href": links.index
        }
    %}
    <div>
        <span class="global--header__version">{{ ndsVersion }}</span>
        {# {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
            {
                "button_icon_classes": 'global--header__download-button button--secondary',
                "button_icon_href": links.getStarted,
                "button_icon_icon": "download",
                "button_icon_text": "Download NDS"
            }
        %} #}
        {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
            {
                "button_icon_classes": "button--github",
                "button_icon_icon": "github",
                "button_icon_icon_weight": "b",
                "button_icon_icon_size": "large",
                "button_icon_text": "NDS on GitHub",
                "button_icon_href": "https://github.com/niaid/niaid-design-system",
                "button_icon_aria_label": "NDS on GitHub"
            }
        %}
    </div>
    {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
        {
            "button_icon_id": "global-mobile-menu",
            "button_icon_classes": "global--header__button button--secondary",
            "button_icon_icon": "bars",
            "button_icon_icon_weight": "l",
            "button_icon_aria_label": "Open Global Menu"
        }
    %}
</div>