{% include "@molecules/components/component-style-controls/_component-style-controls-main.twig" %}

{% embed "@nds/01-atoms/layouts/layouts-site/_layouts-site-main.twig" with
    {
        "layouts_site_id": "development"
    }
%}
    {% block header %}
        {% include "@nds/02-molecules/components/component-uswds-banner/_component-uswds-banner-main.twig" %}
        {% include "@organisms/global/global-header/_global-header-main.twig" with
            {
                "global_header_product_id_top": "Design System"
            }
        %}
    {% endblock %}
    {% block global_navigation %}
        {% include "@molecules/navigation/navigation-primary/_navigation-primary-main.twig" %}
        {% include "@molecules/navigation/navigation-drawer/_navigation-drawer-main.twig" with
            {
                "navigation_drawer_id": "main-navigation-mobile"
            }
        %}
        {% include "@nds/01-atoms/buttons/button-floating/_button-floating-main.twig" with
            {
                "button_floating_id": "custom-styles-toggle",
                "button_floating_icon": "palette",
                "button_floating_icon_weight": "l",
                "button_floating_text": "Customize Page Theme"
            }
        %}
    {% endblock %}
    {% block main %}
        {% embed "@atoms/layouts/layouts-main/_layouts-main-main.twig" with
            {
                "layouts_main_id": 'main',
                "layouts_main_classes": 'fixed-left',
                "layouts_main_left": columns.left,
                "layouts_main_main": columns.main,
                "layouts_main_right": columns.right
            }
        %}
            {% block left_column %}
                {% embed "@nds/02-molecules/navigation/navigation-mobile-rail/_navigation-mobile-rail-main.twig" with
                    {
                        "navigation_mobile_rail_button_text": "Open Development Menu"
                    }
                %}
                    {% block navigation_mobile_rail_content %}
                        {% include "@molecules/components/component-scrollspy-toc/_component-scrollspy-toc-main.twig" with
                            {
                                "component_scrollspy_toc_title": "Development",
                                "component_scrollspy_toc_data": [
                                    {
                                        "href": "section-overview",
                                        "text": "Overview"
                                    },
                                    {
                                        "href": "section-atomic-design",
                                        "text": "Atomic Design"
                                    },
                                    {
                                        "href": "section-technologies",
                                        "text": "Technologies"
                                    },
                                    {
                                        "class": "ml-3",
                                        "href": "section-patternlab",
                                        "text": "Pattern Lab"
                                    },
                                    {
                                        "class": "ml-3",
                                        "href": "section-sass",
                                        "text": "Sass"
                                    },
                                    {
                                        "class": "ml-3",
                                        "href": "section-jquery",
                                        "text": "jQuery"
                                    },
                                    {
                                        "class": "ml-3",
                                        "href": "section-gulp",
                                        "text": "Gulp"
                                    },
                                    {
                                        "href": "section-libraries",
                                        "text": "Libraries"
                                    },
                                    {
                                        "href": "section-themes",
                                        "text": "Themes"
                                    }
                                ]
                            }
                        %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            {% block main_column %}
                {% embed "@nds/01-atoms/layouts/layouts-body/_layouts-body-main.twig" %}
                    {% block body_content %}
                        {% include "@sections/_section-overview-development.twig" %}
                        {% include "@sections/_section-atomic-design.twig" %}
                        {% include "@sections/_section-technologies.twig" %}
                        {% include "@sections/_section-patternlab.twig" %}
                        {% include "@sections/_section-sass.twig" %}
                        {% include "@sections/_section-jquery.twig" %}
                        {% include "@sections/_section-gulp.twig" %}
                        {% include "@sections/_section-libraries.twig" %}
                        {% include "@sections/_section-themes.twig" %}
                        {% include "@molecules/blocks/block-updates/_block-updates-main.twig" %}
                        <hr class="my-4">
                        {% include "@molecules/blocks/block-directions/_block-directions-main.twig" with
                            {
                                "block_directions_prev_text": "Design",
                                "block_directions_prev_href": links.design,
                                "block_directions_next_text": "Components",
                                "block_directions_next_href": links.components
                            }
                        %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            {% block right_column %}<span></span>{% endblock %}
        {% endembed %}
    {% endblock %}
    {% block footer %}
        {% include "@organisms/global/global-footer/_global-footer-main.twig" %}
    {% endblock %}
{% endembed %}