.button--document {
    display: block;
    position: relative;
    height: 4rem;
    width: 4rem;
    padding: 0;
    &__generic-wrapper {
        display: flex;
        position: relative;
        font-size: 1.65rem;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .icon--default {
        &--application {
            font-size: 1.25rem;
        }
    }
}