{#
    ---
    title: Navigation Drawer
    ---

    Type: Molecules -> Navigation

    Description:
        When viewing websites on mobile devices, the site navigation often changes to accommodate the smaller screen size. NDS offers a "drawer" style slide out menu where menu links can be added. NDS has pre-made JavaScript functionality that toggles the drawer open and closed on click or tap of a button with an ID of "global-mobile-menu."

    Blocks:
        {% block navigation_drawer_content %}: The block holding the side drawer markup.

    Parameters:
        navigation_drawer_classes: Additional classes for the side drawer component.
        navigation_drawer_id: The side drawer ID.

    Includes:
        Atoms -> Buttons -> button--default

    Last Updated: February 8, 2021
#}

{% set navigation_drawer_classes = navigation_drawer_classes|default() %}
{% set navigation_drawer_id = navigation_drawer_id|default() %}

<div class="navigation-nds navigation--drawer {{ navigation_drawer_classes }}"{% if navigation_drawer_id is not empty %} id="{{ navigation_drawer_id }}"{% endif %}>
    <div class="navigation--drawer__top">
        <a class="skip-to skip-to--back" href="#" tabindex="-1">Skip to Back</a>
        {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
            {
                "button_icon_classes": "navigation--drawer__top__button-close button--secondary",
                "button_icon_icon": "arrow-left",
                "button_icon_aria_label": "Close Global Menu",
                "button_icon_attributes": 'tabindex=-1'
            }
        %}
    </div>
    {% block navigation_drawer_content %}
        <div class="navigation--drawer__inner">
            <div class="navigation--drawer__inner__section">
                <a tabindex="-1" href="/">Home</a>
            </div>
            <div class="navigation--drawer__inner__section">
                <a tabindex="-1" href="#">Link 1</a>
            </div>
            <div class="navigation--drawer__inner__section">
                <a tabindex="-1" href="#">Link 2</a>
            </div>
            <div class="navigation--drawer__inner__section">
                <a tabindex="-1" href="#">Link 3</a>
            </div>
        </div>
        <a class="skip-to skip-to--top" href="#" tabindex="-1">Skip to Front</a>
    {% endblock %}
</div>
<div class="navigation--drawer--overlay" tabindex="0"></div>