.text--chip {
    @extend .button-nds;
    @extend .button--tertiary;
    padding: $s-1 $s-1-25;
    display: inline-flex;
    cursor: default;
    a {
        color: $white;
        border-bottom: 0;
        margin-left: $s-0-50;
        &:visited {
            color: $white;
        }
    }
    &:hover,
    &:focus {
        border: $s-1px solid $color-theme-1-2-1;
        background: $color-theme-1-2-1;
    }
}