.text--chip {
    padding: $s-1 $s-1-25;
    display: inline-flex;
    align-items: center;
    line-height: $line-height-single;
    background: $color-theme-1-2-1;
    border: $s-1px solid $color-theme-1-2-1;
    color: $white;
    a {
        color: $white;
        border-bottom: 0 !important;
        margin-left: $s-0-50;
        &:visited {
            color: $white;
        }
        & + .ext-link-icon {
            display: none;
        }
    }
}