<div class="container-fluid demo">
    <div class="row">
        <div class="col">
            {% include "@nds/01-atoms/icons/icon-document/_icon-document-main.twig" with 
                {
                    "icon_document_type": "word",
                    "icon_document_href": "jake.pdf"
                }
            %}
        </div>
        <div class="col">
            {% include "@nds/01-atoms/icons/icon-document/_icon-document-main.twig" with 
                {
                    "icon_document_type": "excel",
                    "icon_document_href": "jake.doc"
                }
            %}
        </div>
        <div class="col">
            {% include "@nds/01-atoms/icons/icon-document/_icon-document-main.twig" with 
                {
                    "icon_document_type": "powerpoint",
                    "icon_document_href": "#"
                }
            %}
        </div>
        <div class="col">
            {% include "@nds/01-atoms/icons/icon-document/_icon-document-main.twig" with 
                {
                    "icon_document_type": "pdf",
                    "icon_document_href": "#"
                }
            %}
        </div>
        <div class="col">
            {% include "@nds/01-atoms/icons/icon-document/_icon-document-main.twig" with 
                {
                    "icon_document_type": "image",
                    "icon_document_href": "#"
                }
            %}
        </div>
        <div class="col">
            {% include "@nds/01-atoms/icons/icon-document/_icon-document-main.twig" with 
                {
                    "icon_document_type": "video",
                    "icon_document_href": "#"
                }
            %}
        </div>
    </div>
</div>