.block--directions {
    display: flex;
    justify-content: space-between;
    box-shadow: none !important;
    padding: 0;
    border: 0 !important;
    max-width: $layout-type-max-width;
    margin-left: 0;
    margin-right: 0;
    &__prev,
    &__next {
        > span {
            font-weight: $font-weight-semibold;
        }
    }
}