{% include "@molecules/components/component-style-controls/_component-style-controls-main.twig" %}

{% embed "@nds/01-atoms/layouts/layouts-site/_layouts-site-main.twig" with
    {
        "layouts_site_id": "static-site-builder"
    }
%}
    {% block header %}
        {% include "@nds/02-molecules/components/component-uswds-banner/_component-uswds-banner-main.twig" %}
        {% include "@organisms/global/global-header/_global-header-main.twig" with
            {
                "global_header_product_id_top": "Design System"
            }
        %}
    {% endblock %}
    {% block global_navigation %}
        {% include "@molecules/navigation/navigation-primary/_navigation-primary-main.twig" %}
        {% include "@molecules/navigation/navigation-drawer/_navigation-drawer-main.twig" with
            {
                "navigation_drawer_id": "main-navigation-mobile"
            }
        %}
        {% include "@nds/01-atoms/buttons/button-floating/_button-floating-main.twig" with
            {
                "button_floating_id": "custom-styles-toggle",
                "button_floating_icon": "palette",
                "button_floating_icon_weight": "l",
                "button_floating_text": "Customize Page Theme"
            }
        %}
    {% endblock %}
    {% block main %}
        {% embed "@atoms/layouts/layouts-main/_layouts-main-main.twig" with
            {
                "layouts_main_id": 'main',
                "layouts_main_classes": 'fixed-left',
                "layouts_main_left": columns.left,
                "layouts_main_main": columns.main,
                "layouts_main_right": columns.right
            }
        %}
            {% block left_column %}
                {% embed "@nds/02-molecules/navigation/navigation-mobile-rail/_navigation-mobile-rail-main.twig" with
                    {
                        "navigation_mobile_rail_button_text": "Open Static Site Builder Menu"
                    }
                %}
                    {% block navigation_mobile_rail_content %}
                        {% include "@molecules/components/component-scrollspy-toc/_component-scrollspy-toc-main.twig" with
                            {
                                "component_scrollspy_toc_title": "Static Site Builder",
                                "component_scrollspy_toc_data": [
                                    {
                                        "href": "section-overview",
                                        "text": "Overview"
                                    },
                                    {
                                        "href": "section-prerequisites",
                                        "text": "Prerequisites"
                                    },
                                    {
                                        "href": "section-initialization",
                                        "text": "Initialization"
                                    },
                                    {
                                        "href": "section-working-with-nds",
                                        "text": "Working with NDS"
                                    },
                                    {
                                        "href": "section-building-nds-production",
                                        "text": "Building NDS for Production"
                                    },
                                    {
                                        "href": "section-resources",
                                        "text": "Additional Resources"
                                    }
                                ]
                            }
                        %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            {% block main_column %}
                {% embed "@nds/01-atoms/layouts/layouts-body/_layouts-body-main.twig" with
                    {
                        "layouts_body_vertical_padding": "no"
                    }
                %}
                    {% block body_content %}
                        {% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
                            {
                                "component_scrollspy_section_id": "section-overview"
                            }
                        %}
                            {% block component_scrollspy_section_content %}
                                <aside>
                                    {% include "@nds/02-molecules/navigation/navigation-breadcrumbs/_navigation-breadcrumbs-main.twig" with
                                        {
                                            "navigation_breadcrumbs_data": [
                                                {
                                                    "text": "Getting Started",
                                                    "href": links.getStarted
                                                },
                                                {
                                                    "text": "Static Site Builder"
                                                }
                                            ]
                                        }
                                    %}
                                </aside>
                                <h1 id="main-content">Static Site Builder</h1>
                                <p>With the NIAID Design System Static Site Builder, creating a responsive and compliant website is quick and easy. The Static Site Builder leverages a technology called <a href="https://patternlab.io/">Pattern Lab</a> to manage web components and the content.</p>
                                <p><strong>Use the Static Site Builder if:</strong></p>
                                <ul>
                                    <li>Your website needs to be built quickly.</li>
                                    <li>Your website is small with relatively static content.</li>
                                    <li>Your team lacks signficant development resources.</li>
                                    <li>Your team has basic knowledge of HTML, CSS, JS.</li>
                                </ul>
                            {% endblock %}
                        {% endembed %}
                        {% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
                            {
                                "component_scrollspy_section_id": "section-prerequisites"
                            }
                        %}
                            {% block component_scrollspy_section_content %}
                                <h2>Prerequisites</h2>
                                <p>In addition to a basic understanding of HTML, CSS, JS, you’ll need several application packages to work with the Static Site Builder. You can download and install the necessary packages below:</p>
                                <ul>
                                    <li><a href="https://nodejs.org/en/download/">Node.js</a></li>
                                    <li><a href="https://www.npmjs.com/get-npm">NPM</a></li>
                                    <li><a href="https://gulpjs.com/">Gulp</a></li>
                                    <li><a href="https://www.php.net/downloads">PHP</a></li>
                                    <li><a href="https://getcomposer.org/download/">Composer</a></li>
                                </ul>
                                
                                <p class="h3">Pattern Lab</p>
                                <p>The NDS Static Site Builder is built with <a href="https://patternlab.io/">Pattern Lab</a>, a development framework architected on the principle of <a href="{{ basePath }}development/#section-atomic-design">Atomic Design</a>. While this technology was originally built to showcase UI web components, Pattern Lab can also be leveraged to intuitively manage and generate complete static websites. The Static Site Builder consists of an instance of Pattern Lab coupled with NDS components and assets to allow you to quickly build your website. While we have written this guide to be effective even if you do not have Pattern Lab experience, we encourage you to familiarize yourself with <a href="https://patternlab.io/">the documentation on the Pattern Lab website.</a> Additionally, we have provided more information about the organization of the Pattern Lab directory on the <a href="{{ links.development ~ "#section-patternlab" }}">Development page.</a></p>
                            {% endblock %}
                        {% endembed %}

                        {% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
                            {
                                "component_scrollspy_section_id": "section-initialization"
                            }
                        %}
                            {% block component_scrollspy_section_content %}
                                <h2>Initialization</h2>
                                <p class="step">1. Download the Static Website Package:</p>
                                <p>
                                    {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                                        {
                                            "button_icon_href": assetsPath ~ "nds-static-site-builder.zip",
                                            "button_icon_icon": "download",
                                            "button_icon_text": "Download NDS",
                                            "button_icon_attributes": "download"
                                        }
                                    %}
                                </p>
                                <p class="step mt-4">2. Unzip and Open the Directory in Your Preferred Code Editor.</p>
                                <p>Editors like <a href="https://code.visualstudio.com/">Visual Studio Code</a> are free to download and provide many features that make development easier.</p>
                                <p class="step">3. Install Node and Composer Dependencies</p>
                                <p>Open a new terminal and change into your project directory. If using Visual Studio Code, you may select Terminal -> New Terminal from the application bar. Run the followung commands to install the needed dependencies:</p>
                                <code>npm install</code><br>
                                <code>composer install</code><br>
                                <p><strong>Note:</strong> When you run <code>composer install</code> there may be a prompt asking if you want to install a default theme. Type <code>n</code> and hit enter.</p>
                                {% include "@nds/02-molecules/components/component-media/_component-media-main.twig" with
                                    {
                                        "component_media_src": 'composer-install.png',
                                        "component_media_alt": 'A screenshot of a terminal prompting to install a default theme or not.',
                                        "component_media_credit": 'NIAID',
                                        "component_media_caption": 'Do not install the default theme when prompoted by typing "n" and hitting enter.',
                                        "component_media_lightbox": "yes"
                                    }
                                %}
                                <p class="step">4. Open the Project on Your Localhost</p>
                                <p>In your terminal, run:</p>
                                <code>gulp</code><br>
                                <p>This will compile your project and create a localhost with your patterns and pages. Use the black bar at the top to navigate to your components.</p>
                            {% endblock %}
                        {% endembed %}

                        {% include "@sections/_section-working-with-nds.twig" %}

                        {% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
                            {
                                "component_scrollspy_section_id": "section-building-nds-production"
                            }
                        %}
                            {% block component_scrollspy_section_content %}
                                <h2>Building NDS for Production</h2>
                                <p>When you are satisfied with your site, the Static Site Builder allows you to build a distribution folder (public_html/) with all the necessary, web-ready assets. The steps below explain how to generate your distribution code.</p>
                                <p class="step">1. Create a Distribution Pattern Folder.</p>
                                <p>Start by creating a 06-dist/ folder under _patterns/ (source/_patterns/06-dist/).</p>
                                {% include "@nds/02-molecules/components/component-media/_component-media-main.twig" with
                                    {
                                        "component_media_classes": 'm-b-2',
                                        "component_media_src": 'dist.png',
                                        "component_media_alt": 'A screenshot of the _patterns directory in Visual Studio Code.',
                                        "component_media_credit": 'NIAID',
                                        "component_media_caption": "Create a 06-dist/ directory.",
                                        "component_media_float": "right",
                                        "component_media_lightbox": "yes"
                                    }
                                %}
                                <p>For each page of your static site, create a new folder (typically with the same name as the corresponding 05-pages/ directory) and add a twig file, such as design.twig, and a JSON file with the same name, such as design.json.</p>
                                {% include "@nds/02-molecules/components/component-media/_component-media-main.twig" with
                                    {
                                        "component_media_src": 'json.png',
                                        "component_media_alt": 'A screenshot of a JSON file to make production configurations.',
                                        "component_media_credit": 'NIAID',
                                        "component_media_caption": "Use the JSON file in the 06-dist/ page folders to make configurations for production pages.",
                                        "component_media_lightbox": "yes"
                                    }
                                %}
                                <p class="step">2. Configure the Production JSON Files</p>
                                <p>The JSON file in each page's 06-dist folder is critical for defining production-specific information, including the paths for your CSS, JS, and image assets, page titles, and included scripts.</p>
                                <ul>
                                    <li>Configure the variable paths (cssPath, jsPath, etc.) to your desired structure.</p>
                                    <li>Include or exclude certain JS libraries from the build by setting 'true' or 'false' values, respectively.</li>
                                    <li>If using an NDS-based navigation element, use the "navigationPrimaryActiveLink" parameter to add active page styling.</li>
                                </ul>
                                <p>You may also add your own parameters for use in custom patterns.</p>

                                <p class="step">3. Configure Gulp Paths to Your Production Pages</p>
                                <p>Once your 06-dist/ directory is setup, compile Pattern Lab. Next, open your gulpfile.js, and find the "buildPaths" variable declaration. For every page you want to deploy, add a new object. For pageName, add the name of the folder/file for that page in 06-dist/. For target_dest, specify the ultimate path you want that page to file under.</p>
                                {% include "@nds/02-molecules/components/component-media/_component-media-main.twig" with
                                    {
                                        "component_media_src": 'build-paths-gulp.png',
                                        "component_media_alt": 'A screenshot of the Gulpfile.js file. Specifically, it shows the code to configure the paths for your production pages.',
                                        "component_media_credit": 'NIAID',
                                        "component_media_caption": "A sample buildPaths variable declaration.",
                                        "component_media_lightbox": "yes"
                                    }
                                %}
                                <p class="step">4. Build the Distribution Directory</p>
                                <code>gulp buildProd</code><br>
                                <p>After running the buildProd command, a public_html/ directory will be created with production ready assets. Upload the contents of this directory to your hosting platform.</p>
                            {% endblock %}
                        {% endembed %}

                        {% include "@sections/_section-resources.twig" with
                            {
                                "section_resources_additional": "Additional "
                            }
                        %}

                        {% include "@molecules/blocks/block-updates/_block-updates-main.twig" %}

                        <hr class="my-4">

                        {% include "@molecules/blocks/block-directions/_block-directions-main.twig" with
                            {
                                "block_directions_prev_text": "Getting Started",
                                "block_directions_prev_href": links.getStarted,
                                "block_directions_next_text": "Design",
                                "block_directions_next_href": links.design
                            }
                        %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            {% block right_column %}<span></span>{% endblock %}
        {% endembed %}
    {% endblock %}
    {% block footer %}
        {% include "@organisms/global/global-footer/_global-footer-main.twig" %}
    {% endblock %}
{% endembed %}