{% embed "@nds/02-molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-jquery"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>jQuery</h3>
        <p><a href="https://jquery.com/">jQuery</a> is a JavaScript library that, according to its website, "makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers." In other words, jQuery simplifies many different JavaScript.</p>
    {% endblock %}
{% endembed %}