{% embed "@nds/02-molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-layout"
    }
%}
    {% block component_scrollspy_section_content %}
        <h2>Layout &amp; Spacing</h2>
        <h3>Layout</h3>
        <p>Web pages are built using a 12 column grid system, provided under the <a href="https://getbootstrap.com/">Bootstrap 4</a> framework. To learn more about the Bootstrap 4 grid system, visit the official <a href="https://getbootstrap.com/docs/4.5/layout/grid/">Bootstrap 4 grid system documentation.</a></p>

        <p>NDS websites will typically have a main content area that occupies 8 or 9 Bootstrap columns out of 12. This configuration allows for a side rail of content, such as a section for local navigation.</p>

        <h3>Spacing &amp; Sizing</h3>
        <p>Spacing in NDS is governed by an <a href="https://builttoadapt.io/intro-to-the-8-point-grid-system-d2573cde8632">8pt grid system.</a> In general, items are spaced by some factor or multiple of 8. Keeping elements spaced in this way helps to promote and maintain visual consistency.</p>
        <p>All sizing of elements should be done using the "rem" CSS unit. Rems are based on the font sizing defined in the body. As noted above, the default font size is 16px. 1rem is therefore equivalent to 16px. The benefits of using rems are numerous, the main one being scalability. If every component is styled using the rem unit, as is the case in NDS, then altering the base font size in the body instantly scales all rems proportionally, and the size ratio of the elements are maintained. This means that your components will still look the same, but may be bigger or smaller, if the default font size is changed.</p>
    {% endblock %}
{% endembed %}