.pager {
    .visually-hidden {
        position: absolute !important;
        overflow: hidden;
        clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
        width: 0.0625rem;
        height: 0.0625rem;
    }
    .pager__items {
        padding: 0;
        list-style: none;
        .pager__item {
            display: inline-flex;
            a {
                @extend .button-nds;
                @extend .button--secondary;
                padding: 1rem 1.4rem;
                &:not([href]) {
                    display: none;
                }
                &:visited {
                    color: $white;
                }
            }
            &.is-active {
                a {
                    @extend .button--primary;
                }
            }
        }
    }
}