.navigation--pagination {
    .pager {
        .visually-hidden {
            position: absolute !important;
            overflow: hidden;
            width: $s-1px;
            height: $s-1px;
        }
        .pager__items {
            padding: 0;
            list-style: none;
            text-align: left;
            .pager__item {
                padding: 0;
                margin-right: $s-0-50;
                display: inline-flex;
                a {
                    @extend .button-nds;
                    @extend .button--secondary;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    height: $s-3;
                    width: $s-3;
                }
                &.active,
                &.is-active {
                    a {
                        background: var(--color-theme-primary);
                        color: $white;
                    }
                }
                &.pager__item--first,
                &.pager__item--next,
                &.pager__item--last {
                    a {
                        padding: 0 $s-1-25;
                        width: auto;
                    }
                }
            }
        }
    }
}