.block--default {
    display: inline-block;
    width: 100%;
    flex-wrap: wrap;
    background: $white;
    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
    .button--primary,
    .button--secondary,
    .button--tertiary,
    .button--negative,
    button {
        display: inline-flex;
    }
    ul, li, p {
        max-width: none;
    }
    &.block--default--accent {
        border-left: $s-0-25 solid $color-theme-1-accent;
    }
}