.block--default {
    margin: 1rem 0;
    display: inline-block;
    width: 100%;
    flex-wrap: wrap;
    background: $white;
    ul, li, p {
        max-width: none;
    }
    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
    .button--primary,
    .button--secondary,
    .button--tertiary,
    .button--negative,
    button {
        margin: 1rem 0 0 0;
        display: inline-flex;
    }
    &.block--default--accent {
        border-left: .25rem solid $color-theme-1-accent;
    }
}