/* Headings */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: $s-2;
    margin-bottom: $s-1;
    color: $type-heading;
    line-height: $line-height-heading;
    a {
        border-bottom: 0;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
        &.ext-link-icon {
            &:after {
                $icon-offset: -1 * $s-2px;
                transform: translateY($icon-offset);
            }
        }
    }
}

// Bootstrap RFS Sizing Overrides
h1, .h1 { @include font-size($font-size-heading-1); }
h2, .h2 { @include font-size($font-size-heading-2); }
h3, .h3 { @include font-size($font-size-heading-3); }
h4, .h4 { @include font-size($font-size-heading-4); }
h5, .h5 { @include font-size($font-size-heading-5); }
h6, .h6 { @include font-size($font-size-heading-6); }

h1, .h1 {
    margin-top: 0;
    margin-bottom: $s-2;
    font-weight: $font-weight-semibold;
    &.display-1 {
        @include font-size($font-size-display-1);
        font-weight: $font-weight-light;
        line-height: $display-line-height; // From Bootstrap
    }
    &.display-2 {
        @include font-size($font-size-display-2);
        font-weight: $font-weight-light;
        line-height: $display-line-height; // From Bootstrap
    }
}

h2, .h2 {
    font-weight: $font-weight-semibold;
}

h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: $font-weight-regular;
}

// Bootstrap Display Classes
.display-1,
.display-2 {
    color: $type-heading;
}