{#
    ---
    title: Mobile Rail
    ---

    Type: Molecules -> Navigation

    Description:
        This simple component helps transition your site from a desktop to mobile layout by collapsing the local navigation (or whatever other content is wrapped) into a dropdown.

    Blocks:
        {% block navigation_mobile_rail_content %}: The block holding the mobile rail content.

    Parameters:
        navigation_mobile_rail_classes: Additional classes for the mobile rail component.
        navigation_mobile_rail_button_text: The text to appear on the mobile rail toggle button.

    Includes:
        Molecules -> Components -> component--accordion

    Last Updated: June 18, 2021
#}

{% set navigation_mobile_rail_classes = navigation_mobile_rail_classes|default() %}
{% set navigation_mobile_rail_button_text = navigation_mobile_rail_button_text|default() %}
{% set navigation_mobile_rail_content %}
   {% block navigation_mobile_rail_content %}{% endblock %}
{% endset %}

<div class="navigation-nds navigation--mobile-rail {{ navigation_mobile_rail_classes }}">
    {% embed "@nds/02-molecules/components/component-accordion/_component-accordion-main.twig" with
        {
            "component_accordion_id": "navigation--mobile-rail"
        }
    %}
        {% block component_accordion_content %}
            <div id="navigation--mobile-rail__button">
                <button class="navigation--mobile-rail__button" type="button" data-bs-target="#navigation--mobile-rail__content" aria-expanded="false" aria-controls="navigation--mobile-rail__content">{{ navigation_mobile_rail_button_text }}</button>
            </div>
            <div id="navigation--mobile-rail__content" class="navigation--mobile-rail__content collapse" aria-labelledby="navigation--mobile-rail__button" data-bs-parent="#navigation--mobile-rail">
                {{ navigation_mobile_rail_content }}
            </div>
        {% endblock %}
    {% endembed %}
</div>