.navigation--mobile-rail {
    position: relative;
    &__button {
        @extend .button-nds;
        @extend .button--secondary;
        position: relative;
        z-index: $z-index-mobile-rail;
        width: 100%;
        text-align: center;
        background: transparent;
        border-radius: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-top: 0 !important;
        cursor: pointer;
        @include media-breakpoint-up($layout-mobile-menu-breakpoint) {
            display: none !important;
        }
    }
    &__content {
        height: auto;
        padding: 0 $s-main-spacer;
        border-bottom: $border-block;
        @include media-breakpoint-up($layout-mobile-menu-breakpoint) {
            padding: 0;
            display: block !important;
            border-bottom: 0;
        }
    }
}