table {
    background: $white;
    border-collapse: separate;
    border-spacing: 0;
    border: $border-block;
    margin: $s-1 0;
    overflow: hidden;
    width: 100%;
       
    // Apply a border to the right of all but the last column
    th:not(:last-child),
    td:not(:last-child) {
        border-right: $border-block;
    }
       
    // Apply a border to the bottom of all but the last row
    >thead>tr:not(:last-child)>th,
    >thead>tr:not(:last-child)>td,
    >tbody>tr:not(:last-child)>th,
    >tbody>tr:not(:last-child)>td,
    >tfoot>tr:not(:last-child)>th,
    >tfoot>tr:not(:last-child)>td,
    >tr:not(:last-child)>td,
    >tr:not(:last-child)>th,
    >thead:not(:last-child),
    >tbody:not(:last-child),
    >tfoot:not(:last-child) {
        border-bottom: $border-block;
    }
    caption {
        caption-side: bottom;
        font-size: $s-1 - $s-2px;
        line-height: $line-height-medium;
        margin-top: $s-0-50;
        font-style: italic;
        text-align: left;
    }
    thead {
        background-color: $color-theme-1-1-1;
        color: $white;
        display: table-header-group;
        font-weight: $font-weight-semibold;
        vertical-align: middle;
        th, td {
            border: $s-1px solid $color-theme-1-1-1 !important;
            color: $white;
            font-weight: $font-weight-bold;
            a {
                border-bottom-color: $white;
                color: $white;
                span {
                    &.tablesort {
                        background-image: none;
                        &:after {
                            @extend %fa-icon;
                            @extend .fas;
                            position: absolute;
                            margin-left: $s-0-25;
                        }
                    }
                    &.tablesort--asc {
                        &:after {
                            content: fa-content($fa-var-chevron-down);
                        }
                    }
                    &.tablesort--desc {
                        &:after {
                            content: fa-content($fa-var-chevron-up);
                        }
                    }
                }
                &:hover,
                &:focus,
                &:active {
                    border-bottom: $border-transparent;
                    color: $white;
                }
                &:visited {
                    border-bottom-color: $white;
                    color: $white;
                    &:hover,
                    &:focus {
                        border-bottom: $border-transparent;
                        color: $white;
                    }
                }

            }
            &.is-active {
                a {
                    border-bottom: $border-transparent;
                }
            }
        }
    }
    tr {
        display: table-row;
        vertical-align: inherit;
    }
    th, td {
        color: $type-body;
        padding: $s-1;
        text-align: left;
        vertical-align: top;
    }
    td {
        &.is-active {
            background-color: $grey-100;
        }
    }
    tbody {
        th {
            font-weight: $font-weight-bold;
        }
    }
    &.collapsed {
        tbody {
            tr {
                &.parent {
                    td {
                        &:first-child {
                            &:before {
                                content: fa-content($fa-var-chevron-down);
                            }
                        }
                    }
                }
                td {
                    .dtr-title {
                        display: block;
                        font-weight: $font-weight-semibold;
                    }
                    &:first-child {
                        $cell-left-padding: $s-3;
                        $before-size: $s-1-50;
                        padding-left: $cell-left-padding;
                        position: relative;
                        &:before {
                            cursor: pointer;
                            position: absolute;
                            left: ($s-3 - $s-1) / 2;
                            top: 50%;
                            transform: translateY(-50%);
                            height: $before-size;
                            width: $before-size;
                            background: $type-heading;
                            color: $white;
                            @extend %fa-icon;
                            @extend .fas;
                            content: fa-content($fa-var-chevron-left);
                            font-size: $s-0-75;
                            line-height: $line-height-single;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    &.child {
                        &:first-child {
                            padding-left: $s-1;
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.table-nds--responsive-wrapper {
    overflow-x: auto;
    width: 100%;
}