table {
    width: 100%;
    margin: $s-1 0;
    border: $border-block;
    border-collapse: collapse;
    border-radius: 0;
    border-spacing: 0px;
    background: $white;
    overflow: hidden;
    caption {
        @include font-size($font-size-heading-3);
        color: $type-heading;
        font-style: $font-style-heading-3;
        font-weight: $font-weight-medium;
        line-height: $line-height-heading;
        text-align: left;
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        th, td {
            padding: $s-1;
            text-align: left;
            vertical-align: top;
        }
        th {
            line-height: normal;
            a {
                span {
                    &.tablesort {
                        background-image: none;
                        &:after {
                            @extend %fa-icon;
                            @extend .fas;
                            position: absolute;
                            margin-left: $s-0-25;
                        }
                    }
                    &.tablesort--asc {
                        &:after {
                            content: fa-content($fa-var-chevron-down);
                        }
                    }
                    &.tablesort--desc {
                        &:after {
                            content: fa-content($fa-var-chevron-up);
                        }
                    }
                }
            }
            &.is-active {
                a {
                    border-bottom: $border-transparent;
                }
            }
        }
        td {
            color: $type-body;
            border: $border-block;
        }
        &:last-child {
            td {
                border-bottom: 0;
            }
        }
    }
    thead {
        background-color: $color-theme-1-1-1;
        border-collapse: separate;
        border-color: inherit;
        border-radius: 0 0 0 0;
        color: $white;
        display: table-header-group;
        font-weight: $font-weight-semibold;
        vertical-align: middle;
    }
    tbody {
        th {
            border-bottom: $border-block;
            vertical-align: middle;
        }
    }
    thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
        border-radius: 0 0 0 0;
    }
    thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
        border-radius: 0 0 0 0;
    }
    &.collapsed {
        tbody {
            tr {
                &.parent {
                    td {
                        &:first-child {
                            &:before {
                                content: fa-content($fa-var-chevron-down);
                            }
                        }
                    }
                }
                td {
                    .dtr-title {
                        display: block;
                        font-weight: $font-weight-semibold;
                    }
                    &:first-child {
                        $cell-left-padding: $s-3;
                        $before-size: $s-1-50;
                        padding-left: $cell-left-padding;
                        position: relative;
                        &:before {
                            cursor: pointer;
                            position: absolute;
                            left: ($s-3 - $s-1) / 2;
                            top: 50%;
                            transform: translateY(-50%);
                            height: $before-size;
                            width: $before-size;
                            border-radius: 100%;
                            background: $type-heading;
                            color: $white;
                            @extend %fa-icon;
                            @extend .fas;
                            content: fa-content($fa-var-chevron-left);
                            font-size: $s-0-75;
                            line-height: $line-height-single;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                    &.child {
                        &:first-child {
                            padding-left: $s-1;
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.table-nds--responsive-wrapper {
    overflow-x: auto;
    width: 100%;
}