.ext-link-icon {
    border-bottom: 0;
    &:hover,
    &:focus {
        border-bottom: 0;
    }
    &:after {
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-external-link-alt) !important;
        font-size: $s-0-75;
        margin-left: $s-0-25;
    }
}

.link--external--mail,
.link--external--phone {
    position: relative;
    margin-right: $s-1-25 - $s-2px;
    &:after {
        @extend %fa-icon;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: $s-0-25;
        font-size: $s-0-75;
    }
}

.link--external--mail {
    &:after {
        @extend .far;
        content: fa-content($fa-var-envelope) !important;
    }
}

.link--external--phone {
    &:after {
        @extend .fas;
        content: fa-content($fa-var-phone) !important;
    }
}