.block--featured-content-card {
    max-width: 100%;
    padding: 0;
    background: $white;
    border: $s-1px solid $input-border;
    flex: 1;
    &__image {
        padding: $s-0-25;
        max-height: 15rem;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &__text {
        padding: $s-1;
        &__title {
            margin-top: 0;
            font-size: $s-1-25;
        }
        &__featured {
            font-weight: $font-weight-semibold;
            font-size: $s-0-75;
            margin-top: -1 * $s-0-50;
            margin-bottom: $s-0-50;
            display: block;
            color: $color-theme-1-1-1;
        }
        &__description {
            margin-bottom: 0;
        }
    }
}