{#
    ---
    title: Body Layout
    ---

    Type: Atoms -> Layout

    Description:
        The Body Layout component is used to display a page's main content. This component handles padding at various breakpoints, ensuring a visually appealing experience regardless of device or browser.
        
        The Body Layout component is generally embedded within the {% block main_column %} block of the Main Layout pattern.

    Blocks:
        {% block body_content %}: The main page content.

    Parameters:
        layouts_body_classes - Additional layout classes.
        layouts_body_vertical_padding - A class indicating if vertical padding should be present or not. Options: "yes" (Default), "no".

    Last Updated: January 22, 2021
#}

{% set layouts_body_classes = layouts_body_classes|default() %}
{% set layouts_body_vertical_padding = layouts_body_vertical_padding|default('yes') %}

<div class="layouts-nds layouts--body {{ layouts_body_classes }}{{ layouts_body_vertical_padding != 'yes' ? 'layouts--body--no-vertical-padding' }}">
    {% block body_content %}{% endblock %}
</div>