.layouts--body {
    background: $page-background;
    max-width: $layout-body-max-width;
    margin: 0 auto;
    position: relative;
    padding: $s-2;
    @include media-breakpoint-up('lg') {
        padding: $s-4;
    }
    &.layouts--body--no-vertical-padding {
        padding-top: 0;
    }
    &--no-shadows {
        @include md-0dp(!important);
    }
}