<div class="container-fluid demo">
    <div class="row">
        <div class="col-12 col-md-auto m-y-1">
            {% include "@nds/01-atoms/buttons/button-external/_button-external-main.twig" with
                {
                    "button_external_text": "Button",
                    "button_external_href": "#"
                }
            %}
        </div>
        <div class="col-12 col-md-auto m-y-1">
            {% include "@nds/01-atoms/buttons/button-external/_button-external-main.twig" with
                {
                    "button_external_classes": "button--secondary",
                    "button_external_text": "Button",
                    "button_external_href": "#"
                }
            %}
        </div>
        <div class="col-12 col-md-auto m-y-1">
            {% include "@nds/01-atoms/buttons/button-external/_button-external-main.twig" with
                {
                    "button_external_classes": "button--tertiary",
                    "button_external_text": "Button",
                    "button_external_href": "#"
                }
            %}
        </div>
    </div>
</div>