<div class="container-fluid demo">
    <div class="row">
        <div class="col">
            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                {
                    "button_icon_icon": "question-circle",
                    "button_icon_text": "Button"
                }
            %}
        </div>
        <div class="col">
            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                {
                    "button_icon_classes": "button--secondary",
                    "button_icon_icon": "question-circle",
                    "button_icon_text": "Button"
                }
            %}
        </div>
        <div class="col">
            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                {
                    "button_icon_classes": "button--tertiary",
                    "button_icon_icon": "question-circle",
                    "button_icon_text": "Button"
                }
            %}
        </div>
    </div>
</div>