.input-nds {
    &::-webkit-input-placeholder {
        color: $input-placeholder;
    }
    
    &::-moz-placeholder {
        color: $input-placeholder;
    }
    
    &::-ms-placeholder {
        color: $input-placeholder;
    }
    
    &::placeholder {
        color: $input-placeholder;
    }
}