.layouts--tabs {
    &__tab {
        border-radius: .3125rem !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-color: $white !important;
        &:hover,
        &:focus {
            border-color: $white !important;
        }
    }
}