{% embed '@nds/01-atoms/layouts/layouts-grid/_layouts-grid-main.twig' with
    {
        'layouts_grid_classes': 'layouts--grid__gallery layouts--grid__demo mb-4',
        'layouts_grid_columns': '2',
        'layouts_grid_spacing': 'tight',
        'layouts_grid_item_classes': 'block-nds',
        'layouts_grid_data': [
            {
                'header': 'NIAID HIV Language Guide',
                'description': 'NIAID is making every effort to eliminate the use of stigmatizing terminology and advance the use of person-first.',
                'nested_data': [
                    {
                        'class': 'button--secondary',
                        'icon': '1',
                        'weight': 's',
                        'href': '/',
                        'text': 'First Button Example'
                    },
                    {
                        'class': 'button--secondary',
                        'icon': '2',
                        'weight': 's',
                        'href': '/',
                        'text': 'Second Button Example'
                    }
                ]
            },
            {
                'header': 'Volunteer for Mpox Clinical Study',
                'description': 'STOMP is an NIAID-funded clinical trial to evaluate the efficacy of the antiviral tecovirimat, also know as TPOXX.',
                'nested_data': [
                    {
                        'class': 'button--secondary',
                        'icon': '3',
                        'weight': 's',
                        'href': '/',
                        'text': 'Third Button Example'
                    },
                    {
                        'class': 'button--secondary',
                        'icon': '4',
                        'weight': 's',
                        'href': '/',
                        'text': 'Fourth Button Example'
                    }
                ]
            },
            {
                'header': 'Find Your Place at NIAID',
                'description': 'Whether you are passionate about science, administration, or innovation, there is a place for you at NIAID.',
                'nested_data': [
                    {
                        'class': 'button--secondary',
                        'icon': '5',
                        'weight': 's',
                        'href': '/',
                        'text': 'Fifth Button Example'
                    },
                    {
                        'class': 'button--secondary',
                        'icon': '6',
                        'weight': 's',
                        'href': '/',
                        'text': 'Sixth Button Example'
                    }
                ]
            },
            {
                'header': 'Volunteer for COVID-19 Clinical Trials',
                'description': 'NIAID conducts and supports clinical trials evaluating therapies and vaccine candidates against SARS.',
                'nested_data': [
                    {
                        'class': 'button--secondary',
                        'icon': '7',
                        'weight': 's',
                        'href': '/',
                        'text': 'Seventh Button Example'
                    },
                    {
                        'class': 'button--secondary',
                        'icon': '8',
                        'weight': 's',
                        'href': '/',
                        'text': 'Eighth Button Example'
                    }
                ]
            }
        ]
    }
%}
    {% block layouts_grid_item %}
        <h3>{{ grid_item.header }}</h3>
        <p>{{ grid_item.description }}</p>
        {% embed '@nds/01-atoms/layouts/layouts-grid/_layouts-grid-main.twig' with
            {
                'layouts_grid_classes': 'layouts--grid__gallery layouts--grid__nested mt-4',
                'layouts_grid_item_classes': '',
                'layouts_grid_columns': '2',
                'layouts_grid_data': grid_item.nested_data
            }
        %}
            {% block layouts_grid %}
                {% for grid_nested_item in grid_item.nested_data %}
                    <div class='layouts--grid__item{% if layouts_grid_item_classes is not empty %} {{ layouts_grid_item_classes }}{% endif %}'>
                        {% include '@nds/01-atoms/buttons/button-icon/_button-icon-main.twig' with
                            {
                                'button_icon_classes': grid_nested_item.class,
                                'button_icon_icon': grid_nested_item.icon,
                                'button_icon_icon_weight': grid_nested_item.weight,
                                'button_icon_href': grid_nested_item.href,
                                'button_icon_text': grid_nested_item.text
                            }
                        %}
                    </div>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
