.link--icon {
    text-decoration: none;
    border-bottom: 0;

    &--left, &--right {
        display: inline;
    }

    &__text {
        &:hover,
        &:focus {
            border-bottom: $s-1px solid $type-link-underline;
        }
    }

    &--left {
        margin-right: $s-0-50;
    }

    &--right {
        margin-left: $s-0-50;
    }
}