{% set button_external_classes = button_external_classes|default() %}
{% set button_external_text = button_external_text|default() %}
{% set button_external_href = button_external_href|default() %}

<a class="button-nds button--external waves-effect waves-light {{ button_external_classes }}" href="{{ button_external_href }}">
    <span>{{ button_external_text }}</span>
    {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with 
        {
            "icon_default_type": "external-link",
            "icon_default_weight": "l"
        }
    %}
</a>