.text--search-results {
    width: 100%;
    border-bottom: $border-input;
    padding-bottom: $s-0-25;
    margin: $s-1 0;
    &__title {
        margin: 0;
        padding: 0;
        line-height: $line-height-single;
        &__number {
            font-size: $s-1-50;
        }
        &__text {
            margin-left: -1 * $s-0-25;
            font-size: $s-1;
        }
    }
}