{% set input_select_classes = input_select_classes|default() %}
{% set input_select_id = input_select_id|default() %}
{% set input_select_placeholder = input_select_placeholder|default() %}
{% set input_select_name = input_select_name|default() %}
{% set input_select_value = input_select_value|default() %}
{% set input_select_multiple = input_select_multiple|default(false) %}
{% set input_select_tabindex = input_select_tabindex|default() %}
{% set input_select_disabled = input_select_disabled|default(false) %}
{% set input_select_readonly = input_select_readonly|default(false) %}
{% set input_select_required = input_select_required|default(false) %}
{% set input_select_always_selected = input_select_always_selected|default(false) %}

<div class="input-nds input--select {{ input_select_classes }}">
    <select class="input--select__field" nds-select="true" data-placeholder="{{ input_select_placeholder }}"{% if input_select_multiple %} multiple=""{% endif %}{% if input_select_always_selected == "true" %} data-select-all-times="true"{% endif %}
        {% include "@nds/01-atoms/input/input-attributes/_input-attributes-main.twig" with
            {
                "input_attributes_id": input_select_id,
                "input_attributes_name": input_select_name,
                "input_attributes_type": "text",
                "input_attributes_value": input_select_value,
                "input_attributes_tabindex": input_select_tabindex,
                "input_attributes_disabled": input_select_disabled,
                "input_attributes_readonly": input_select_readonly,
                "input_attributes_required": input_select_required
            }
        %}
    >
        {% block input_select_input %}{% endblock %}
    </select>
</div>