.navigation--drawer {
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    z-index: $z-index-drawer;
    transform: translateX(-100%);
    transition: .5s ease-out;
    &__top {
        padding: $s-1 $s-2;
        &__button-close {
            display: flex;
            justify-content: center;
            align-items: center;
            height: $s-3;
            width: $s-3;
            padding: 0;
        }
    }
    &__inner {
        &__section {
            padding: $s-0-50 $s-2;
            border-bottom: $s-1px solid $border-light;
            width: 16rem;
            &:first-child {
                border-top: $s-1px solid $border-light;
            }
            a {
                border-bottom: $s-1px solid transparent;
            }
        }
    }
    &.drawer--open {
        @include shadow-high;
        transform: translateY(0);
    }
}

.navigation--drawer--overlay {
    display: none;
    background: rgba(0,0,0,.7);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: $z-index-drawer - 1;
    top: 0;
    left: 0;
    cursor: pointer;
}

.skip-to {
    height: 0;
    width: 0;
    position: absolute;
    left: -10000px;
}