{#
    ---
    title: Icon Loader
    ---

    Type: Atoms -> Icons

    Description:
        The Icon Loader pattern from Materialize is used to provide visual feedback to users that the site is processing, receiving, or transmitting information.

    Parameters:
        icon_loader_classes: Additional pattern classes
        icon_loader_size: The size of the loader. Options: "small" and "big" (Default)

    Last Updated: January 22, 2021
#}

{% set icon_loader_classes = icon_loader_classes|default() %}
{% set icon_loader_size = icon_loader_size|default('big') %}

<div class="icon-nds icon--loader {{ icon_loader_classes }}" role="alert" aria-label="Loading" aria-busy="true">
    <div class="preloader-wrapper {{ icon_loader_size }} active">
        <div class="spinner-layer">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>