{% set block_mission_statement_classes = block_mission_statement_classes|default() %}
{% set block_mission_statement_label = block_mission_statement_label|default('Mission') %}
{% set block_mission_statement_text = block_mission_statement_text|default() %}

<div id="mission" class="block-nds block--mission-statement {{ block_mission_statement_classes }}">
    <p class="block--mission-statement__header">{{ block_mission_statement_label }}</p>
    <h1 class="block--mission-statement__text">{{ block_mission_statement_text }}</h1>
</div>
