{% set component_filters_classes = component_filters_classes|default() %}

<div class="component-nds component--filters {{ component_filters_classes }}">
    {% block component_filters_filters %}{% endblock %}
</div>