.component--branding {
    height: $s-1-75;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-bottom: 0;
    @include media-breakpoint-up(sm) {
        height: $s-3-50;
    }
    &:hover,
    &:focus {
        border-bottom: 0;
    }
    .image--default {
        height: 100%;
    }
    &__vertical-bar {
        display: block;
        width: $s-1px;
        height: 100%;
        margin: 0 $s-0-50;
        background: $input-border;
        @include media-breakpoint-up(sm) {
            margin: 0 $s-0-75;
        }
    }
    &__logo {
        &--mobile {
            @include media-breakpoint-up(sm) {
                display: none;
            }
        }
        &--desktop {
            display: none;
            @include media-breakpoint-up(sm) {
                display: block;
            }
        }
    }
    .text--product-identity {
        color: $type-heading;
    }
    &.no-product-id {
        .component--branding__vertical-bar,
        .text--product-identity {
            display: none;
        }
    }
}