.component--modal {
    cursor: pointer;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-modal;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    &__wrapper {
        position: relative;
        width: auto;
        margin: $s-3;
        pointer-events: none;
        transform: none;
        &__content {
            cursor: default;
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: $white;
            background-clip: padding-box;
            border: $s-1px solid rgba(0,0,0,0.2);
            border-radius: $border-radius-semi;
            outline: 0;
            &__header {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                border-bottom: $s-1px solid $border-light;
                border-top-left-radius: calc($border-radius-semi - $s-1px);
                border-top-right-radius: calc($border-radius-semi - $s-1px);
                padding: $s-1-50;
                position: relative;
                * {
                    margin: 0;
                }
                &__close {
                    @include md-2dp;
                    @extend .hoverable;
                    position: absolute;
                    height: $s-3;
                    width: $s-3;
                    border-radius: 100% !important;
                    padding: 0;
                    color: $status-error !important;
                    background: $white !important;
                    border: $s-1px solid transparent !important;
                    right: -1 * $s-1-50;
                    top: -1 * $s-1-50;
                    &:hover,
                    &:focus,
                    &:active {
                        border: $s-1px solid $status-error !important;
                        background: $status-error !important;
                        color: $white !important;
                    }
                }
            }
            &__body {
                padding: $s-1-50;
                img {
                    max-width: 100%;
                }
            }
            &__footer {
                display: block;
                align-items: stretch;
                justify-content: flex-start;
                flex-wrap: wrap;
                padding: $s-1-50;
                border-top: 1px solid $border-light;
                border-bottom-right-radius: calc($border-radius-semi - $s-1px);
                border-bottom-left-radius: calc($border-radius-semi - $s-1px);
            }
        }
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-modal - 50;
    width: 100vw;
    height: 100vh;
    background-color: $black;
    &.show {
        opacity: .5;
    }
}