.block--alert {
    @include md-0dp;
    background: #be2c2c;
    color: $white;
    border-radius: 0 !important;
    border: 0;
    margin: 0;
    padding: 1rem;
    * {
        color: $white;
    }
    h1 {
        font-size: 1.75rem;
        margin-bottom: .75rem;
        margin-top: 0;
        padding-top: 0;
    }
    a {
        border-bottom: 0.0625rem solid $white;
        &:hover,
        &:focus {
            border-bottom: 0.0625rem solid transparent;
            color: $white;
        }
        &:visited {
            color: $white;
            &:hover,
            &:focus {
                color: $white;
            }
            & + .ext-link-icon {
                &:after {
                    color: $white;
                }
            }
        }
    }
    hr {
        background: $white;
        margin: .75rem 0;
    }
    p {
        margin: .35rem 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.severity--2, &.severity--3 {
        * {
            color: $black;
        }
        hr {
            background: $black;
        }
        a {
            border-bottom: 0.0625rem solid $black;
            &:hover,
            &:focus {
                border-bottom: 0.0625rem solid transparent;
                color: $black;
            }
            &:visited {
                color: $black;
                &:hover,
                &:focus {
                    color: $black;
                }
                & + .ext-link-icon {
                    &:after {
                        color: $black;
                    }
                }
            }
        }
    }
    &.severity--2 {
        background: #ff8c00;
    }
    &.severity--3 {
        background: #ffff00;
    }
    &.severity--4 {
        background: #008000;
    }
}