.block--header {
    border: 0;
    padding: 0;
    .block--share {
        position: relative;
        &__wrapper {
            display: inline;
            margin: 0 0.4rem;
            &:first-child {
                margin-left: 0;
            }
        }
        @include media-breakpoint-up('md') {
            display: none;
        }
    }
}