{#
    ---
    title: Checkbox Group
    ---

    Type: Molecules -> Input Group

    Description:
        The Checkbox Group pattern is designed to build a list of checkbox options with a label.

        Embed the Checkbox Group pattern and pass individual checkbox options (Atoms -> Input -> input-checkbox) to the block "input_checkbox_options".

    Blocks:
        {% block input_checkbox_options %}: The block holding the individual checkbox items.

    Parameters:
        input_group_checkbox_classes: Additional classes on the wrapper around the input field.
        input_group_checkbox_id: Input ID.
        input_group_checkbox_label: Input label.
        input_group_checkbox_label_classes: Additional classes for the input field label.
        input_group_checkbox_tooltip: Optional tooltip text for the input field (Dependencies: Bootstrap 4, jQuery).
        input_group_checkbox_validation: Validation message for field error.

    Includes:
        Atoms -> Input -> input-label
        Atoms -> Input -> input-validation

    Last Updated: April 30, 2021
#}

{% set input_group_checkbox_classes = input_group_checkbox_classes|default() %}
{% set input_group_checkbox_id = input_group_checkbox_id|default() %}
{% set input_group_checkbox_label = input_group_checkbox_label|default() %}
{% set input_group_checkbox_label_classes = input_group_checkbox_label_classes|default() %}
{% set input_group_checkbox_tooltip = input_group_checkbox_tooltip|default() %}
{% set input_group_checkbox_validation = input_group_checkbox_validation|default() %}

<div id="{{ input_group_checkbox_id }}" class="input-group-nds input-group--checkbox {{ input_group_checkbox_classes }}" role="checkbox">
    {% include "@nds/01-atoms/input/input-label/_input-label-main.twig" with
        {
            "input_label_id": input_group_checkbox_id,
            "input_label_classes": input_group_checkbox_label_classes,
            "input_label_text": input_group_checkbox_label,
            "input_label_tooltip": input_group_checkbox_tooltip
        }
    %}
    {% block input_checkbox_options %}{% endblock %}
    {% include "@nds/01-atoms/input/input-validation/_input-validation-main.twig" with { "input_validation_text": input_group_checkbox_validation } %}
</div>