{% set text_blockquote_classes = text_blockquote_classes|default() %}
{% set text_blockquote_text = text_blockquote_text|default() %}

<blockquote class="text-nds text--blockquote {{ text_blockquote_classes }}">
  <p>{{ text_blockquote_text }}</p>
</blockquote>
