{#
    ---
    title: Blockquote
    ---

    Type: Atoms -> Text

    Description:
        Blockquotes are useful to separate quotes from the rest of the body text, adding visual interest to pages and highlighting the quote.

    Parameters:
        text_blockquote_classes: Additional blockquote classes.
        text_blockquote_id: Blockquote ID.
        text_blockquote_text: Blockquote text.

    Last Updated: January 22, 2021
#}

{% set text_blockquote_classes = text_blockquote_classes|default() %}
{% set text_blockquote_id = text_blockquote_id|default() %}
{% set text_blockquote_text = text_blockquote_text|default() %}

<blockquote class="text-nds text--blockquote {{ text_blockquote_classes }}"{% if text_blockquote_id is not empty %} id="{{ text_blockquote_id }}"{% endif %}>
    {% block blockquote_content %}
        <p>{{ text_blockquote_text }}</p>
    {% endblock %}
</blockquote>
