{% set text_badge_classes = text_badge_classes|default() %}
{% set text_badge_id = text_badge_id|default() %}
{% set text_badge_text = text_badge_text|default() %}

<span class="text-nds text--badge {{ text_badge_classes }}"{% if text_badge_id is not empty %} id="{{ text_badge_id }}"{% endif %}>{{ text_badge_text }}</span>