<nav class="pager" role="navigation" aria-labelledby="pagination-heading"><a id="anch_127">
    <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
    </a><ul class="pager__items js-pager__items"><a id="anch_128">
                                                        </a><li class="pager__item is-active"><a id="anch_129">
                                          </a><a href="?search=test&amp;page=0" title="Current page" id="anch_130">
            <span class="visually-hidden">
              Current page
            </span>1</a>
        </li>
              <li class="pager__item">
                                          <a href="?search=test&amp;page=1" title="Go to page 2" id="anch_131">
            <span class="visually-hidden">
              Page
            </span>2</a>
        </li>
              <li class="pager__item">
                                          <a href="?search=test&amp;page=2" title="Go to page 3" id="anch_132">
            <span class="visually-hidden">
              Page
            </span>3</a>
        </li>
              <li class="pager__item">
                                          <a href="?search=test&amp;page=3" title="Go to page 4" id="anch_133">
            <span class="visually-hidden">
              Page
            </span>4</a>
        </li>
                                      <li class="pager__item pager__item--next">
          <a href="?search=test&amp;page=1" title="Go to next page" rel="next" id="anch_134">
            <span class="visually-hidden">Next page</span>
            <span aria-hidden="true">››</span>
          </a>
        </li>
                          <li class="pager__item pager__item--last">
          <a href="?search=test&amp;page=3" title="Go to last page" id="anch_135">
            <span class="visually-hidden">Last page</span>
            <span aria-hidden="true">Last »</span>
          </a>
        </li>
          </ul>
  </nav>