.block--alert {
    @include md-0dp;
    background: $alert-severity-1;
    color: $white;
    border-radius: 0 !important;
    border: 0;
    padding: $s-1;
    * {
        color: $white;
    }
    h1 {
        font-size: $s-1-75;
        margin-bottom: $s-0-75;
        margin-top: 0;
        padding-top: 0;
    }
    a {
        border-bottom: $s-1px solid $white;
        &:hover,
        &:focus {
            border-bottom: $s-1px solid transparent;
            color: $white;
        }
        &:visited {
            color: $white;
            &:hover,
            &:focus {
                color: $white;
            }
            & + .ext-link-icon {
                &:after {
                    color: $white;
                }
            }
        }
    }
    hr {
        background: $white;
        margin: $s-0-75 0;
    }
    p {
        margin: $s-0-25 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.severity--2, &.severity--3 {
        * {
            color: $black;
        }
        hr {
            background: $black;
        }
        a {
            border-bottom: $s-1px solid $black;
            &:hover,
            &:focus {
                border-bottom: $s-1px solid transparent;
                color: $black;
            }
            &:visited {
                color: $black;
                &:hover,
                &:focus {
                    color: $black;
                }
                & + .ext-link-icon {
                    &:after {
                        color: $black;
                    }
                }
            }
        }
    }
    &.severity--2 {
        background: $alert-severity-2;
    }
    &.severity--3 {
        background: $alert-severity-3;
    }
    &.severity--4 {
        background: $alert-severity-4;
    }
}