<h4>Primary Colors</h4>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch primary-blue" style="background: #20558a"></span>
    <span class="sg-label">$blue <br> BLUE #20558a</span>
  </li>
  <li>
    <span class="sg-swatch primary-blue-darker" style="background: #123b56"></span>
    <span class="sg-label">$blue-darker <br> Darker: #123b56</span>
  </li>
  <li>
    <span class="sg-swatch primary-blue-lighter" style="background: #306ba0"></span>
    <span class="sg-label">$blue-lighter <br> Lighter: #306ba0</span>
  </li>
  <li>
    <span class="sg-swatch primary-blue-lightest" style="background: #78a1c4"></span>
    <span class="sg-label">$blue-lightest <br> Lightest: #78a1c4</span>
  </li>
</ul>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch primary-base" style="background: #545359"></span>
    <span class="sg-label">$base <br> BASE #545359</span>
  </li>
  <li>
    <span class="sg-swatch primary-base-darker" style="background: #2b2a2d"></span>
    <span class="sg-label">$base-darker <br> Darker: #2b2a2d</span>
  </li>
  <li>
    <span class="sg-swatch primary-base-lighter" style="background: #616066"></span>
    <span class="sg-label">$base-lighter <br> Lighter: #616066</span>
  </li>
  <li>
    <span class="sg-swatch primary-base-lightest" style="background: #79787f"></span>
    <span class="sg-label">$base-lightest <br> Lightest: #79787f</span>
  </li>
</ul>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch primary-background" style="background: #e7e6e2"></span>
    <span class="sg-label">$background <br> BACKGROUND #e7e6e2</span>
  </li>
  <li>
    <span class="sg-swatch primary-background-darker" style="background: #dbdad3"></span>
    <span class="sg-label">$background-darker <br> Darker: #dbdad3</span>
  </li>
  <li>
    <span class="sg-swatch primary-background-lighter" style="background: #f3f3f0"></span>
    <span class="sg-label">$background-lighter <br> Lighter: #f3f3f0</span>
  </li>
  <li>
    <span class="sg-swatch primary-background-lightest" style="background: #ffffff"></span>
    <span class="sg-label">$background-lightest <br> Lightest: #ffffff</span>
  </li>
</ul>

<hr>
<h4>Accent Colors</h4>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch accent-green" style="background: #2e8540"></span>
    <span class="sg-label">$green <br> GREEN #2e8540</span>
  </li>
  <li>
    <span class="sg-swatch accent-green-darker" style="background: #25602e"></span>
    <span class="sg-label">$green-darker <br> Darker: #25602e</span>
  </li>
  <li>
    <span class="sg-swatch accent-green-lighter" style="background: #94bfa2"></span>
    <span class="sg-label">$green-lighter <br> Lighter: #94bfa2</span>
  </li>
  <li>
    <span class="sg-swatch accent-green-lightest" style="background: #e7f4e4"></span>
    <span class="sg-label">$green-lightest <br> Lightest: #e7f4e4</span>
  </li>
</ul>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch accent-bright-blue" style="background: #449be2"></span>
    <span class="sg-label">$bright-blue <br> BRIGHT BLUE #449be2</span>
  </li>
  <li>
    <span class="sg-swatch accent-bright-blue-darker" style="background: #2072a0"></span>
    <span class="sg-label">$bright-blue-darker <br> Darker: #2072a0</span>
  </li>
  <li>
    <span class="sg-swatch accent-bright-blue-lighter" style="background: #82c9f9"></span>
    <span class="sg-label">$bright-blue-lighter <br> Lighter: #82c9f9</span>
  </li>
  <li>
    <span class="sg-swatch accent-bright-blue-lightest" style="background: #d4eeff"></span>
    <span class="sg-label">$bright-blue-lightest <br> Lightest: #d4eeff</span>
  </li>
</ul>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch accent-orange" style="background: #f26600"></span>
    <span class="sg-label">$orange <br> ORANGE #f26600</span>
  </li>
  <li>
    <span class="sg-swatch accent-orange-darker" style="background: #bc5006"></span>
    <span class="sg-label">$orange-darker <br> Darker: #bc5006</span>
  </li>
  <li>
    <span class="sg-swatch accent-orange-lighter" style="background: #f9b282"></span>
    <span class="sg-label">$orange-lighter <br> Lighter: #f9b282</span>
  </li>
  <li>
    <span class="sg-swatch accent-orange-lightest" style="background: #ffe5d4"></span>
    <span class="sg-label">$orange-lightest <br> Lightest: #ffe5d4</span>
  </li>
</ul>

<hr>
<h4>Special Colors</h4>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch special-red" style="background: #cd2026"></span>
    <span class="sg-label">$red <br> RED #cd2026</span>
  </li>
  <li>
    <span class="sg-swatch special-gold" style="background: #fdb81e"></span>
    <span class="sg-label">$gold <br> GOLD #fdb81e</span>
  </li>
  <li>
    <span class="sg-swatch special-purple" style="background: #4c2c92"></span>
    <span class="sg-label">$purple <br> PURPLE #4c2c92</span>
  </li>
</ul>

