.form--search {
    label {
        width: 100%;
    }
    &__form {
        position: relative;
        display: flex;
        flex-wrap: none;
        border: $s-1px solid $input-border;
        background: $white;
        &:focus-within {
            border: $s-1px solid $type-link;
            outline: 0;
            box-shadow: 0 0 0 $s-1px $type-link;
        }
        .input--text--icon {
            flex-grow: 1;
            input,
            .input--text {
                @include shadow($shadow-none, !important);
                border: $s-1px solid transparent !important;
                &:focus {
                    border: $s-1px solid transparent !important;
                    @include shadow($shadow-none, !important);
                }
            }
        }
        .form-submit,
        input[type="submit"] {
            @extend .button-nds;
            @extend .button--primary;
            display: block;
            line-height: normal;
            padding: $s-0-50 $s-1-50;
            border: 0;
            margin: $s-0-25;
            &:hover,
            &:focus {
                @include shadow($shadow-none);
                border: 0;
            }
        }
    }
}