{#
    ---
    title: Spacer
    ---

    Type: Atoms -> Spacer

    Description:
        A pattern used to add spacing between components.

    Parameters:
        spacer_classes: Classes to define the amount of spacing for the spacer. Please see the "Design" page of the NDS documentation website for options.

    Last Updated: February 10, 2021
#}

{% set spacer_classes = spacer_classes|default() %}

<div class="spacer {{ spacer_classes }}"></div>