{% embed "@nds/02-molecules/components/component-accordion/_component-accordion-main.twig" with
    {
        "component_accordion_id": "accordion1"
    }
%}
    {% block component_accordion_content %}
        <div class="block--accordion-card card">	
            <div class="block--accordion-card__header card-header" id="headingOne">	
                <h3 class="mb-0">
                    <button aria-controls="collapseOne" aria-expanded="false" class="block--accordion-card__header__button btn btn-link" data-target="#collapseOne" data-toggle="collapse" type="button">Q: Does a vaccine or antibody 
                    against SARS-CoV-2 or COVID-19 already exist?</button>
                </h3>	
            </div>	
            <div aria-labelledby="headingOne" class="block--accordion-card__body collapse" id="collapseOne" data-parent="#accordion1">
                <div class="card-body">
                    <p>A: There is no licensed vaccine or antibody against severe acute respiratory syndrome coronavirus type 2 (SARS-CoV-2), which is the virus that causes coronavirus disease 2019 (COVID-19). Scientists are working very hard to develop a vaccine and an antibody and do the research to determine whether they are safe and effective against SARS-CoV-2.</p>	
                </div>	
            </div>	
        </div>
        <div class="block--accordion-card card">	
            <div class="block--accordion-card__header card-header" id="headingSix">	
                <h3 class="mb-0">
                    <button aria-controls="collapseSix" aria-expanded="false" class="block--accordion-card__header__button btn btn-link" data-target="#collapseSix" data-toggle="collapse" type="button">Q: Will study participants be given SARS-CoV-2 or COVID-19 as part of the study?</button>
                </h3>	
            </div>	
            <div aria-labelledby="headingSix" class="block--accordion-card__body collapse" id="collapseSix" data-parent="#accordion1">
                <div class="card-body">
                    <p>A: No. That type of study design is known as a challenge study. Instead, we are using a design known as “randomized, blinded, placebo-controlled” studies. We will enroll people who are more likely to be exposed to SARS-CoV-2 infection and COVID-19 illness. Some participants will get the vaccine, and some will get a placebo, which is a sterile saline solution that does not have any vaccine in it. We expect that some people will be exposed to the virus in their everyday lives, and may become sick. We will compare the 2 groups to see if there are fewer people who get sick in the vaccine group than in the placebo group. This is how we will know if the vaccine works.</p>	
                </div>	
            </div>	
        </div>
        <div class="block--accordion-card card">	
            <div class="block--accordion-card__header card-header" id="headingTwo">	
                <h3 class="mb-0">	
                    <button aria-controls="collapseTwo" aria-expanded="false" class="block--accordion-card__header__button btn btn-link" data-target="#collapseTwo" data-toggle="collapse" type="button">Q: Is joining a COVID-19 vaccine or antibody study like being a guinea pig?</button>
                </h3>
            </div>
            <div aria-labelledby="headingTwo" class="block--accordion-card__body collapse" id="collapseTwo" data-parent="#accordion1">
                <div class="card-body">
                    <p>A: Unlike guinea pigs, people can say yes or no about joining a study. All study volunteers must go through a process called <em>informed consent</em> that ensures they understand all of the risks and benefits of being in a study, and those volunteers are reminded that they may leave a study at any time without losing any of their rights or benefits. The COVID-19 Prevention Network (CoVPN) takes great care to make sure people understand the study fully before they decide whether or not to join. All CoVPN studies follow US federal regulations on research, as well as international ethical standards and any country-specific requirements for the countries where our research is conducted.</p>	
                </div>	
            </div>	
        </div> 
        <div class="block--accordion-card card">	
            <div class="block--accordion-card__header card-header" id="headingThree">
                <h3 class="mb-0">
                    <button aria-controls="collapseThree" aria-expanded="false" class="block--accordion-card__header__button btn btn-link" data-target="#collapseThree" data-toggle="collapse" type="button">	Q: Are Western scientists unfairly using people in developing countries to test COVID-19 vaccines?</button>
                </h3>
            </div>	
            <div aria-labelledby="headingThree" class="block--accordion-card__body collapse" id="collapseThree" data-parent="#accordion1">
                <div class="card-body">	
                    <p>A: In order to find a vaccine or antibody that works in all kinds of people, it is necessary to test them in all kinds of people. This is especially true for groups of people that have been hardest hit by the COVID-19 pandemic. Protecting the well-being of study volunteers is the greatest responsibility in every study, and the CoVPN works to make sure that our studies follow the highest ethical standards. These studies are done in collaboration with local scientists and researchers and community representatives with oversight by ethics and regulatory groups in each country. Many studies are done in sub-Saharan Africa, Europe, North America, and South America at the same time and we follow the same procedures and international standards no matter where the study takes place.</p>
                </div>	
            </div>	
        </div>
        <div class="block--accordion-card card">
            <div class="block--accordion-card__header card-header" id="headingFour">
                <h3 class="mb-0">	
                    <button aria-controls="collapseFour" aria-expanded="false" class="block--accordion-card__header__button btn btn-link" data-target="#collapseFour" data-toggle="collapse" type="button">Q: Does a person have to be infected with SARS-CoV-2 to be in a COVID-19 vaccine or antibody study?</button>
                </h3>
            </div>
            <div aria-labelledby="headingFour" class="block--accordion-card__body collapse" id="collapseFour" data-parent="#accordion1">
                <div class="card-body">
                    <p>A: No. The vaccines and antibodies being tested by the CoVPN are preventive products. They must be tested on volunteers who do not have COVID-19, because our goal is to keep people healthy. There are other research groups that are conducting studies of treatments that might be used for people who already have COVID-19.</p>	
                </div>	
            </div>	
        </div>
        <div class="block--accordion-card card">
            <div class="block--accordion-card__header card-header" id="headingFive">	
                <h3 class="mb-0">
                    <button aria-controls="collapseFive" aria-expanded="false" class="block--accordion-card__header__button btn btn-link" data-target="#collapseFive" data-toggle="collapse" type="button">Q: Are vaccines safe?</button>	
                </h3>	
            </div>	
            <div aria-labelledby="headingFive" class="block--accordion-card__body collapse" id="collapseFive" data-parent="#accordion1">
                <div class="card-body">
                    <p>A: It is true that vaccines often have side effects, but those are typically temporary (like a sore arm, low fever, muscle aches and pains) and go away after a day or two. Many studies have proven that there is no link between vaccines and autism. There is also no link between childhood vaccination and autism. The British doctor who originally published the finding about vaccines and autism has since been found to have falsified his data and was stripped of his license to practice medicine. The value of protection among vaccinated individuals and to the public has made vaccines one of the top public health measures in history, second only to having a clean water supply.</p>	
                </div>	
            </div>	
        </div>	
        <div class="block--accordion-card card">
            <div class="block--accordion-card__header card-header" id="headingSeven">	
                <h3 class="mb-0">
                    <button aria-controls="collapseSeven" aria-expanded="false" class="block--accordion-card__header__button btn btn-link" data-target="#collapseSeven" data-toggle="collapse" type="button">Q: Do study participants get paid?</button>	
                </h3>	
            </div>	
            <div aria-labelledby="headingSeven" class="block--accordion-card__body collapse" id="collapseSeven" data-parent="#accordion1">
                <div class="card-body">
                    <p>A: Yes, people who join a study get compensated for their time and inconvenience. The amount per visit varies depending on how long the visit is and the procedures that take place. The amount also varies from city to city, because the cost of living is different between large metropolitan areas compared to smaller towns and rural areas. The details about compensation will be explained when a person goes through the informed consent process at a local clinic to join a study.</p>	
                </div>	
            </div>
        </div>
        <div class="block--accordion-card card">
            <div class="block--accordion-card__header card-header" id="headingEight">	
                <h3 class="mb-0">
                    <button aria-controls="collapseEight" aria-expanded="false" class="block--accordion-card__header__button btn btn-link" data-target="#collapseEight" data-toggle="collapse" type="button">Q: What happens after I submit my survey to the Volunteer Screening Registry?</button>	
                </h3>	
            </div>	
            <div aria-labelledby="headingEight" class="block--accordion-card__body collapse" id="collapseEight" data-parent="#accordion1">
                <div class="card-body">
                    <p>A: When you have completed the submission of your survey, you will see a message with the heading “Success!” which means that we have successfully received your information. Our system does not send out an email confirmation message.</p>
                    <p>Your information will be provided to a study site closest to your location. If the study site thinks you may qualify for a particular study, they will reach out to you as soon as possible about participating. This could be soon, or it may be in several months, as there are several studies taking place over the next 6 months. We will never ask for your financial, credit, or bank account information. We will never ask for an ID number over the phone.</p>
                </div>	
            </div>
        </div>
    {% endblock %}
{% endembed %}