{% embed "@nds/02-molecules/components/component-accordion/_component-accordion-main.twig" with
    {
        "component_accordion_id": "accordion1"
    }
%}
    {% block component_accordion_content %}
        <div class="component--accordion__card">	
            <div class="component--accordion__card__header" id="headingOne">	
                <h3>
                    <button class="component--accordion__card__header__button" aria-controls="collapseOne" aria-expanded="false" data-target="#collapseOne" data-toggle="collapse" type="button">Q: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?</button>
                </h3>	
            </div>	
            <div aria-labelledby="headingOne" class="component--accordion__card__body collapse" id="collapseOne" data-parent="#accordion1">
                <p>A: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>	
            </div>	
        </div>
        <div class="component--accordion__card">	
            <div class="component--accordion__card__header" id="headingTwo">	
                <h3>
                    <button class="component--accordion__card__header__button" aria-controls="collapseTwo" aria-expanded="false" data-target="#collapseTwo" data-toggle="collapse" type="button">Q: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?</button>
                </h3>	
            </div>	
            <div aria-labelledby="headingTwo" class="component--accordion__card__body collapse" id="collapseTwo" data-parent="#accordion1">
                <p>A: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>	
            </div>	
        </div>
        <div class="component--accordion__card">	
            <div class="component--accordion__card__header" id="headingThree">	
                <h3>
                    <button class="component--accordion__card__header__button" aria-controls="collapseThree" aria-expanded="false" data-target="#collapseThree" data-toggle="collapse" type="button">Q: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?</button>
                </h3>	
            </div>	
            <div aria-labelledby="headingThree" class="component--accordion__card__body collapse" id="collapseThree" data-parent="#accordion1">
                <p>A: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>	
            </div>	
        </div>
    {% endblock %}
{% endembed %}