{% set component_product_identity_classes = component_product_identity_classes|default() %}
{% set component_product_identity_top = component_product_identity_top|default() %}
{% set component_product_identity_bottom = component_product_identity_bottom|default() %}

<div class="component-nds component--product-identity {{ component_product_identity_classes }}">
    <div class="component--product-identity__top">{{ component_product_identity_top }}</div>
    <div class="component--product-identity__bottom">{{ component_product_identity_bottom }}</div>
</div>