.component--product-identity {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    @include media-breakpoint-up(md) {
        min-width: 10rem;
    }
    &__top,
    &__bottom {
        &.bold {
            font-weight: $font-weight-bold !important;
        }
        &.italics {
            font-style: italic !important;
        }
    }
}