{#
    ---
    title: Primary Drawer
    ---

    Type: Molecules -> Navigation

    Description:
        Primary navigation is used to move between the major sections of your website. NDS recommends including primary navigation directly below the header of your site for easiest access.

        Although it is possible to use the NDS out of the box component for Primary Navigation, it is likely you will need to replicate the pattern for your particular site due to the unique nature of different websites. To make your own custom pattern, simply copy the navigation-primary component from inside the 00-nds/ directory, and paste it into your 02-molecules/ directory. Then you can freely make changes to the component without altering the original NDS component.

        You will need to supply the primary navigation pattern with content using the "navigation_primary_content" block. You can pass links or dropdown markup, using the proper NDS structure and classes. Reference the demo pattern to see examples of links and dropdowns with the proper structure and classes.

    Blocks:
        {% block navigation_primary_content %}: The block holding the navigation markup.

    Parameters:
        navigation_primary_classes: Additional classes for the navigation component.
        navigation_primary_id: Navigation component ID.

    Last Updated: January 22, 2021
#}

{% set navigation_primary_classes = navigation_primary_classes|default() %}
{% set navigation_primary_id = navigation_primary_id|default() %}

<nav class="navigation-nds navigation--primary {{ navigation_primary_classes }}"{% if navigation_primary_id is not empty %} id="{{ navigation_primary_id }}"{% endif %}>
    {% block navigation_primary_content %}{% endblock %}
</nav>