{% embed "@nds/02-molecules/navigation/navigation-mobile-rail/_navigation-mobile-rail-main.twig" with
    {
        "navigation_mobile_rail_button_label": "Left Rail",
        "navigation_mobile_rail_button_active": "Left Rail Active",
        "navigation_mobile_rail_button_inactive": "Left Rail Inactive"
    }
%}
    {% block navigation_mobile_rail_content %}
        <p>Left Rail Content</p>
    {% endblock %}
{% endembed %}