{% include "@molecules/components/component-style-controls/_component-style-controls-main.twig" %}

{% embed "@nds/01-atoms/layouts/layouts-site/_layouts-site-main.twig" with
    {
        "layouts_site_id": "components"
    }
%}
    {% block header %}
        {% include "@nds/02-molecules/components/component-uswds-banner/_component-uswds-banner-main.twig" %}
        {% include "@organisms/global/global-header/_global-header-main.twig" with
            {
                "global_header_product_id_top": "Design System"
            }
        %}
    {% endblock %}
    {% block global_navigation %}
        {% include "@molecules/navigation/navigation-primary/_navigation-primary-main.twig" %}
        {% include "@molecules/navigation/navigation-drawer/_navigation-drawer-main.twig" with
            {
                "navigation_drawer_id": "main-navigation-mobile"
            }
        %}
        {% include "@nds/01-atoms/buttons/button-floating/_button-floating-main.twig" with
            {
                "button_floating_id": "custom-styles-toggle",
                "button_floating_icon": "palette",
                "button_floating_text": "Customize Page Theme"
            }
        %}
    {% endblock %}
    {% block main %}
        {% embed "@atoms/layouts/layouts-main/_layouts-main-main.twig" with
            {
                "layouts_main_id": 'main',
                "layouts_main_left": columns.left,
                "layouts_main_main": columns.main,
                "layouts_main_right": columns.right
            }
        %}
            {% block left_column %}
                {% embed "@nds/02-molecules/navigation/navigation-mobile-rail/_navigation-mobile-rail-main.twig" with
                    {
                        "navigation_mobile_rail_button_text": "Open Design Menu"
                    }
                %}
                    {% block navigation_mobile_rail_content %}
                        {% include "@nds/02-molecules/navigation/navigation-local/_navigation-local-main.twig" with
                            {
                                "navigation_local_id": "navigation-local",
                                "navigation_local_title_text": "Components",
                                "navigation_local_items": [
                                    {
                                        "text": "Atoms",
                                        "href": "#section-components-atoms",
                                        "below": [
                                            {
                                                "text": "Buttons",
                                                "href": "#section-components-atoms-buttons"
                                            },
                                            {
                                                "text": "Icons",
                                                "href": "#section-components-atoms-icons"
                                            },
                                            {
                                                "text": "Images",
                                                "href": "#section-components-atoms-images"
                                            },
                                            {
                                                "text": "Input",
                                                "href": "#section-components-atoms-input"
                                            },
                                            {
                                                "text": "Layouts",
                                                "href": "#section-components-atoms-layouts"
                                            },
                                            {
                                                "text": "Links",
                                                "href": "#section-components-atoms-links"
                                            },
                                            {
                                                "text": "Media",
                                                "href": "#section-components-atoms-media"
                                            },
                                            {
                                                "text": "Tables",
                                                "href": "#section-components-atoms-tables"
                                            },
                                            {
                                                "text": "Text",
                                                "href": "#section-components-atoms-text"
                                            }
                                        ]
                                    },
                                    {
                                        "text": "Molecules",
                                        "href": "#section-components-molecules",
                                        "below": [
                                            {
                                                "text": "Blocks",
                                                "href": "#section-components-molecules-blocks"
                                            },
                                            {
                                                "text": "Components",
                                                "href": "#section-components-molecules-components"
                                            },
                                            {
                                                "text": "Navigation",
                                                "href": "#section-components-molecules-navigation"
                                            },
                                            {
                                                "text": "Input Groups",
                                                "href": "#section-components-molecules-input-groups"
                                            },
                                            {
                                                "text": "Forms",
                                                "href": "#section-components-molecules-forms"
                                            },
                                        ]
                                    },
                                    {
                                        "text": "Organisms",
                                        "href": "#section-components-organisms",
                                        "below": [
                                            {
                                                "text": "Global",
                                                "href": "#section-components-molecules-global"
                                            },
                                            {
                                                "text": "Views",
                                                "href": "#section-components-molecules-views"
                                            }
                                        ]
                                    },
                                    {
                                        "text": "Templates",
                                        "href": "#section-components-templates"
                                    }
                                ]
                            }
                        %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            {% block main_column %}
                {% embed "@nds/01-atoms/layouts/layouts-body/_layouts-body-main.twig" with
                    {
                        "layouts_body_vertical_padding": "no"
                    }
                %}
                    {% block body_content %}
                         {% include "@sections/_section-components-atoms.twig" %}
                         {% include "@sections/_section-components-molecules.twig" %}
                         {% include "@sections/_section-components-organisms.twig" %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            {% block right_column %}<span></span>{% endblock %}
        {% endembed %}
    {% endblock %}
    {% block footer %}
        {% embed "@nds/03-organisms/global/global-footer/_global-footer-main.twig" %}
    {% endembed %}
{% endblock %}
{% endembed %}