.navigation--breadcrumbs {
    font-weight: $font-weight-semibold;
    font-size: $s-0-75;
    color: $type-heading;
    a {
        &:hover,
        &:focus {
            border-bottom: $s-1px solid transparent;
        }
    }
    .icon--default {
        font-size: $s-0-50;
        width: auto;
        color: $type-body;
        margin: 0 $s-0-50;
    }
    & + h1 {
        margin-top: $s-2;
    }
}