.navigation--breadcrumbs {
    font-weight: $font-weight-light;
    font-size: $s-0-75;
    a {
        &:hover,
        &:focus {
            border-bottom: $s-1px solid transparent;
        }
    }
    .icon--default {
        font-size: $s-0-75;
        width: auto;
        color: $type-body;
        margin: 0 $s-0-50;
    }
}