{% set input_group_radio_id = input_group_radio_id|default() %}
{% set input_group_radio_classes = input_group_radio_classes|default() %}
{% set input_group_radio_label = input_group_radio_label|default() %}
{% set input_group_radio_tooltip = input_group_radio_tooltip|default() %}
{% set input_group_radio_label_classes = input_group_radio_label_classes|default() %}

<div id="{{ input_group_radio_id }}" class="input-group-nds input-group--radio {{ input_group_radio_classes }}" role="radiogroup">
    {% include "@nds/01-atoms/input/input-label/_input-label-main.twig" with
        {
            "input_label_id": input_group_radio_id,
            "input_label_classes": input_group_radio_label_classes,
            "input_label_text": input_group_radio_label,
            "input_label_tooltip": input_group_radio_tooltip
        }
    %}
    {% block input_radio_options %}{% endblock %}
</div>