ul {
	list-style-type: disc;
	ul {
		ul {
			ul {
				list-style-type: disc;
				ul {
					list-style-type: circle;
					ul {
						list-style-type: square;
					}
				}
			}
			list-style-type: square;
		}
		list-style-type: circle;
	}
}
