.navigation--page-contents {
    display: none;
    margin: $s-main-spacer 0;
    padding: $s-1-50;
    max-height: 100vh;
    overflow-y: auto;
    background: $page-background;
    border: $border-block;
    @include media-breakpoint-up($layout-mobile-menu-breakpoint) {
        display: block;
    }
    &__wrapper {
        h2 {
            margin-top: 0;
            font-size: $s-1;
            font-weight: $font-weight-semibold;
            margin-bottom: $s-0-25;
            letter-spacing: normal;
        }
        hr {
            border-top: $border-block;
            margin-top: $s-0-25;
        }
        .icon--loader {
            .preloader-wrapper {
                display: block;
                margin: 0 auto;
            }
        }
        &__list {
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            &__item {
                line-height: $line-height-small;
                a {
                    line-height: $line-height-small;
                    color: $type-link;
                    font-weight: $font-weight-regular;
                    padding-left: 0;
                    margin-left: $s-0-75;
                    border-bottom: $border-transparent;
                    font-size: $s-0-75;
                    height: auto;
                    &:hover,
                    &:focus {
                        text-decoration: underline;
                        border-bottom: $border-transparent;
                        color: $type-link;
                        padding-left: 0;
                        border-left: 0;
                    }
                    &.active {
                        margin-left: 0;
                        border-left: $s-2px solid $color-theme-1-1-1;
                        padding-left: $s-0-75 - $s-2px;
                        border-bottom: 0;
                        &:hover,
                        &:focus {
                            padding-left: $s-0-75 - $s-2px;
                            border-left: $s-2px solid $color-theme-1-1-1;
                        }
                    }
                }
            }
        }
    }
}

.navigation--mobile-rail {
    &.js-is-sticky {
        width: 25%; // Assumes that the left rail is col-3
    }
}