.view--listing {
    &__blocks {
        .block--default {
            margin: 1rem 0;
            display: block;
        }
    }
    &__button-wrapper {
        display: flex;
        justify-content: flex-end;
    }
}