#migration-guide {
    .component--snippet {
        &__block {
            &__code {
                &__snippet {
                    max-height: 20rem;
                    overflow-y: auto;
                }
            }
        }
    }
    .navigation--breadcrumbs {
        padding: $s-3 0 $s-1 0;
    }
}