.button--github {
    background: #24292e !important;
    border: .0625rem solid #24292e !important;
    &:hover,
    &:focus {
        background: #24292e !important;
        border: .0625rem solid #24292e !important;
    }
}