{#
    ---
    title: Toast Component
    ---

    Type: Molecules -> Components

    Description:
        Toasts are short, ephemeral messages that are used to inform users of timely events, such as when their actions have been processed successfully or when an error has occurred. Toasts are automatically dismissed after a few seconds. If you require more active engagement from your users, consider using a modal with an explicit dismissal button.

    Blocks:
        {% block component_toast_content %}: Content to appear in the toast.

    Parameters:
        component_toast_classes: Additional toast classes.
        component_toast_title: An optional title for the toast message.
        component_toast_message: Optional text to appear as the body message of the toast.
        component_toast_status: An optional status to give the toast additional recognition. Options: "success", "error", "information", "warning".
        component_toast_display_duration: The amount of time in seconds the toast remains on the screen. Default: 4.

    Last Updated: May 5, 2021
#}

{% set component_toast_classes = component_toast_classes|default() %}
{% set component_toast_title = component_toast_title|default() %}
{% set component_toast_message = component_toast_message|default() %}
{% set component_toast_status = component_toast_status|default() %}
{% set component_toast_display_duration = component_toast_display_duration|default(4) %}

{% if component_toast_status is not empty %}
    {% set component_toast_classes = component_toast_classes ~ ' ' ~ component_toast_status %}
{% endif %}

<div class="component-nds component--toast {{ component_toast_classes }}" data-duration="{{ component_toast_display_duration }}">
    {% block component_toast_content %}
        {% if component_toast_title is not empty %}<div class="component--toast__title">{{ component_toast_title }}</div>{% endif %}
        {% if component_toast_title is not empty %}<div class="component--toast__message">{{ component_toast_message }}</div>{% endif %}
    {% endblock %}
</div>