{% embed "@nds/02-molecules/blocks/block-alert/_block-alert-main.twig" %}
    {% block block_alert_content %}
        <h1>COVID-19 is an emerging, rapidly evolving situation.</h1>
        <hr>
        <p>Get the latest public health information from CDC: <a href="https://www.coronavirus.gov">https://www.coronavirus.gov</a></p>
        <p>Get the latest research information from NIH: <a href="https://www.nih.gov/coronavirus">https://www.nih.gov/coronavirus</a></p>
    {% endblock %}
{% endembed %}
{% embed "@nds/02-molecules/blocks/block-alert/_block-alert-main.twig" with
    {
        "block_alert_severity_level": "2"
    }
%}
    {% block block_alert_content %}
        <h1>COVID-19 is an emerging, rapidly evolving situation.</h1>
        <hr>
        <p>Get the latest public health information from CDC: <a href="https://www.coronavirus.gov">https://www.coronavirus.gov</a></p>
        <p>Get the latest research information from NIH: <a href="https://www.nih.gov/coronavirus">https://www.nih.gov/coronavirus</a></p>
    {% endblock %}
{% endembed %}
{% embed "@nds/02-molecules/blocks/block-alert/_block-alert-main.twig" with
    {
        "block_alert_severity_level": "3"
    }
%}
    {% block block_alert_content %}
        <h1>COVID-19 is an emerging, rapidly evolving situation.</h1>
        <hr>
        <p>Get the latest public health information from CDC: <a href="https://www.coronavirus.gov">https://www.coronavirus.gov</a></p>
        <p>Get the latest research information from NIH: <a href="https://www.nih.gov/coronavirus">https://www.nih.gov/coronavirus</a></p>
    {% endblock %}
{% endembed %}
{% embed "@nds/02-molecules/blocks/block-alert/_block-alert-main.twig" with
    {
        "block_alert_severity_level": "4"
    }
%}
    {% block block_alert_content %}
        <h1>COVID-19 is an emerging, rapidly evolving situation.</h1>
        <hr>
        <p>Get the latest public health information from CDC: <a href="https://www.coronavirus.gov">https://www.coronavirus.gov</a></p>
        <p>Get the latest research information from NIH: <a href="https://www.nih.gov/coronavirus">https://www.nih.gov/coronavirus</a></p>
    {% endblock %}
{% endembed %}