.layouts--body-card {
    background: $page-background;
    max-width: $layout-body-max-width;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
    @include media-breakpoint-up('lg') {
        padding: 4rem;
    }
    &.layouts--body-card--no-vertical-padding {
        padding-top: 0;
    }
}