.navigation--dropdown {
    &__text {
        &__button {
            display: block;
            border: 0;
            color: $white;
            background: transparent;
            padding: .75rem 1.5rem;
            cursor: pointer;
            &:hover,
            &:focus {
                color: $white;
            }
        }
    }
    &__menu {
        position: absolute;
        z-index: 1000;
        width: 12rem;
        color: $white;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: left;
            li {
                padding: .5rem 1.5rem;
                margin: 0;
            }
        }
    }
}