.button--external {
    @extend .button--primary;
    padding: $s-1 $s-1-25;
    .icon--default {
        margin-left: $s-0-50;
    }
    & + .ext-link-icon {
        display: none !important;
    }
}