<table nds-datatable="true" id="example" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Location</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>Position</td>
            <td>Office</td>
            <td>Location</td>
            <td>Phone</td>
            <td>Email</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Position</td>
            <td>Office</td>
            <td>Location</td>
            <td>Phone</td>
            <td>Email</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Position</td>
            <td>Office</td>
            <td>Location</td>
            <td>Phone</td>
            <td>Email</td>
        </tr>
    </tbody>
</table>