.global--color-indicator {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    line-height: 1.5;
    &__color {
        margin-right: 1.5rem;
        display: inline-block;
        height: 3rem;
        width: 3rem;
        border-radius: 100%;
    }
    &--bg {
        .global--color-indicator__color {
            border: 0.0625rem solid $input-border;
            background: $page-background;
        }
    }
}