{# This Pattern relies on Drupal markup for facets using the Facets Module #}

<div id="block-category" class="block-facet--checkbox block block-facets block-facet-blockpolicy-facet-category">
    <div class="facets-widget-checkbox">
        <h3>Facet Header</h3>
        <ul data-drupal-facet-id="policy_facet_category" data-drupal-facet-alias="category" class="js-facets-checkbox-links item-list__checkbox js-facets-widget">
            <li class="facet-item">
                <input type="checkbox" class="facets-checkbox" id="category-1" checked="checked">
                <label for="category-1">
                    <span class="facet-item__value">Accessibility</span>
                    <span class="facet-item__count">(9)</span>
                </label>
                <a href="/search/policy" rel="nofollow" class="is-active" data-drupal-facet-item-id="category-1" data-drupal-facet-item-value="1" style="display: none;">
                    <span class="facet-item__status js-facet-deactivate">(-)</span>
                    <span class="facet-item__value">Accessibility</span>
                    <span class="facet-item__count">(9)</span>
                </a>
            </li>
            <li class="facet-item">
                <input type="checkbox" class="facets-checkbox" id="category-2">
                <label for="category-2">
                    <span class="facet-item__value">Analytics &amp; Usability</span>
                    <span class="facet-item__count">(2)</span>
                </label>
                <a href="/search/policy?f%5B0%5D=category%3A1&amp;f%5B1%5D=category%3A2" rel="nofollow" data-drupal-facet-item-id="category-2" data-drupal-facet-item-value="2" style="display: none;">
                    <span class="facet-item__value">Analytics &amp; Usability</span>
                    <span class="facet-item__count">(2)</span>
                </a>
            </li>
            <li class="facet-item">
                <input type="checkbox" class="facets-checkbox" id="category-3">
                <label for="category-3">
                    <span class="facet-item__value">Branding &amp; Visuals</span>
                    <span class="facet-item__count">(4)</span>
                </label>
                <a href="/search/policy?f%5B0%5D=category%3A1&amp;f%5B1%5D=category%3A3" rel="nofollow" data-drupal-facet-item-id="category-3" data-drupal-facet-item-value="3" style="display: none;">
                    <span class="facet-item__value">Branding &amp; Visuals</span>
                    <span class="facet-item__count">(4)</span>
                </a>
            </li>
            <li class="facet-item">
                <input type="checkbox" class="facets-checkbox" id="category-4">
                <label for="category-4">
                    <span class="facet-item__value">Content</span>
                    <span class="facet-item__count">(3)</span>
                </label>
                <a href="/search/policy?f%5B0%5D=category%3A1&amp;f%5B1%5D=category%3A4" rel="nofollow" data-drupal-facet-item-id="category-4" data-drupal-facet-item-value="4" style="display: none;">
                    <span class="facet-item__value">Content</span>
                    <span class="facet-item__count">(3)</span>
                </a>
            </li>
        </ul>
    </div>
</div>