{% embed "@nds/02-molecules/blocks/block-default/_block-default-main.twig" with
    {
        "block_default_accent": false
    }
%}
    {% block block_content %}
        <p>More information about this resource is available at <a href="#">3D Reconstruction via Stereoscopy for Study Mosquito Swarms</a></p>
    {% endblock %}
{% endembed %}
{% include "@nds/01-atoms/spacer/_spacer-main.twig" with
    {
        "spacer_classes": "h-1"
    }
%}
{% embed "@nds/02-molecules/blocks/block-default/_block-default-main.twig" with
    {
        "block_default_accent": true
    }
%}
    {% block block_content %}
        <p>More information about this resource is available at <a href="#">3D Reconstruction via Stereoscopy for Study Mosquito Swarms</a></p>
    {% endblock %}
{% endembed %}
{% include "@nds/01-atoms/spacer/_spacer-main.twig" with
    {
        "spacer_classes": "h-1"
    }
%}
{% embed "@nds/02-molecules/blocks/block-default/_block-default-main.twig" with
    {
        "block_default_classes": 'block--default--image',
        "block_default_accent": false
    }
%}
    {% block block_content %}
        <div class="block--default__content">
            <h2><a href="#">Default Block with Image</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="block--default__image">
            {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
                {
                    "image_default_src": 'global/sample/fpo_4x3.png',
                    "image_default_alt": 'Placeholder image'
                }
            %}
        </div>
    {% endblock %}
{% endembed %}
{% include "@nds/01-atoms/spacer/_spacer-main.twig" with
    {
        "spacer_classes": "h-1"
    }
%}
{% embed "@nds/02-molecules/blocks/block-default/_block-default-main.twig" with
    {
        "block_default_classes": 'block--default--image block--default--image--left',
        "block_default_accent": false
    }
%}
    {% block block_content %}
        <div class="block--default__image">
            {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
                {
                    "image_default_src": 'global/sample/fpo_4x3.png',
                    "image_default_alt": 'Placeholder image'
                }
            %}
        </div>
        <div class="block--default__content">
            <h2><a href="#">Default Block with Image</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    {% endblock %}
{% endembed %}