.component--scrollspy-toc {
    &__list {
        list-style: none;
        &__item {
            a {
                color: $type-link;
                font-weight: $font-weight-regular;
                padding-left: 0;
                margin-left: 1rem;
                &:hover,
                &:focus {
                    color: $type-link;
                    padding-left: 0;
                    border-left: 0;
                }
                &.active {
                    margin-left: 0;
                    border-left: 0.125rem solid $color-theme-1-1-1;
                    padding-left: 1rem;
                    border-bottom: 0.0625rem solid transparent;
                    &:hover,
                    &:focus {
                        padding-left: 1rem;
                        border-left: 0.125rem solid $color-theme-1-1-1;
                    }
                }
            }
        }
    }
}