{#
    ---
    title: Default Block
    ---

    Type: Molecules -> Blocks

    Description:
        The default block is a flexible pattern that can be used with almost any HTML content. Optionally, the default block can have an accent style added through the "block_default_accent" parameter. If set to "true," the accent will be added to the left border of the default block.

    Blocks:
        {% block block_content %}: The HTML content to appear in the block.

    Parameters:
        block_default_classes: Additional block classes.
        block_default_id: Block ID.
        block_default_accent: Optional accent on the left of the block. Options: true, false (Default).

    Last Updated: January 14, 2021
#}

{% set block_default_classes = block_default_classes|default() %}
{% set block_default_id = block_default_id|default() %}
{% set block_default_accent = block_default_accent|default(false) %}

<div class="block-nds block--default {{ block_default_classes }} {{ block_default_accent ? 'block--default--accent' : '' }}"{% if block_default_id is not empty %} id="{{ block_default_id }}"{% endif %}>
    {% block block_content %}{% endblock %}
</div>