{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms"
    }
%}
    {% block component_scrollspy_section_content %}
        <h1>Components</h1>
        <p>Use this page to get started using NIAID Design System components. We have provided most of the available NDS components and, where relevant, additional documentation to support your development.</p>
        <h2>Atoms</h2>
    {% endblock %}
{% endembed %}

{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-buttons"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Buttons</h3>

        <h4>Default Button</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md">
                            {% include "@nds/01-atoms/buttons/button-default/demo/button-default-primary.twig" %}
                        </div>
                        <div class="col-md">
                            {% include "@nds/01-atoms/buttons/button-default/demo/button-default-secondary.twig" %}
                        </div>
                        <div class="col-md">
                            {% include "@nds/01-atoms/buttons/button-default/demo/button-default-tertiary.twig" %}
                        </div>
                        <div class="col-md">
                            {% include "@nds/01-atoms/buttons/button-default/demo/button-default-disabled.twig" %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endembed %}

        <h4>External Button</h4>
        <p>Used specifically for links to external sites shown in a button-type format.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/buttons/button-external/demo/button-external.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Document Buttons</h4>
        <p>NDS respects third-party application logos for Word, Excel, PowerPoint, and PDF.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md">
                            {% include "@nds/01-atoms/buttons/button-document/demo/button-document-word.twig" %}
                        </div>
                        <div class="col-md">
                            {% include "@nds/01-atoms/buttons/button-document/demo/button-document-excel.twig" %}
                        </div>
                        <div class="col-md">
                            {% include "@nds/01-atoms/buttons/button-document/demo/button-document-powerpoint.twig" %}
                        </div>
                        <div class="col-md">
                            {% include "@nds/01-atoms/buttons/button-document/demo/button-document-pdf.twig" %}
                        </div>
                        <div class="col-md">
                            {% include "@nds/01-atoms/buttons/button-document/demo/button-document-image.twig" %}
                        </div>
                        <div class="col-md">
                            {% include "@nds/01-atoms/buttons/button-document/demo/button-document-video.twig" %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endembed %}

        <h4>Floating Button</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/buttons/button-floating/demo/_button-floating.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Button with Icon</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/buttons/button-icon/demo/button-icon.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Share Buttons</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md">
                            {% include "@nds/01-atoms/buttons/button-share/demo/button-share-facebook.twig" %}
                        </div>
                        <div class="col-md">
                            {% include "@nds/01-atoms/buttons/button-share/demo/button-share-twitter.twig" %}
                        </div>
                        <div class="col-md">
                            {% include "@nds/01-atoms/buttons/button-share/demo/button-share-linkedin.twig" %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-icons"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Icons</h3>
        <p>NDS uses the Font Awesome library for all icons (with the except of third-party applications and companies). Icons are selected using classes. The specific icon is selected with the fa- class (i.e. fa-envelope). Specify the icon weight (thickness) by adding the following class corresponding to your needs:</p>
        <ul>
            <li>fa/far - Regular</li>
            <li>fal - Light</li>
            <li>fas - Solid</li>
            <li>fab - Brands (i.e. Facebook, Twitter, Linkedin, etc.)</li>
        </ul>
        <p>Visit the <a href="https://fontawesome.com/icons?d=gallery">Font Awesome Library</a> to view all supported icons.</p>

        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with { "component_snippet_classes": "component--snippet--icon-default" } %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/icons/icon-default/demo/icon-default.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Icon Circle</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/icons/icon-circle/demo/icon-circle.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-images"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Images</h3>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/images/image-default/demo/image-default.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>NIAID Logo</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/images/image-logo/demo/image-logo.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-input"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Input</h3>

        <h4>Checkbox</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/input/input-checkbox/demo/input-checkbox.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Radio Button</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/input/input-radio/demo/input-radio.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Text Input</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/input/input-text/demo/input-text.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Text Input with Icon</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/input/input-text/demo/input-text-icon.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Select (Dropdown)</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/input/input-select/demo/input-select.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Multiselect (Dropdown)</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/input/input-select/demo/input-multiselect.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Datepicker</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/input/input-date-picker/demo/input-date-picker.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-layouts"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Layouts</h3>
        <h4>Site Layout</h4>
        <p>TODO</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
            {
                "component_snippet_show_rendered": "no"
            }
        %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/layouts/layouts-site/_layouts-site-main.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Main Layout</h4>
        <p>TODO</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
            {
                "component_snippet_show_rendered": "no"
            }
        %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/layouts/layouts-main-layout/_layouts-main-layout-main.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Body Card</h4>
        <p>TODO</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
            {
                "component_snippet_show_rendered": "no"
            }
        %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/layouts/layouts-body-card/_layouts-body-card-main.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-links"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Links</h3>
        <h4>Default Link</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/links/link-default/demo/link-default.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>External Link</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/links/link-external/demo/link-external.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Link with Icon</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/links/link-icon/demo/link-icon-left.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-media"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Media</h3>
        <h4>Audio</h4>
        <p>TODO</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/media/media-audio/demo/media-audio.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Video</h4>
        <p>TODO</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/media/media-video/demo/media-video.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>YouTube Video</h4>
        <p>TODO</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/media/media-youtube-video/demo/media-youtube-video.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-tables"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Tables</h3>
        <p>TODO - datatables</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/tables/table-default/demo/table-default.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-text"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Text</h3>
        <h4>Blockquote</h4>
        <p>TODO</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/text/text-blockquote/demo/text-blockquote.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Badge</h4>
        <p>TODO</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/text/text-badge/demo/text-badge.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Chip</h4>
        <p>TODO</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/text/text-chip/demo/text-chip.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Heading with Icon</h4>
        <p>TODO</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/text/text-heading-icon/demo/text-heading-icon.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Heading with Icon</h4>
        <p>TODO</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/text/text-image-credit-caption/demo/text-image-credit-caption.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>