{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-gulp"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Gulp</h3>
        {% include "@nds/01-atoms/text/text-badge/_text-badge-main.twig" with
            {
                "text_badge_text": "Version: 4.0.2"
            }
        %}
        <p><a href="https://gulpjs.com/">Gulp.js</a> is a build tool that NDS uses to manage a variety of processes. This includes compiling SCSS to CSS, compiling Pattern Lab (turning Twig into HTML), concatenating scripts, and running minification functions. For building static websites, Gulp is essential in the process of producing web-ready assets.</p>
    {% endblock %}
{% endembed %}