{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-libraries"
    }
%}
    {% block component_scrollspy_section_content %}
        <h2>Libraries &amp; Dependencies</h2>
        <p>NDS uses the following libraries in various capacities:</p>
        <ul>
            <li><a href="https://getbootstrap.com/">Bootstrap 4</a></li>
            <li><a href="https://materializecss.com/">Materialize</a></li>
            <li><a href="https://datatables.net/">DataTables</a></li>
            <li><a href="https://select2.org/">Select2</a></li>
            <li><a href="https://bootstrap-datepicker.readthedocs.io/en/latest/">Bootstrap Datepicker</a></li>
        </ul>
        <p>This section describes what these libraries are and how they factor into development with NDS.</p>
        <h3>Bootstrap 4</h3>
        {% include "@nds/01-atoms/text/text-badge/_text-badge-main.twig" with
            {
                "text_badge_text": "Version: 4.5.2"
            }
        %}
        <p><a href="https://getbootstrap.com/">Bootstrap</a> is a front-end library that provides stylesheets and functional components designed to accelerate web development. While NDS relies on Bootstrap primarily for its Grid System, other functional components, such as dropdowns and modals, are also leveraged.</p>
        <h3>Materialize</h3>
        {% include "@nds/01-atoms/text/text-badge/_text-badge-main.twig" with
            {
                "text_badge_text": "Version: 1.0.0"
            }
        %}
        <p><a href="https://materializecss.com/">Materialize</a> is a front-end library that has converted guidance from Google's Material Design documentation into code. The main utility of this library that is leveraged in NDS is the Parallax effect for hero images, however, other capabilities may be used for custom needs as well.</p>
        <h3>DataTables</h3>
        {% include "@nds/01-atoms/text/text-badge/_text-badge-main.twig" with
            {
                "text_badge_text": "Version: 1.10.20"
            }
        %}
        <p>Tables can be tricky on the web for accessibility and responsive reasons. NDS employs <a href="https://datatables.net/">DataTables</a> to improve the experience of tables across devices. DataTables functionality works for properly formatted, simple tables and needs to be enabled through a custom attribute: nds-datatable="true". Adding this attribute to the table tag will initialize rthe esponsive functionality of Datatables.</p>
        <h3>Select2</h3>
        {% include "@nds/01-atoms/text/text-badge/_text-badge-main.twig" with
            {
                "text_badge_text": "Version: 4.0.13"
            }
        %}
        <p><a href="https://select2.org/">Select2</a> enhances dropdown fields (select elements) by adding additional functionality such as inline searching and multi-select.</p>
        <h3>Bootstrap Datepicker</h3>
        {% include "@nds/01-atoms/text/text-badge/_text-badge-main.twig" with
            {
                "text_badge_text": "Version: 1.9.0"
            }
        %}
        <p><a href="https://bootstrap-datepicker.readthedocs.io/en/latest/">Bootstrap Datepicker</a> provides a useful pop-up interface for making a date selection in a form.</p>
    {% endblock %}
{% endembed %}