{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-overview"
    }
%}
    {% block component_scrollspy_section_content %}
        <h1 id="main-content">Getting Started</h1>
        <p>Thank you for your interest in using the NIAID Design System (NDS). This page contains information on how to get started using NDS for your project. If you are interested in adding NDS to an existing website, please view our <a href="{{ links.migrationGuide}}">Migration Guide</a> for more information.</p>
        <hr>
    {% endblock %}
{% endembed %}