{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-static-website"
    }
%}
    {% block component_scrollspy_section_content %}
        <h2>Initialization</h2>
        <p class="step">1. Download the Static Website Package:</p>
        <p>
            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                {
                    "button_icon_href": assetsPath ~ "nds.zip",
                    "button_icon_icon": "download",
                    "button_icon_text": "Download NDS",
                    "button_icon_attributes": "download"
                }
            %}
        </p>
        <p class="step mt-5">2. Unzip and Open the Directory in Your Preferred Code Editor.</p>
        <p>Editors like <a href="https://code.visualstudio.com/">Visual Studio Code</a> are free to download and provide many features that make development easier.</p>
        <p class="step">3. Install Node and Composer Dependencies</p>
        <p>Open a new terminal and change into your project directory. If using Visual Studio Code, you may select Terminal -> New Terminal from the application bar. Run the followung commands to install the needed dependencies:</p>
        <code>npm install</code><br>
        <code>composer install</code><br>
        <p><strong>Note:</strong> When you run <code>composer install</code> there may be a prompt asking if you want to install a default theme. Type <code>n</code> and hit enter.</p>
        {% include "@nds/02-molecules/components/component-media/_component-media-main.twig" with
            {
                "component_media_src": 'composer-install.png',
                "component_media_alt": 'See caption for details',
                "component_media_credit": 'NIAID, Office of Communications and Government Relations (OCGR)',
                "component_media_caption": 'Do not install the default theme when prompoted by typing "n" and hitting enter.',
                "component_media_lightbox": "yes"
            }
        %}
        <p class="step">4. Open the Project on Your Localhost</p>
        <p>In your terminal, run:</p>
        <code>gulp</code><br>
        <p>This will compile your project and create a localhost with your patterns and pages. Use the black bar at the top to navigate to your components.</p>
    {% endblock %}
{% endembed %}