{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-overview"
    }
%}
    {% block component_scrollspy_section_content %}
        <h1>Development</h1>
        <p>The foundation for the NIAID Design System is built on several libraries and technologies and is based on the philosophy of Atomic Design. This page explains these concepts and how they fit into developing with NDS.</p>
    {% endblock %}
{% endembed %}