{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules"
    }
%}
    {% block component_scrollspy_section_content %}
        <h2>Molecules</h2>
    {% endblock %}
{% endembed %}

{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-blocks"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Blocks</h3>
        <p>Blocks tend to be non-functional components that are visually distinct from the normal body content.</p>

        <h4>Default Block</h4>
        <p>Appropriate uses include... todo</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-default/demo/block-default.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Featured Content Card</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-featured-content-card/demo/block-featured-content-card.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Alert Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-alert/demo/block-alert.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Status Message Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-status-message/demo/block-status-message.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Header Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-header/demo/block-header.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Hero Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-hero/demo/block-hero.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Mission Statement Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-mission-statement/demo/block-mission-statement.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Share Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
            {
                "component_snippet_classes": "component--snippet--block-share"
            }
        %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-share/demo/block-share.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Was This Page Helpful? Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-wtph/demo/block-wtph.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-components"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Components</h3>

        <h4>Accordion Component</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/components/component-accordion/demo/component-accordion.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Branding Component</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/components/component-branding/demo/component-branding.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Media Component</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/components/component-media/demo/component-media.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Modal Component</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/components/component-modal/demo/component-modal.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-navigation"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Navigation</h3>
        <h4>Primary Navigation</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/navigation/navigation-primary/demo/navigation-primary.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-input-groups"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Input Groups</h3>
        <h4>Checkbox Group</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/input-group/input-group-checkbox/demo/input-group-checkbox.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Radio Button Group</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/input-group/input-group-radio/demo/input-group-radio.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Text Field Group</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/input-group/input-group-text/demo/input-group-text.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-forms"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Forms</h3>

        <h4>Search Form</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/forms/form-search/demo/form-search.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Facets</h4>
        <p>This component is based on the Drupal Facets module's implementation of filters.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/forms/form-facet/demo/form-facet.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>