{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-technologies"
    }
%}
    {% block component_scrollspy_section_content %}
        <h2>Technologies &amp; Frameworks</h2>
        <ul>
            <li><a href="https://patternlab.io/">Pattern Lab</a></li>
            <li><a href="https://sass-lang.com/">SCSS</a></li>
            <li><a href="https://jquery.com/">jQuery</a></li>
            <li><a href="https://gulpjs.com/">Gulp</a></li>
        </ul>
    {% endblock %}
{% endembed %}