{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-icons"
    }
%}
    {% block component_scrollspy_section_content %}
        <h2>Icons</h2>
        <p>While there are some universally recognized icons, like the magnifying glass for search, most icons do not have ubiquitous meanings, leading to comprehension issues for users. NDS encourages thoughtful icon selection, ideally verified through usability studies.</p>
        <p>NDS requires that all icons come from the <a href="https://fontawesome.com/">Font Awesome Icon Library</a>, which provides an expansive set of icons to choose from. Sourcing all icons from the Font Awesome library keeps the visual style and design consistent.</p>
        {% include "@nds/02-molecules/components/component-media/_component-media-main.twig" with
            {
                "component_media_src": 'fa.png',
                "component_media_alt": 'A screenshot of the Font Awesome Icon Library',
                "component_media_credit": '<a href="https://fontawesome.com/icons?d=gallery">Font Awesome</a>',
                "component_media_caption": "A screenshot of the Font Awesome Icon Library",
                "component_media_lightbox": "yes"
            }
        %}
        {% include "@nds/01-atoms/text/text-heading-icon/_text-heading-icon-main.twig" with
            {
                "text_heading_level": "3",
                "text_heading_text": "Exception",
                "text_heading_icon": "exclamation-square",
                "text_heading_icon_weight": "l"
            }
        %}
        <p>Document icons, such as Word or Excel, or other software/product logos should be used instead of those provided under Font Awesome. The permissible document icons are listed below:</p>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
                        {
                            "image_default_src": 'global/icons/document/icon-document-word.png',
                            "image_default_alt": 'Word Icon'
                        }
                    %}
                </div>
                <div class="col-md-3">
                    {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
                        {
                            "image_default_src": 'global/icons/document/icon-document-excel.png',
                            "image_default_alt": 'Excel Icon'
                        }
                    %}
                </div>
                <div class="col-md-3">
                    {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
                        {
                            "image_default_src": 'global/icons/document/icon-document-powerpoint.png',
                            "image_default_alt": 'Powerpoint Icon'
                        }
                    %}
                </div>
                <div class="col-md-3">
                    {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
                        {
                            "image_default_src": 'global/icons/document/icon-document-pdf.png',
                            "image_default_alt": 'PDF Icon'
                        }
                    %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}