{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-forms"
    }
%}
    {% block component_scrollspy_section_content %}
        <h2>Forms &amp; Input</h2>
        <p>Form controls and inputs are an essential mechanism for websites and applications to get user-provided information. From "Was This Page Helpful?" forms to Contact Us pages, form fields and inputs add a layer of interactivity to digital platforms. Form fields can be difficult to get right due to stringent accessibility laws such as <a href="https://www.ada.gov/508/">Section 508 under the Americans with Disabilities Act (ADA).</a> NDS ensures form fields are compliant and elegant by ensuring visible focus states and color contrast meet the guidelines.</p>
        <h3>Buttons</h3>
        <p>NDS supports four main button styles: Primary, Secondary, Tertiary, and Negative. These four styles are shown below:</p>
        <div class="container container--button">
            <div class="row">
                <div class="col-12 col-md-6">
                    {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                        {
                            "button_default_type": "primary",
                            "button_default_label": "Primary Button"
                        }
                    %}
                </div>
                <div class="col-12 col-md-6">
                    {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                        {
                            "button_default_type": "secondary",
                            "button_default_label": "Secondary Button"
                        }
                    %}
                </div>
                <div class="col-12 col-md-6">
                    {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                        {
                            "button_default_type": "tertiary",
                            "button_default_label": "Tertiary Button"
                        }
                    %}
                </div>
                <div class="col-12 col-md-6">
                    {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                        {
                            "button_default_type": "negative",
                            "button_default_label": "Negative Button"
                        }
                    %}
                </div>
            </div>
        </div>

        <p>In addition to the main styles, NDS also has a pattern specifically for buttons that link to external sites:</p>

        <p>For more information on buttons, please <a href="{{ links.components }}">visit the Components page.</a></p>
        <h3>Text Input Fields</h3>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    {% include "@nds/02-molecules/input-group/input-group-text/_input-group-text-main.twig" with
                        {
                            "input_group_text_id": "input-text-example",
                            "input_group_text_name": "input-text-example",
                            "input_group_text_placeholder": "Enter value...",
                            "input_group_text_label": "Field Label",
                            "input_group_text_disabled": "",
                            "input_group_text_readonly": "",
                            "input_group_text_required": "yes",
                            "input_group_text_tooltip": ""
                        }
                    %}
                </div>
                <div class="col-6">
                    {% include "@nds/02-molecules/input-group/input-group-text/_input-group-text-main.twig" with
                        {
                            "input_group_text_id": "input-text-example",
                            "input_group_text_classes": "focus-field",
                            "input_group_text_name": "input-text-example",
                            "input_group_text_placeholder": "",
                            "input_group_text_label": "Focus Field",
                            "input_group_text_icon": "lock",
                            "input_group_text_disabled": "",
                            "input_group_text_readonly": "",
                            "input_group_text_required": "yes",
                            "input_group_text_tooltip": ""
                        }
                    %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {% include "@nds/02-molecules/input-group/input-group-text/_input-group-text-main.twig" with
                        {
                            "input_group_text_id": "input-text-example",
                            "input_group_text_name": "input-text-example",
                            "input_group_text_placeholder": "Enter value...",
                            "input_group_text_icon": "filter",
                            "input_group_text_label": "Field with Icon",
                            "input_group_text_disabled": "",
                            "input_group_text_readonly": "",
                            "input_group_text_required": "yes",
                            "input_group_text_tooltip": ""
                        }
                    %}
                </div>
                <div class="col-6">
                    {% include "@nds/02-molecules/input-group/input-group-text/_input-group-text-main.twig" with
                        {
                            "input_group_text_id": "input-text-example",
                            "input_group_text_classes": "error-field",
                            "input_group_text_name": "input-text-example",
                            "input_group_text_placeholder": "Password",
                            "input_group_text_label": "Error Field",
                            "input_group_text_icon": "lock",
                            "input_group_text_disabled": "",
                            "input_group_text_readonly": "",
                            "input_group_text_required": "yes",
                            "input_group_text_tooltip": "",
                            "input_group_text_validation_message": "Value is required."
                        }
                    %}
                </div>
            </div>
        </div>
        <h3>Checkbox &amp; Radio Buttons</h3>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    {% embed "@nds/02-molecules/input-group/input-group-checkbox/_input-group-checkbox-main.twig" with
                        {
                            "input_group_checkbox_id": "form-group-example",
                            "input_group_checkbox_label": "Choose Platforms You Own",
                            "input_group_checkbox_tooltip": ""
                        }
                    %}
                        {% block input_checkbox_options %}
                            {% include "@nds/01-atoms/input/input-checkbox/_input-checkbox-main.twig" with
                                {
                                    "input_checkbox_name": "form-group-example",
                                    "input_checkbox_id": "xbox",
                                    "input_checkbox_value": "xbox",
                                    "input_checkbox_label": "Xbox",
                                    "input_checkbox_required": "yes"
                                }
                            %}
                            {% include "@nds/01-atoms/input/input-checkbox/_input-checkbox-main.twig" with
                                {
                                    "input_checkbox_name": "form-group-example",
                                    "input_checkbox_id": "playstation",
                                    "input_checkbox_value": "playstation",
                                    "input_checkbox_label": "Playstation"
                                }
                            %}
                            {% include "@nds/01-atoms/input/input-checkbox/_input-checkbox-main.twig" with
                                {
                                    "input_checkbox_name": "form-group-example",
                                    "input_checkbox_id": "pc",
                                    "input_checkbox_value": "pc",
                                    "input_checkbox_label": "PC"
                                }
                            %}
                        {% endblock %}
                    {% endembed %}
                </div>
                <div class="col-6">
                    {% embed "@nds/02-molecules/input-group/input-group-radio/_input-group-radio-main.twig" with
                        {
                            "input_group_radio_id": "console-select",
                            "input_group_radio_label": "Choose the Platform You Own",
                            "input_group_radio_tooltip": ""
                        }
                    %}
                        {% block input_radio_options %}
                            {% include "@nds/01-atoms/input/input-radio/_input-radio-main.twig" with
                                {
                                    "input_radio_name": "console-select-radio",
                                    "input_radio_id": "xbox-radio",
                                    "input_radio_value": "xbox",
                                    "input_radio_label": "Xbox",
                                    "input_radio_required": "yes"
                                }
                            %}
                            {% include "@nds/01-atoms/input/input-radio/_input-radio-main.twig" with
                                {
                                    "input_radio_name": "console-select-radio",
                                    "input_radio_id": "playstation-radio",
                                    "input_radio_value": "playstation",
                                    "input_radio_label": "Playstation"
                                }
                            %}
                            {% include "@nds/01-atoms/input/input-radio/_input-radio-main.twig" with
                                {
                                    "input_radio_name": "console-select-radio",
                                    "input_radio_id": "pc-radio",
                                    "input_radio_value": "pc",
                                    "input_radio_label": "PC"
                                }
                            %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        </div>
        {% embed "@nds/02-molecules/blocks/block-default/_block-default-main.twig" %}
            {% block block_content %}
                <h4>Developing with NIAID Design System Forms &amp; Inputs</h4>
                <p>Get more information about how the NIAID Design System supports development with various types of form and input elements.</p>
                {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                    {
                        "button_default_type": "primary",
                        "button_default_label": "Develop with Forms & Inputs"
                    }
                %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}