{% embed "@nds/02-molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-sass"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Sass</h3>
        {% include "@nds/01-atoms/text/text-badge/_text-badge-main.twig" with
            {
                "text_badge_text": "Version: 4.0.1"
            }
        %}
        <p><a href="https://sass-lang.com/">Sass</a> augments CSS's cababilities by providing variables, functions (called mixins), and various other utilities. NDS relies on Sass to create standardized variables for use in patterns. During the build process, Sass code gets compiled into web-ready CSS. It is recommended that users of NDS have a basic understanding of the Sass technology.</p>
        {% embed "@nds/02-molecules/blocks/block-default/_block-default-main.twig" %}
            {% block block_content %}
                <h4>View Sass's Documentation</h4>
                <p>Get more information about Sass usage and features.</p>
                {% include "@nds/01-atoms/buttons/button-external/_button-external-main.twig" with
                    {
                        "button_external_text": "Visit Sass's Website",
                        "button_external_href": "https://sass-lang.com/"
                    }
                %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}