{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms"
    }
%}
    {% block component_scrollspy_section_content %}
        <h1>Components</h1>
        <p>NDS components can be used on any type of project. We have provided most of the available NDS components and, where relevant, additional documentation to support your development. Simply include the global NDS JS and CSS files in your website to get started!</p>
        {% include "@molecules/blocks/block-files/_block-files-main.twig" %}
        <p>Some of the NDS components make use of third-party libraries to bring enhanced user experience and functionality to your users. In order to use these components, the applicable libraries must be included in your project. These libraries are noted in the pattern documentation.</p>
        <h2>Atoms</h2>
    {% endblock %}
{% endembed %}

{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-buttons"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Buttons</h3>

        <h4>Default Button</h4>
        <p>There are four main button styles for each Color Theme option: Primary, Secondary, Tertiary, and Negative (Error State). In general, buttons are used for actions that occur on the page, while links take users from one page to another. Depending on the importance of a link, you may decide to style it as a button to make it stand out more. Also shown here is the "disabled" button style.</p>
        {% include "@atoms/text/text-uswds/_text-uswds-main.twig" with
            {
                "text_uswds_component_name": "Buttons",
                "text_uswds_href": "https://designsystem.digital.gov/components/button/"
            }
        %}
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/buttons/button-default/demo/button-default.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>The Default Button pattern supports both buttons and links. Links are created automatically if the button_default_href attribute is passed. If omitted, the resultant output will be a button element.</p>
                <p>To use one of the styles below, pass the "button_default_type" parameter the desired style ("primary", "secondary", "tertiary", or "negative").</p>
                <p>These button styles can also be applied to other button components by passing the desired classes (i.e. button--primary) to the pattern. See below for examples of using various button styles on other button components.</p>
                <h5>Parameters</h5>
                <ul>
                    <li>button_default_classes: Additional button classes.</li>
                    <li>button_default_id: Button ID.</li>
                    <li>button_default_type: Button style. Options: primary, secondary, tertiary, negative.</li>
                    <li>button_default_label: Button text.</li>
                    <li>button_default_href: Button link destination (optional).</li>
                    <li>button_default_attributes: Additional button attributes.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>External Button</h4>
        <p>Used specifically for links to external sites displayed as a button.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                <div class="container-fluid demo">
                    <div class="row">
                        <div class="col">
                            {% include "@nds/01-atoms/buttons/button-external/_button-external-main.twig" with
                                {
                                    "button_external_text": "Button",
                                    "button_external_href": "#"
                                }
                            %}
                        </div>
                        <div class="col">
                            {% include "@nds/01-atoms/buttons/button-external/_button-external-main.twig" with
                                {
                                    "button_external_classes": "button--secondary",
                                    "button_external_text": "Button",
                                    "button_external_href": "#"
                                }
                            %}
                        </div>
                        <div class="col">
                            {% include "@nds/01-atoms/buttons/button-external/_button-external-main.twig" with
                                {
                                    "button_external_classes": "button--tertiary",
                                    "button_external_text": "Button",
                                    "button_external_href": "#"
                                }
                            %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>button_external_classes: Additional button classes.</li>
                    <li>button_external_id: Button ID.</li>
                    <li>button_external_text: Button text.</li>
                    <li>button_external_href: Button link destination.</li>
                    <li>button_external_icon: Font Awesome icon name (Default: external-link-alt).</li>
                    <li>button_external_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).</li>
                    <li>button_external_attributes: Additional button attributes.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Floating Button</h4>
        <p>In some instances, you may want to have a persistent button available to users at all times. For example, you may want a "Back to Top" button that returns users to the top of the page, or the color palette button on this site the allows for theme customizations. For these purposes, NDS provides the Floating Button pattern, which is fixed at the lower right of the screen. In order to provide more clarity about its function, the Floating Button expands on hover and focus to reveal button text.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/buttons/button-floating/demo/_button-floating.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>The width of the Floating Button on hover and focus depends on the width of the text. Out of the box, the Floating Button pattern's width is configured to work for "Back to Top" text. You may change this text, but will also likely need to change the default width and the width on hover and focus.</p>
                <h5>Parameters</h5>
                <ul>
                    <li>button_floating_classes: Additional document button classes.</li>
                    <li>button_floating_id: Button ID.</li>
                    <li>button_floating_text: Button text.</li>
                    <li>button_floating_icon: Font Awesome icon name.</li>
                    <li>button_floating_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).</li>
                    <li>button_floating_aria_label: Button aria-label.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Button with Icon</h4>
        <p>This component allows users to include a Font Awesome icon inside an NDS button.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                <div class="container-fluid demo">
                    <div class="row">
                        <div class="col">
                            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                                {
                                    "button_icon_icon": "question-circle",
                                    "button_icon_text": "Button"
                                }
                            %}
                        </div>
                        <div class="col">
                            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                                {
                                    "button_icon_classes": "button--secondary",
                                    "button_icon_icon": "question-circle",
                                    "button_icon_text": "Button"
                                }
                            %}
                        </div>
                        <div class="col">
                            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                                {
                                    "button_icon_classes": "button--tertiary",
                                    "button_icon_icon": "question-circle",
                                    "button_icon_text": "Button"
                                }
                            %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>button_icon_classes: Additional button classes.</li>
                    <li>button_icon_id: Button ID.</li>
                    <li>button_icon_icon: Font Awesome icon name.</li>
                    <li>button_icon_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).</li>
                    <li>button_icon_icon_size: Size of the icon to display. Options: 'small' (Default) or 'large'.</li>
                    <li>button_icon_icon_position: The side of the button text the icon should appear. Options: "left" (Default) or "right"</li>
                    <li>button_icon_text: Button text.</li>
                    <li>button_icon_attributes: Additional button attributes.</li>
                    <li>button_icon_aria_label: Button aria-label.</li>
                    <li>button_icon_href: Button link destination.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Button with Image</h4>
        <p>This component allows for an small image, such as a user picture, to be included inside a button.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                <div class="container-fluid demo">
                    <div class="row">
                        <div class="col">
                            {% include "@nds/01-atoms/buttons/button-image/_button-image-main.twig" with
                                {
                                    "button_image_src": "global/sample/avatar_circle.png",
                                    "button_image_alt": "Jane Public",
                                    "button_image_text": "Follow Jane"
                                }
                            %}
                        </div>
                        <div class="col">
                            {% include "@nds/01-atoms/buttons/button-image/_button-image-main.twig" with
                                {
                                    "button_image_classes": "button--secondary",
                                    "button_image_src": "global/sample/avatar_circle.png",
                                    "button_image_alt": "Jane Public",
                                    "button_image_text": "Follow Jane"
                                }
                            %}
                        </div>
                        <div class="col">
                            {% include "@nds/01-atoms/buttons/button-image/_button-image-main.twig" with
                                {
                                    "button_image_classes": "button--tertiary",
                                    "button_image_src": "global/sample/avatar_circle.png",
                                    "button_image_alt": "Jane Public",
                                    "button_image_text": "Follow Jane"
                                }
                            %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>button_image_classes: Additional button classes.</li>
                    <li>button_image_id: Button ID.</li>
                    <li>button_image_href: Button link destination.</li>
                    <li>button_image_text: Button text.</li>
                    <li>button_image_src: The path to the image.</li>
                    <li>button_image_alt: Alt text to describe the image.</li>
                    <li>button_image_attributes: Additional button attributes.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Share Buttons</h4>
        <p>Share Buttons are useful for sharing site content to social media platforms. NDS provides buttons for several platforms and utilizes proper platform brand colors. The support social media platforms are shown below.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/buttons/button-share/demo/button-share.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>button_share_classes: Additional button classes.</li>
                    <li>button_share_id: Button ID.</li>
                    <li>button_share_type: The classes to define the type of social media platform. Supported Options: "facebook", "twitter", "linkedin", "instagram", "youtube", "pinterest", "flickr", "google-plus".</li>
                    <li>button_share_icon_weight: Font Awesome icon weight Options: 'r', 's' (Default for Non-Social Media Platform Icons), 'b' (Default for Social Media Platforms).</li>
                    <li>button_share_href: Button link destination.</li>
                    <li>button_share_aria_label: Button aria-label.</li>
                    <li>button_share_tabindex: Button tabindex.</li>
                    <li>button_share_attributes: Additional button attributes.</li>
                </ul>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-icons"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Icons</h3>
        <p>NDS uses the <a href="https://fontawesome.com/">Font Awesome library</a> for all icons (with the exception of third-party applications and companies). In Font Awesome, icons are selected using classes. The specific icon is selected with fa- class (e.g. fa-envelope). The style or weight of the icon is also specified using classes. The following icon weights and corresponding classes are available under the Font Awesome Free version:</p>

        <ul>
            <li>Solid - fas</li>
            <li>Brands - fab</li>
            <li>Regular - fa/far</li>
        </ul>

        <p>If you have access to Font Awesome Pro, a "Light" icon style (fal) and a Duotone iocn style (fad) are also supported.</p>

        <p>NDS makes using Font Awesome icons easy through its icon-default pattern. This pattern has two key parameters: icon_default_type, and icon_default_weight. For the icon_default_type, simply pass the name of the icon (without the fa-). For weight, pass only the letter corresponding to the desired icon weight:</p>

        <ul>
            <li>Solid - s</li>
            <li>Brands - b</li>
            <li>Regular - r</li>
            <li>Light - l (Pro Only)</li>
            <li>Duotone - d (Pro Only)</li>
        </ul>

        <p>Visit the <a href="https://fontawesome.com/icons?d=gallery">Font Awesome Library</a> to view the full Font Awesome icon library.</p>

        <p>NIAID's Office of Communications and Government Relations (OCGR) has a Font Awesome Pro license that may be used under certain circumstances. If you have a need for Font Awesome Pro, please contact OCGR and request access. If you have already received access and are looking for documentation on upgrading from Font Awesome Free, please see our <a href="{{ links.fontAwesomePro }}">Using Font Awesome Pro with NDS (NPM) guide.</a></p>

        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with { "component_snippet_classes": "component--snippet--icon-default" } %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/icons/icon-default/demo/icon-default.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>icon_default_classes: Additional &lt;i&gt; tag classes.</li>
                    <li>icon_default_type: Font Awesome icon name.</li>
                    <li>icon_default_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).</li>
                    <li>icon_default_sr_text: Optional text for screen readers only.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Document Icons</h4>
        <p>Document icons can help users more quickly identify document types. This component leverages the brand colors for each document type and applies them to the appropriate Font Awesome document icon.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/icons/icon-document/demo/icon-document.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>The Document Icon pattern can also be used as a button, if a path is supplied to the "icon_document_href" parameter.</p>
                <p>Use the "icon_document_type" parameter to choose a type as follows:</p>
                <ul>
                    <li>Word - "file-word"</li>
                    <li>Excel - "file-excel"</li>
                    <li>PowerPoint - "file-ppt"</li>
                    <li>PDF - "file-pdf"</li>
                    <li>Image - "image"</li>
                    <li>Video - "video"</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>icon_document_classes: Additional document icon classes.</li>
                    <li>icon_document_id: Icon wrapper ID.</li>
                    <li>icon_document_type: Type of document icon. Options: file-word, file-excel, file-ppt, file-pdf, image, video.</li>
                    <li>icon_document_href: Optional button link destination.</li>
                    <li>icon_document_icon_weight: Font Awesome icon weight. Options: 'r' (Default), 's', 'b', 'l' (Pro-Only), 'd' (Pro-Only).</li>
                    <li>icon_document_attributes: Additional icon attributes.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Icon Circle</h4>
        <p>This component can be useful for adding visual interest or additional meaning through iconography. In general, NDS advises that icons be used only when their meaning is very clear.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/icons/icon-circle/demo/icon-circle.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>icon_circle_classes: Additional pattern classes.</li>
                    <li>icon_circle_icon: Font Awesome icon name.</li>
                    <li>icon_circle_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).</li>
                    <li>icon_circle_attributes: Additional pattern attributes.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Icon Loader</h4>
        <p>The Icon Loader pattern from <a href="https://materializecss.com/preloader.html">Materialize</a> can be used as visual feedback to your users that the site is processing, receiving, or transmitting information.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/icons/icon-loader/demo/icon-loader.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>icon_loader_classes: Additional pattern classes</li>
                    <li>icon_loader_size: The size of the loader. Options: "small" and "big" (Default)</li>
                </ul>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-images"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Images</h3>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/images/image-default/demo/image-default.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>image_default_classes: Additional pattern classes</li>
                    <li>image_default_src: The path to the image.</li>
                    <li>image_default_alt: Alt text to describe the image.</li>
                    <li>image_default_width: The desired width of the image (Optional).</li>
                    <li>image_default_height: The desired height of the image (Optional).</li>
                    <li>image_default_attributes: Additional image attributes.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>NIAID Logo</h4>
        <p>You must seek approval to use the NIAID Logo on your website. If you are a NIAID or NIH employee, please review the <a href="https://inside.niaid.nih.gov/communications-media/requesting-use-niaid-logo">Requesting the Use of the NIAID Logo</a> page on NIAID's Intranet.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/images/image-logo/demo/image-logo.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>image_logo_classes: Additional pattern classes.</li>
                    <li>image_logo_id: Logo ID.</li>
                    <li>image_logo_src: The path to the image.</li>
                    <li>image_logo_alt: Alt text to describe the image.</li>
                    <li>image_logo_href: Logo link destination, usually "/".</li>
                </ul>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-layouts"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Layouts</h3>
        <h4>Site Layout</h4>
        <p>The Site Layout component provides a general framework for a NDS page using Twig block statements. The main regions defined in the pattern are header, global_navigation, hero, main, and footer. The block statements that define these regions are only visible in the Twig file. The HTML structure of Site Layout is very plain, allowing you to define your own markup with almost full flexibility.</p>
        <p>Included in the Site Layout is a skip link that will direct users to the main content of the page for accessibility purposes. It is important to add an ID of value "main-content" to the first element on the page that appears after elements that are common to all pages, such as headers and navigation. This will help users who navigate with their keyboards or with a screen reader to easily move past redundant content. For more information skip links, please visit the <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-skip.html">WCAG 2.0 documentation on skip links.</a></p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
            {
                "component_snippet_show_rendered": "no"
            }
        %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/layouts/layouts-site/_layouts-site-main.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>The Site Layout component is generally embedded in a template or page to provide a page with structure. Content is passed and positioned within the layout with block statements. Blocks do not have to be defined and will not render unless content is passed.</p>
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block header %&#125;: Typically contains the website header.</li>
                    <li>&#123;% block global_navigation %&#125;: Typically contains the website's primary navigation.</li>
                    <li>&#123;% block hero %&#125;: Typically contains a hero component.</li>
                    <li>&#123;% block main %&#125;: Typically contains the main website content.</li>
                    <li>&#123;% block footer %&#125;: Typically contains the website footer.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>layouts_site_id - Layout ID.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Main Layout</h4>
        <p>The Main Layout component defines the major sections of an NDS page. The component provides three main columns: left, main, and right.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
            {
                "component_snippet_show_rendered": "no"
            }
        %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/layouts/layouts-main/_layouts-main-main.twig" with
                    {
                        "layouts_main_classes": ""
                    }
                %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>The Main Layout component is generally embedded within the &#123;% block main %&#125; block of the Site Layout pattern. The main layout pattern has three possible columns for content, but using all three is not required.</p>
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block left_column %&#125;: The content for the left column.</li>
                    <li>&#123;% block main_column %&#125;: The content for the main column.</li>
                    <li>&#123;% block right_column %&#125;: The content for the right column.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>layouts_main_classes - Additional layout classes.</li>
                    <li>layouts_main_id - Layout ID.</li>
                    <li>layouts_main_left - The number of columns (based on Bootstrap) for the left column. Options: "1" through "12".</li>
                    <li>layouts_main_main - The number of columns (based on Bootstrap) for the main column. Options: "1" through "12".</li>
                    <li>layouts_main_right - The number of columns (based on Bootstrap) for the right column. Options: "1" through "12".</li>
                    <li>layouts_main_breakpoint - The Bootstrap breakpoint for the layout columns. Options: "sm", "md", "lg" (Default), "xl".</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Body Layout</h4>
        <p>The Body Layout component is used to display a page's main content. This component handles padding at various breakpoints, ensuring a visually appealing experience regardless of device or browser.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
            {
                "component_snippet_show_rendered": "no"
            }
        %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/layouts/layouts-body/_layouts-body-main.twig" with
                    {
                        "layouts_body_vertical_padding": "yes"
                    }
                %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>The Body Layout component is generally embedded within the &#123;% block main_column %&#125; block of the Main Layout pattern.</p>
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block body_content %&#125;: The main page content.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>layouts_body_classes - Additional layout classes.</li>
                    <li>layouts_body_vertical_padding - A class indicating if vertical padding should be present or not. Options: "yes" (Default), "no".</li>
                </ul>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-links"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Links</h3>
        <p>Links are used to take website users from page to page. NDS uses a bottom-border instead of an underline to make links look more elegant.</p>
        <h4>Default Link</h4>
        <p>The Default Link pattern can be used to build generic links.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/links/link-default/demo/link-default.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>link_default_classes: Additional link classes.</li>
                    <li>link_default_href: The link destination path.</li>
                    <li>link_default_text: The text of the link.</li>
                    <li>link_default_attributes: Additional link attributes.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>External Link</h4>
        <p>NDS requires that all external links - links that direct users away from the current site they are viewing - are designated with the Font Awesome external link icon. Out of the box, NDS uses JS to automatically append these icons. A notable exception to this policy is links to social media (i.e. Facebook, Instagram, Twitter, etc.) when they are presented in the form of a button.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/links/link-external/demo/link-external.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Link with Icon</h4>
        <p>A link pattern that allows for an icon to be included with the link text.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/links/link-icon/demo/link-icon-left.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>link_icon_classes: Additional link classes.</li>
                    <li>link_icon_href: The link destination path.</li>
                    <li>link_icon_text: The text of the link.</li>
                    <li>link_icon_sr_text: Text to be by screen readers only (not displayed visually).</li>
                    <li>link_icon_position: The side of the text the icon will appear on. Options: "left" (Default), "right".</li>
                    <li>link_icon_type: Font Awesome icon name.</li>
                    <li>link_icon_weight: Font Awesome icon weight. Options: 'r', 's', 'b', 'l' (Pro-Only), 'd' (Pro-Only).</li>
                    <li>link_icon_icon_classes: Additional classes for the icon.</li>
                </ul>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-lists"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Lists</h3>
        <h4>Links List</h4>
        <p>A pattern used to generate a list of links. The links may optionally include icons.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/lists/list-links/demo/list-links.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>This pattern can be used to generate a list of links with or without icons. To include icons, all icon parameters must be supplied as part of the list_links_data objects.</p>
                <h5>Parameters</h5>
                <ul>
                    <li>list_links_classes: Additional list classes.</li>
                    <li>list_links_data: An array of link objects. Structure: {"text": "", "href": "", "icon": "", "weight": "", "position": ""}. Position options should be either "left" or "right".</li>
                    <li>list_links_type: The type of list to generate. Options: "ul" (Default), "ol".</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Links -> link-icon</li>
                    <li>Atoms -> Links -> link-default</li>
                </ul>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-media"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Media</h3>
        <p>Audio and video can be effective ways to communicate with your audience, however, each comes with a variety of accessibility requirements. Please review the <a href="https://www.w3.org/WAI/media/av/">guidelines from W3C on how to make your audio or video accessible.</a></p>
        
        {# DISABLING UNTIL WE HAVE DEMO CONTENT #}
        {# <h4>Audio</h4>
        <p>The Audio media component provides a way to offer audio content to users.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/media/media-audio/demo/media-audio.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>media_audio_classes: Additional media element classes.</li>
                    <li>media_audio_id: Media element ID.</li>
                    <li>media_audio_src_ogg: Path to the audio source in .ogg format.</li>
                    <li>media_audio_src_mp3: Path to the audio source in .mp3 format.</li>
                    <li>media_audio_src_wav: Path to the audio source in .wav format.</li>
                    <li>media_audio_attributes: Additional media attributes.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Video</h4>
        <p>The Video media component provides a way to offer native video content to users.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/media/media-video/demo/media-video.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>media_video_classes: Additional media element classes.</li>
                    <li>media_video_id: Media element ID.</li>
                    <li>media_video_height: Desired height of the video.</li>
                    <li>media_video_width: Desired width of the video.</li>
                    <li>media_video_controls: HTML5 controls attribute for the video.</li>
                    <li>media_video_src_ogv: Path to the video source in .ogv format.</li>
                    <li>media_video_src_mp4: Path to the video source in .mp4 format.</li>
                    <li>media_video_src_webm: Path to the video source in .webm format.</li>
                    <li>media_video_attributes: Additional media attributes.</li>
                </ul>
            {% endblock %}
        {% endembed %} #}

        <h4>YouTube Video</h4>
        <p>This components makes it easy to embed YouTube videos on your website.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/media/media-video-youtube/demo/media-video-youtube.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>The "media_video_youtube_src" parameter requires a specific embed URL from YouTube (not to be confused with the regular URL to the video page). To get this embed link, go to the YouTube page you would like to embed. Click "Share" below the video, then "Embed". The needed URL is found as the value for the "src" attribute in the displayed embed code.</p>
                <h5>Parameters</h5>
                <ul>
                    <li>media_video_youtube_classes: Additional media element classes.</li>
                    <li>media_video_youtube_id: ID for the video wrapper.</li>
                    <li>media_video_youtube_title: The title attribute for the video.</li>
                    <li>media_video_youtube_src: The embed URL from YouTube.</li>
                    <li>media_video_youtube_height: Desired height of the video.</li>
                    <li>media_video_youtube_width: Desired width of the video.</li>
                    <li>media_video_youtube_attributes: Additional attributes on the &lt;iframe&gt;.</li>
                </ul>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-tables"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Tables</h3>
        <p>Tables can be tricky on the web for accessibility and responsive reasons. NDS employs <a href="https://datatables.net/">DataTables</a> to create properly formatted, simple tables to and improve the experience of tables across devices. Adding the custom attribute nds-datatable="true" to the table tag will initialize the responsive functionality of Datatables.</p>
        {% include "@molecules/blocks/block-dependencies/_block-dependencies-main.twig" with
            {
                "block_dependencies_data": [
                    {
                        "text": "DataTables"
                    },
                    {
                        "text": "jQuery"
                    }
                ]
            }
        %}
        {% include "@atoms/text/text-uswds/_text-uswds-main.twig" with
            {
                "text_uswds_component_name": "Tables",
                "text_uswds_href": "https://designsystem.digital.gov/components/table/"
            }
        %}
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/tables/table-default/demo/table-default.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-atoms-text"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Text</h3>
        <h4>Blockquote</h4>
        <p>Blockquotes are useful to separate quotes from the rest of the body text, adding visual interest to pages and highlighting the quote.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/text/text-blockquote/demo/text-blockquote.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>text_blockquote_classes: Additional blockquote classes.</li>
                    <li>text_blockquote_id: Blockquote ID.</li>
                    <li>text_blockquote_text: Blockquote text.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Badge</h4>
        <p>Badges are static, non-functional indicators of information. Typically badges are used to showcase tags and metadata of certain components, like search results.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/text/text-badge/demo/text-badge.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>text_badge_classes: Additional badge classes.</li>
                    <li>text_badge_id: Badge ID.</li>
                    <li>text_badge_text: Badge text.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Chip</h4>
        <p>Chips are functional indicators of search and filter results. NDS uses a search style wherein selected filters are displayed using chips, allowing users to see exactly what they have searched and filtered on. Selecting the 'x' in the chip should remove the filter from the search.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/text/text-chip/demo/text-chip.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>text_chip_classes: Additional chip classes.</li>
                    <li>text_chip_id: Chip ID.</li>
                    <li>text_chip_text: Chip text.</li>
                    <li>text_chip_href: A URL that, when navigated to, removes the chip from the filter list.</li>
                    <li>text_chip_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Icons -> icon-default</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Heading with Icon</h4>
        <p>This component allows users to include a Font Awesome icon next to a heading.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/text/text-heading-icon/demo/text-heading-icon.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>text_heading_icon_classes: Additional heading classes.</li>
                    <li>text_heading_icon_id: Heading ID.</li>
                    <li>text_heading_level: The heading level. Options: "1" through "6".</li>
                    <li>text_heading_text: The heading text.</li>
                    <li>text_heading_icon: Font Awesome icon name.</li>
                    <li>text_heading_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).</li>
                    <li>text_heading_icon_position: The side of the heading text that the icon appears on. Options: "left" (Default), "right".</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Icons -> icon-default</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Image Credit &amp; Caption</h4>
        <p>NDS strongly suggests captioning and crediting your images to bolster accessibility and to properly cite sources. The easiest way to use this pattern is by leveraging the Media Component (molecule: component-media), negating the need to use this pattern on its own.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/text/text-image-credit-caption/demo/text-image-credit-caption.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>text_image_credit_caption_classes: Additional credit and caption classes.</li>
                    <li>text_image_credit_caption_id: Credit and caption ID.</li>
                    <li>text_image_credit_caption_caption: Caption text.</li>
                    <li>text_image_credit_caption_credit: Credit text.</li>
                    <li>text_image_credit_caption_credit_label: Label for the credit. Default: "Credit:".</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Search Results</h4>
        <p>When displaying a set of search results, it is a best practice to include the number of overall results returned. The Search Results component provides a display for this purpose. Place this component directly above the listing of search results.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/01-atoms/text/text-search-results/demo/text-search-results.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>text_search_results_classes: Additional search results display classes.</a>
                    <li>text_search_results_title_text: Label for the search results. Default: "Results".</a>
                    <li>text_search_results_title_level: The heading level for the results display. Default: "2".</a>
                    <li>text_search_results_title_number: A string of the number of results.</a>
                </ul>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>