{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules"
    }
%}
    {% block component_scrollspy_section_content %}
        <h2>Molecules</h2>
    {% endblock %}
{% endembed %}

{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-blocks"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Blocks</h3>
        <p>Blocks tend to be non-functional components that are visually distinct from the normal body content.</p>

        <h4>Default Block</h4>
        <p>The default block is a flexible pattern that can be used with almost any HTML content. Optionally, the default block can have an accent style added through the "block_default_accent" parameter. If set to "true," the accent will be added to the left border of the default block.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-default/demo/block-default.twig" %}
                {% include "@nds/02-molecules/blocks/block-default/demo/block-default-accent.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block block_content %&#125;: The HTML content to appear in the block.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>block_default_classes: Additional block classes.</li>
                    <li>block_default_id: Block ID.</li>
                    <li>block_default_accent: Optional accent on the left of the block. Options: true, false (Default).</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Search Result</h4>
        <p>Created directly by the Default Block component, the Search Result pattern can be used to display a set of results returned by your search engine.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-search-result/demo/block-search-result.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block blocks_search_result_description %&#125;: The description of the search result.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>blocks_search_result_classes: Additional block classes.</li>
                    <li>blocks_search_result_id: Block ID.</li>
                    <li>blocks_search_result_title: Search result title.</li>
                    <li>blocks_search_result_href: Search result target destination URL.</li>
                    <li>blocks_search_result_date_last_reviewed: Optional date last reviewed of the search result content.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Search Chips</h4>
        <p>Use this component in tandem with the Filters Component to display the selected filters. Place this component under the search bar.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-search-chips/demo/block-search-chips.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>block_search_chips_classes: Additional block classes.</li>
                    <li>block_search_chips_data: An array of search chip objects. Structure: {"text": "", "url": ""}. The URL should be the link to remove the chip.</li>
                    <li>block_search_chips_clear: A URL hooked to the clear button that removes all search chips.</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Buttons -> button-default</li>
                    <li>Atoms -> Text -> text-chip</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Featured Content Card</h4>
        <p>Featured Content Cards are useful blocks designed to highlight your most important content. Each feature includes a title, an image, and a short description of the content.</p>
        {% include "@atoms/text/text-uswds/_text-uswds-main.twig" with
            {
                "text_uswds_component_name": "Cards",
                "text_uswds_href": "https://designsystem.digital.gov/components/card/"
            }
        %}
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
            {
                "component_snippet_classes": "component--snippet--featured-content-card"
            }
        %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-featured-content-card/demo/block-featured-content-card.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>block_featured_content_card_classes: Additional block classes.</li>
                    <li>block_featured_content_card_id: Block ID.</li>
                    <li>block_featured_content_card_src: The path to the featured image.</li>
                    <li>block_featured_content_card_alt: Alt text for the featured image.</li>
                    <li>block_featured_content_card_title: Title of the featured card.</li>
                    <li>block_featured_content_card_title_link: Optional URL for the linked title.</li>
                    <li>block_featured_content_card_description: Featured card description.</li>
                    <li>block_featured_content_card_featured: Optional text that appears above the title (ex. FEATURED).</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Images -> image-default</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Alert Block</h4>
        <p>Alerts are used to display important, need to know information to site users. NDS offers for alert severity blocks. Alerts are for high priority only and must be for immediate notification. Only one alert can show at any time.</p>
        <p>Examples of Alerts include:</p>
        <ul>
            <li>System outages</li>
            <li>Water outages/building closures</li>
            <li>Active shooter</li>
            <li>Day of system outage</li>
        </ul>
        <p>Alert severity standards are defined below:</p>
        <ul>
            <li>Severity One (Red): </li>
            <li>Severity Two (Orange): </li>
            <li>Severity Three (Yellow): </li>
            <li>Severity Four (Green): </li>
        </ul>
        {% include "@atoms/text/text-uswds/_text-uswds-main.twig" with
            {
                "text_uswds_component_name": "Alerts",
                "text_uswds_href": "https://designsystem.digital.gov/components/alert/"
            }
        %}
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-alert/demo/block-alert.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block block_alert_content %&#125;: The alert HTML content.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>block_alert_classes: Additional alert classes.</li>
                    <li>block_alert_id: Alert ID.</li>
                    <li>block_alert_severity_level: The alert severity level. Options: "1" (Default), "2", "3", "4".</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Status Message Block</h4>
        <p>Status messages are used to convery important information to users. There are four types of status messages - Success, Information, Warning, and Error:
        <ul>
            <li>Success - Used to indicate a user has completed an important step or call to action.</li>
            <li>Information - Used to call out an important snippet of information a user could find useful at-a-glance.</li>
            <li>Warning - Used to slow a reader down if skimming through the content. Indicates the user may need to take action before moving on.</li>
            <li>Error - Used in rare cases where a user should stop reading or moving forward and take additional action.</li>
        </ul>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-status-message/demo/block-status-message.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block block_status_message_content %&#125;: The status message HTML content.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>block_status_message_classes: Additional status message classes.</li>
                    <li>block_status_message_id: Status message ID.</li>
                    <li>block_status_message_type: The type of status message (required). Options: "message--success", "message--information", "message--warning", "message--error".</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Icons -> icon-default</li>
                </ul>
            {% endblock %}
        {% endembed %}
        
        <h4>Hero Block</h4>
        <p>The Hero Block can be used to add substantial visual interest to web pages. The pattern features a Parallax effect courtest of the Materialize library.</p>
        <p>When selecting imagery for the hero, it is recommended to choose images that do not feature people and faces. Due to the responsive requirement of websites today, using people-based images could result in faces being occluded or cut off on various screensizes. NDS recommends pattern-based imagery or imagery with simple subjects.</p>
        <p>The Hero Block pattern optionally includes the abiliity to add breadcrumbs to the top.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-hero/demo/block-hero.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>The Hero Block pattern requires users to pass images to "block_hero_image" as a block statement. Refer to the demo pattern for an example.</p>
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block block_hero_image %&#125;: The hero image, passed in as a &lt;img&gt; tag.</li>
                    <li>&#123;% block block_hero_breadcrumbs %&#125;: Optional block to include breadcrumbs (ex. the NDS Breadcrumb pattern).</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>block_hero_classes: Additional hero classes.</li>
                    <li>block_hero_id: Hero ID.</li>
                    <li>block_hero_overlay_color: An optional class used to apply a color to the hero overlay. This class must contain a background color with an opacity less than 1.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Share Block</h4>
        <p>The Share Block component is a collection of Share Buttons for various social media platforms.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
            {
                "component_snippet_classes": "component--snippet--block-share"
            }
        %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-share/demo/block-share.twig" %}
            {% endblock %}
             {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>The Share Block component uses a loop to render the Share Buttons. Pass data to the "block_share_data" parameter to generate each button.</p>
                <h5>Parameters</h5>
                <ul>
                    <li>block_share_classes: Additional block classes.</li>
                    <li>block_share_id: Block ID.</li>
                    <li>block_share_data: An array of share button objects. Structure: {"type": "", "icon": "", "href": "", "ariaLabel": ""}. The type is the name of the social media platform (ex. Twitter).</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Buttons -> button-share</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Was This Page Helpful? (WTPH) Block</h4>
        <p>Users of NDS frequently have a need to solicit feedback on webpages from their users. NDS provides a mechanism to collect this data with the Was This Page Helpful? Block component. Please note that this component does not have any built-in functionality, meaning users will need to add their own functions and input handling.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-wtph/demo/block-wtph.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>block_wtph_classes: Additional block classes.</li>
                    <li>block_wtph_id: Block ID.</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Buttons -> button-default</li>
                </ul>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-components"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Components</h3>
        <p>Component are similar to Block patterns but tend to have enhanced functionality (JavaScript).</p>
        <h4>Accordion Component</h4>
        <p>Accordions are web components that separate a large amount of content into toggleable sections, thereby reducing the overall page length and allowing the user to focus on individual pieces of content at a time.</p>
        {% include "@molecules/blocks/block-dependencies/_block-dependencies-main.twig" with
            {
                "block_dependencies_data": [
                    {
                        "text": "Bootstrap 4"
                    },
                    {
                        "text": "jQuery"
                    }
                ]
            }
        %}
        {% include "@atoms/text/text-uswds/_text-uswds-main.twig" with
            {
                "text_uswds_component_name": "Accordions",
                "text_uswds_href": "https://designsystem.digital.gov/components/accordion/"
            }
        %}
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/components/component-accordion/demo/component-accordion.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>The Accordion pattern is simply a wrapper designed to container Bootstrap Accordion markup. Please reference the demo or <a href="https://getbootstrap.com/docs/4.0/components/collapse/">Bootstrap's Collapse Documentation</a> for more information.</p>
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block component_accordion_content %&#125;: The Bootstrap markup for accordions.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>component_accordion_classes: Additional accordion classes.</li>
                    <li>component_accordion_id: Accordion ID.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Branding Component</h4>
        <p>The NDS Branding component makes it easy to comply with NIAID's Digital Policy surrounding web property identification.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/components/component-branding/demo/component-branding.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>Add your product identity using one or both of the following parameters:</p>
                <ul>
                    <li>component_branding_identity_top</li>
                    <li>component_branding_identity_bottom</li>
                </ul>
                <p>If only one of these parameters is used, your product identity will be centered on one line (unless it exceeds a certain width).</p>
                <h5>Parameters</h5>
                <ul>
                    <li>component_branding_classes: Additional component classes.</li>
                    <li>component_branding_href: URL for the logo (Default: "/").</li>
                    <li>component_branding_logo_src: Path to the logo image (Default: "global/niaid/logo-niaid.svg").</li>
                    <li>component_branding_logo_alt: Alternative text for the logo (Default: "NIAID Logo").</li>
                    <li>component_branding_logo_mobile_src: Path to the logo image for mobile displays (Default: "global/niaid/logo-niaid-mobile.svg").</li>
                    <li>component_branding_logo_mobile_alt: Alternative text for the mobile logo (Default: "NIAID Logo").</li>
                    <li>component_branding_identity_top: The top line of the product identity (name).</li>
                    <li>component_branding_identity_bottom: The bottom line of the product identity (name).</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Images -> image-default</li>
                    <li>Atoms -> Text -> text-product-identity</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>USWDS Banner Component</h4>
        <p>The USWDS Banner component helps assure users that the site they are visiting is an official government site. This banner is placed at the very top of website pages.</p>
        {% include "@molecules/blocks/block-dependencies/_block-dependencies-main.twig" with
            {
                "block_dependencies_data": [
                    {
                        "text": "USWDS"
                    }
                ]
            }
        %}
        {% include "@atoms/text/text-uswds/_text-uswds-main.twig" with
            {
                "text_uswds_component_name": "USWDS Banners",
                "text_uswds_href": "https://designsystem.digital.gov/components/banner/"
            }
        %}
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/components/component-uswds-banner/demo/component-uswds-banner.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>This pattern relies on the USWDS CSS and JS files included with NDS. Be sure that these files are included in your project if using the USWDS Banner component.</p>
                <h5>Parameters</h5>
                <ul>
                    <li>component_uswds_banner_classes: Additional banner classes.</li>
                    <li>component_uswds_banner_id: Component ID.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Media Component</h4>
        <p>The Media component makes it easy to include credits and captions to your images. Additionally, you can control the float (left or right placement) of your images.</p>
        {% include "@molecules/blocks/block-dependencies/_block-dependencies-main.twig" with
            {
                "block_dependencies_data": [
                    {
                        "text": "Materialize"
                    }
                ]
            }
        %}
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/components/component-media/demo/component-media.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>If you would like to include the lightbox from Materialize, you must include the Materialize script and pass "yes" to the component_media_lightbox parameter.</p>
                <h5>Parameters</h5>
                <ul>
                    <li>component_media_classes: Additional media component classes.</li>
                    <li>component_media_src: Path to the image.</li>
                    <li>component_media_alt: Alternative text for the image.</li>
                    <li>component_media_caption: Caption text to appear below the image.</li>
                    <li>component_media_credit: Credit text to appear below the image.</li>
                    <li>component_media_credit_label: The label to appear before the credit text (Default: "Credit:").</li>
                    <li>component_media_float: The direction to float the component (optional). Options: "left", "right".</li>
                    <li>component_media_lightbox: A parameter to determine if the image should include the Materialize lightbox feature. Options: "yes".</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Images -> image-default</li>
                    <li>Atoms -> Text -> text-image-credit-caption</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Modal Component</h4>
        <p>Modals are windows that open up over the rest of a page's content. Modals are typically used to gather user input or to alert users of pressing information.</p>
        {% include "@molecules/blocks/block-dependencies/_block-dependencies-main.twig" with
            {
                "block_dependencies_data": [
                    {
                        "text": "Bootstrap 4"
                    },
                    {
                        "text": "jQuery"
                    }
                ]
            }
        %}
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/components/component-modal/demo/component-modal.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block component_modal_header %&#125;: Content to appear at the top of the modal (ex. Modal title).</li>
                    <li>&#123;% block component_modal_content %&#125;: The main content to appear within the modal.</li>
                    <li>&#123;% block component_modal_footer %&#125;: Content to appear at the bottom of the modal.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>component_modal_trigger_classes: Additional classes on the wrapper around the modal trigger (ex. button).</li>
                    <li>component_modal_id: Modal ID.</li>
                    <li>component_modal_classes: Additional modal classes.</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Icons -> icon-default</li>
                </ul>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-input-groups"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Input Groups</h3>
        <p>Receiving data is a key interaction point for users of websites. NDS has several types of input components to help get information from users.</p>

        <h4>Text Field Group</h4>
        {% include "@molecules/blocks/block-dependencies/_block-dependencies-main.twig" with
            {
                "block_dependencies_data": [
                    {
                        "text": "Bootstrap 4"
                    },
                    {
                        "text": "jQuery"
                    }
                ]
            }
        %}
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/input-group/input-group-text/demo/input-group-text.twig" %}
                {% include "@nds/02-molecules/input-group/input-group-text/demo/input-group-text-icon.twig" %}
                {% include "@nds/02-molecules/input-group/input-group-text/demo/input-group-text-tooltip.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>input_group_text_classes: Additional classes on the wrapper around the input field.</li>
                    <li>input_group_text_id: Input ID.</li>
                    <li>input_group_text_label: Input label.</li>
                    <li>input_group_text_label_classes: Additional classes for the input field label.</li>
                    <li>input_group_text_tooltip: Optional tooltip text for the input field (Dependencies: Bootstrap 4, jQuery).</li>
                    <li>input_group_text_placeholder: Placeholder text for the field.</li>
                    <li>input_group_text_name: Name attribute of the field.</li>
                    <li>input_group_text_value: Default value of the field.</li>
                    <li>input_group_text_tabindex: Optional tabindex attribute of the field.</li>
                    <li>input_group_text_disabled: Bool indicating if the field is disabled. Options: true, false (Default).</li>
                    <li>input_group_text_readonly: Bool indicating if the field is readonly. Options: true, false (Default).</li>
                    <li>input_group_text_required: Bool indicating if the field is requred. Options: true, false (Default).</li>
                    <li>input_group_text_icon: Optional name of Font Awesome icon to appear in the field.</li>
                    <li>input_group_text_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Input -> input-label</li>
                    <li>Atoms -> Input -> input-text</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Checkbox Group</h4>
        <p>The Checkbox Group pattern is designed to build a list of checkbox options with a label.</p>
        {% include "@molecules/blocks/block-dependencies/_block-dependencies-main.twig" with
            {
                "block_dependencies_data": [
                    {
                        "text": "Bootstrap 4"
                    },
                    {
                        "text": "jQuery"
                    }
                ]
            }
        %} 
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/input-group/input-group-checkbox/demo/input-group-checkbox.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>Embed the Checkbox Group pattern and pass individual checkbox options (Atoms -> Input -> input-checkbox) to the block "input_checkbox_options".</p>
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block input_checkbox_options %&#125;: The block holding the individual checkbox items.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>input_group_checkbox_classes: Additional classes on the wrapper around the input field.</li>
                    <li>input_group_checkbox_id: Input ID.</li>
                    <li>input_group_checkbox_label: Input label.</li>
                    <li>input_group_checkbox_label_classes: Additional classes for the input field label.</li>
                    <li>input_group_checkbox_tooltip: Optional tooltip text for the input field (Dependencies: Bootstrap 4, jQuery).</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Input -> input-label</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Radio Button Group</h4>
        <p>The Radio Group pattern is designed to build a list of radio options with a label.</p>
        {% include "@molecules/blocks/block-dependencies/_block-dependencies-main.twig" with
            {
                "block_dependencies_data": [
                    {
                        "text": "Bootstrap 4"
                    },
                    {
                        "text": "jQuery"
                    }
                ]
            }
        %} 
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/input-group/input-group-radio/demo/input-group-radio.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>Embed the Radio Group pattern and pass individual radio options (Atoms -> Input -> input-radio) to the block "input_radio_options".</p>
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block input_radio_options %&#125;: The block holding the individual radio items.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>input_group_radio_classes: Additional classes on the wrapper around the input field.</li>
                    <li>input_group_radio_id: Input ID.</li>
                    <li>input_group_radio_label: Input label.</li>
                    <li>input_group_radio_label_classes: Additional classes for the input field label.</li>
                    <li>input_group_radio_tooltip: Optional tooltip text for the input field (Dependencies: Bootstrap 4, jQuery).</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Input -> input-label</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Select Field Group</h4>
        <p>The Select Field Group provides users with an improved select list experience courtesy of the Select2 library.</p>
        {% include "@molecules/blocks/block-dependencies/_block-dependencies-main.twig" with
            {
                "block_dependencies_data": [
                    {
                        "text": "Bootstrap 4"
                    },
                    {
                        "text": "Select2"
                    },
                    {
                        "text": "jQuery"
                    }
                ]
            }
        %}
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/input-group/input-group-select/demo/input-group-select.twig" %}
                {% include "@nds/02-molecules/input-group/input-group-select/demo/input-group-multiselect.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block input_group_select_options %&#125;: The block holding the select &lt;option&gt;'s.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>input_group_select_classes: Additional classes on the wrapper around the input field.</li>
                    <li>input_group_select_id: Input ID.</li>
                    <li>input_group_select_label: Input label.</li>
                    <li>input_group_select_label_classes: Additional classes for the input field label.</li>
                    <li>input_group_select_tooltip: Optional tooltip text for the input field (Dependencies: Bootstrap 4, jQuery).</li>
                    <li>input_group_select_placeholder: Placeholder text for the field.</li>
                    <li>input_group_select_name: Name attribute of the field.</li>
                    <li>input_group_select_value: Default value of the field.</li>
                    <li>input_group_select_tabindex: Optional tabindex attribute of the field.</li>
                    <li>input_group_select_disabled: Bool indicating if the field is disabled. Options: true, false (Default).</li>
                    <li>input_group_select_readonly: Bool indicating if the field is readonly. Options: true, false (Default).</li>
                    <li>input_group_select_required: Bool indicating if the field is requred. Options: true, false (Default).</li>
                    <li>input_group_select_always_selected: Bool indicating if the field should always have one option selected. Options: true, false (Default).</li>
                    <li>input_group_select_multiple: Bool indicating if the field can have multiple selections. Options: true, false (Default).</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Input -> input-label</li>
                    <li>Atoms -> Input -> input-select</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Date Picker Field Group</h4>
        <p>The Date Picker Field Group provides users with an improved date selection experience courtesy of the Bootstrap Datepicker library.</p>
        {% include "@molecules/blocks/block-dependencies/_block-dependencies-main.twig" with
            {
                "block_dependencies_data": [
                    {
                        "text": "Bootstrap Datepicker"
                    },
                    {
                        "text": "jQuery"
                    }
                ]
            }
        %}
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/input-group/input-group-date-picker/demo/input-group-date-picker.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>input_group_date_picker_classes: Additional classes on the wrapper around the input field.</li>
                    <li>input_group_date_picker_id: Input ID.</li>
                    <li>input_group_date_picker_label: Input label.</li>
                    <li>input_group_date_picker_label_classes: Additional classes for the input field label.</li>
                    <li>input_group_date_picker_tooltip: Optional tooltip text for the input field (Dependencies: Bootstrap 4, jQuery).</li>
                    <li>input_group_date_picker_placeholder: Placeholder text for the field.</li>
                    <li>input_group_date_picker_name: Name attribute of the field.</li>
                    <li>input_group_date_picker_value: Default value of the field.</li>
                    <li>input_group_date_picker_tabindex: Optional tabindex attribute of the field.</li>
                    <li>input_group_date_picker_disabled: Bool indicating if the field is disabled. Options: true, false (Default).</li>
                    <li>input_group_date_picker_readonly: Bool indicating if the field is readonly. Options: true, false (Default).</li>
                    <li>input_group_date_picker_required: Bool indicating if the field is requred. Options: true, false (Default).</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Input -> input-label</li>
                    <li>Atoms -> Input -> input-date-picker</li>
                </ul>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-forms"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Forms</h3>

        <h4>Search Form</h4>
        <p>Search allows users to find content on your site. A search feature is almost always recommended for websites, unless the website is only a few pages.</p>
        {% include "@atoms/text/text-uswds/_text-uswds-main.twig" with
            {
                "text_uswds_component_name": "Search",
                "text_uswds_href": "https://designsystem.digital.gov/components/search/"
            }
        %}
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/forms/form-search/demo/form-search.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>The Search Form pattern has a default &lt;form&gt; element that can be replaced by passing your own to the "form_search_content" block.</p>
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block form_search_content %&#125;: The block holding the search form HTML.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>form_search_classes: Additional classes on the wrapper around the search form.</li>
                    <li>form_search_id: ID of the &lt;form&gt; element.</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Input -> input-text</li>
                </ul>
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-navigation"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Navigation</h3>
        <p>Navigation elements are crucial to any website as they allow users to move between site pages. NDS offers several patterns to make navigation easy and policy-compliant.</p>
        <h4>Primary Navigation</h4>
        <p>Primary navigation is used to move between the major sections of your website. NDS recommends including primary navigation directly below the header of your site for easiest access.</p>
        <p></p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
            {
                "component_snippet_classes": "component--snippet--primary-navigation"
            }
        %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/navigation/navigation-primary/demo/navigation-primary.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>Although it is possible to use the NDS out of the box component for Priary Navigation, it is likely you will need to replicate the pattern for your particular site due to the unique nature of different websites. To make your own custom pattern, simply copy the navigation-primary component from inside the 00-nds/ directory, and paste it into your 02-molecules/ directory. Then you can freely make changes to the component without altering the original NDS component.</p>
                <p>You will need to supply the primary navigation pattern with content using the "navigation_primary_content" block. You can pass links or dropdown markup, using the proper NDS structure and classes. <strong>Reference the demo pattern to see examples of links and dropdowns with the proper structure and classes.</strong></p>
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block navigation_primary_content %&#125;: The block holding the navigation markup.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>navigation_primary_classes: Additional classes for the navigation component.</li>
                    <li>navigation_primary_id: Navigation component ID.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Breadcrumbs</h4>
        <p>Breadcrumbs are used to help users identify where they are within the menu sytem of the site. Breadcrumbs will typically appear on pages one level deep in the menu system.</p>
        {% include "@atoms/text/text-uswds/_text-uswds-main.twig" with
            {
                "text_uswds_component_name": "Breadcrumbs",
                "text_uswds_href": "https://designsystem.digital.gov/components/breadcrumb/"
            }
        %}
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/navigation/navigation-breadcrumbs/demo/navigation-breadcrumbs.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Parameters</h5>
                <ul>
                    <li>navigation_breadcrumbs_classes: Additional classes for the navigation component.</li>
                    <li>navigation_breadcrumbs_id: Navigation component ID.</li>
                    <li>navigation_breadcrumbs_data: An array of breadcrumb objects. Structure: {"text": "", "href": "", "routeName": ""}. The "href" key can be empty. The "routeName" key should be empty unless using Drupal.</li>
                    <li>navigation_breadcrumbs_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).</li>
                </ul>
                <h5>Includes</h5>
                <ul>
                    <li>Atoms -> Icons -> icon-default</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Pagination</h4>
        <p>Pagination helps separate long lists of content, such as search results, into separate pages to improve content readability and findability. Pagination is typically found below the content listing.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/navigation/navigation-pagination/demo/navigation-pagination.twig" %}
            {% endblock %}
            {% block component_snippet_pattern_info %}
                <h5>Overview</h5>
                <p>The markup for the pagination buttons is based on the Drupal implementation. The Pagination component mostly serves as a wrapper to pass pagination butotn markup to the "navigation_pagination_content" block. Refer to the demo for the proper structure and classes of the pagination buttons.</p>
                <h5>Blocks</h5>
                <ul>
                    <li>&#123;% block navigation_pagination_content %&#125;: The block holding the pagination markup.</li>
                </ul>
                <h5>Parameters</h5>
                <ul>
                    <li>navigation_pagination_classes: Additional classes for the navigation component.</li>
                    <li>navigation_pagination_id: Navigation component ID.</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <h4>Side Drawer (Mobile Menu)</h4>
        <p>When viewing websites on mobile devices, the site navigation often changes to accommodate the smaller screen size. NDS offers a "drawer" style slide out menu where menu links can be added. NDS has pre-made JavaScript functionality that toggles the drawer open and closed on click of a button with an ID of "global-mobile-menu."</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
            {
                "component_snippet_show_rendered": "no"
            }
        %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/navigation/navigation-drawer/demo/navigation-drawer.twig" with
                    {
                        "navigation_drawer_id": "side-drawer"
                    }
                %}
            {% endblock %}
        {% endembed %}

        <h4>Mobile Rail</h4>
        <p>This simple component helps transition your site from a desktop layout to mobile by collapsing the local navigation (or whatever is wrapped) into a dropdown.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/navigation/navigation-mobile-rail/demo/navigation-mobile-rail.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>