{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-typography"
    }
%}
    {% block component_scrollspy_section_content %}
        <h2>Typography</h2>
        <h3>Fonts</h3>
        <p>The NIAID Design System provides four font options. Roboto and Public Sans are sans-serif fonts. Martel and Merriweather are serif fonts.</p>
        <p>Every option has been analyzed for readability and elegance. Merriweather and Public Sans are both officially endorsed by the USWDS design system.</p>
        <h4>Headings</h4>
        <p>NDS users can select any of the four available fonts for headings:<p>
        <ul>
            <li>Roboto</li>
            <li>Public Sans</li>
            <li>Martel</li>
            <li>Merriweather</li>
        </ul>

        <p>Heading Font Properties:</p>
        
        <table id="font-sizes" class="display" style="width:100%" nds-datatable="true">
            <thead>
                <tr>
                    <th>Heading Level</th>
                    <th>Font Size</th>
                    <th>Font Color</th>
                    <th>Font Weight</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="h1">H1</td>
                    <td>3rem</td>
                    <td>$type-heading: #2F2F2F</td>
                    <td>$font-weight-light: Light</td>
                </tr>
                <tr>
                    <td class="h2">H2</td>
                    <td>2.5rem</td>
                    <td>$type-heading: #2F2F2F</td>
                    <td>$font-weight-light: Light</td>
                </tr>
                <tr>
                    <td class="h3">H3</td>
                    <td>2rem</td>
                    <td>$type-heading: #2F2F2F</td>
                    <td>$font-weight-light: Light</td>
                </tr>
                <tr>
                    <td class="h4">H4</td>
                    <td>1.5rem</td>
                    <td>$type-heading: #2F2F2F</td>
                    <td>$font-weight-regular: Regular</td>
                </tr>
                <tr>
                    <td class="h5">H5</td>
                    <td>1.25rem</td>
                    <td>$type-heading: #2F2F2F</td>
                    <td>$font-weight-bold: Bold</td>
                </tr>
                <tr>
                    <td class="h6">H6</td>
                    <td>1.25rem</td>
                    <td>$type-heading: #2F2F2F</td>
                    <td>$font-weight-regular: Regular</td>
                </tr>
            </tbody>
        </table>

        <h4>Body Text</h4>
        <p>Body fonts are restricted to the two sans-serif fonts:</p>
        <ul>
            <li>Roboto</li>
            <li>Public Sans</li>
        </ul>
        <p>This restriction on fonts for the body is due to readability issues with serif fonts at small text sizes.<p>
        <p>The default font size for body text is 16px. All sizing should use the "rems" unit, which enables the sizing of elements to be responsive. For more information about sizing, visit the <a href="#section-layout">Layouts &amp; Spacing</a> section.

        <h3>Text Elements</h3>
        <h4>Links</h4>
        <p>Links are important web elements that allow users to move between pages on a site. Section 508 requires that designers may not convey meaning or functionality through color alone, which means that links must have additional styling such as an underline to set them apart. Under NDS, links are distinguished with a 1px bottom-border:</p>
        <p><a href="#">Example Link</a></p>
        <p>External links, or links that open pages on other websites, must be designated with the external link icon:</p>
        <p><a href="https://www.google.com">Example External Link - Google</a></p>
        <p>Mailto links are automatically appended with a Font Awesome envelope icon to clarify the link type.</p>
        <a href="mailto:caccamojr@niaid.nih.gov">Example Mailto Link</a>
        <h4>Lists</h4>
        <h5>Unordered List</h5>
        <ul>
            <li>List Item</li>
            <li>List Item</li>
            <li>List Item</li>
        </ul>
        <h5>Ordered List</h5>
        <ol>
            <li>List Item Number One</li>
            <li>List Item Number Two</li>
            <li>List Item Number Three</li>
        </ol>
        {% include "@molecules/blocks/block-fonts/_block-fonts-main.twig" %}
        {% embed "@nds/02-molecules/blocks/block-default/_block-default-main.twig" %}
            {% block block_content %}
                <h4>Developing with NIAID Design System Typography</h4>
                <p>Get more information on how to implement NDS typography.</p>
                {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                    {
                        "button_default_type": "primary",
                        "button_default_label": "Develop with Typography",
                        "button_default_href": links.development ~ "#developing-with-typography"
                    }
                %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}