{% embed "@nds/02-molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-drupal-website"
    }
%}
    {% block component_scrollspy_section_content %}
        <h2>Drupal</h2>
    {% endblock %}
{% endembed %}