{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-overview"
    }
%}
    {% block component_scrollspy_section_content %}
        <h1 id="main-content">Design</h1>
        <p>The visual style of the NIAID Design System is based on <a href="https://material.io/design/">Material Design</a>, but has been modified to give NIAID web properties a unique look and feel. The visual style is also informed by HHS, NIH, and the <a href="https://designsystem.digital.gov/">United States Web Design System (USWDS)</a> policies, best practices, and many usability studies.</p>
        {% include "@molecules/blocks/block-design-files/_block-design-files-main.twig" %}
    {% endblock %}
{% endembed %}