{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-prerequisites"
    }
%}
    {% block component_scrollspy_section_content %}
        <h2>Prerequisites</h2>
        <p>You’ll need several application packages to work with the NIAID Design System. You can download and install the necessary packages below:</p>
        <ul>
            <li><a href="https://nodejs.org/en/download/">Node.js</a></li>
            <li><a href="https://www.npmjs.com/get-npm">NPM</a></li>
            <li><a href="https://www.php.net/downloads">PHP</a> (For Static &amp; Drupal-Based Sites)</li>
            <li><a href="https://getcomposer.org/download/">Composer</a> (For Static &amp; Drupal-Based Sites)</li>
        </ul>
    {% endblock %}
{% endembed %}