{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-drupal-website"
    }
%}
    {% block component_scrollspy_section_content %}
        <h2>Building a Drupal Site</h2>
        <h3>Overview</h3>
        <p>NDS Drupal Theme is a base theme which is integrated with NIAID Design System. NDS Drupal Theme out-of-the-box is a responsive with many regions provided for advance functionality. NDS Drupal Theme distributions also come with several theme settings.</p>
        <p>Core features of NDS Drupal Theme:</p>
        <ul>
            <li>Admin configurable theme settings including colors, fonts, corner style, and shadows.</li>
            <li>Configured system branding and page title blocks.</li>
            <li>Responsive design support for mobile and tablet experiences.</li>
        </ul>
        <h3>Downloading &amp; Installing NDS Drupal Theme</h3>
        <p>Download &amp; Unzip the NDS Drupal Theme Folder:</p>
        <p>
            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                {
                    "button_icon_href": assetsPath ~ "nds-drupal-theme.zip",
                    "button_icon_icon": "download",
                    "button_icon_text": "Download NDS Drupal Theme",
                    "button_icon_attributes": "download"
                }
            %}
        </p>
        <p>Install as any other Drupal Contributed Theme. For more information about installing a Contributed theme, please visit the <a href="https://www.drupal.org/docs/extending-drupal/installing-themes">Drupal documentation site.</a></p>

        <h3>Drupal Theme Configuration</h3>
        <p>Configure Drupal theme settings by navigating: Administration > Appearance > Settings > NDS Drupal Theme</p>
        <ul>
        <li>For Logo <ul>
        <li>Select Product Identity and fill Out Top Field - For example NIAID </li>
        <li>Select Product Identity and fill out Bottom Field - For example Design System</li>
        </ul>
        </li>
        <li>Font Headings <ul>
        <li>Select one from the available options </li>
        </ul>
        </li>
        <li>Body Headings <ul>
        <li>Select one from the available options </li>
        </ul>
        </li>
        <li>Shadows <ul>
        <li>Pick either flat or shadows </li>
        </ul>
        </li>
        <li>Corners <ul>
        <li>Select one from the available options </li>
        </ul>
        </li>
        <li>Website Colors: <ul>
        <li>Select website base theme color.</li>
        </ul>
        </li>
        </ul>
        <h3 id="menus">Menus</h3>
        <p>In NDS Drupal Theme, primary menu is right now hardcoaded and implemented using NIAID Design System component. Inorder to modify this menu, please place the menu block on Primary Menu region and uncomment the {{ page.primary_meneu }} on page.html.twig file. The pattern for the menu is found here: nds/02-molecules/navigation/navigation-primary/_navigation-primary-main.twig.</p>
    {% endblock %}
{% endembed %}