{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules"
    }
%}
    {% block component_scrollspy_section_content %}
        <h2>Molecules</h2>
    {% endblock %}
{% endembed %}

{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-blocks"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Blocks</h3>
        <p>Blocks tend to be non-functional components that are visually distinct from the normal body content.</p>

        <h4>Default Block</h4>
        <p>The default block is a flexible pattern that can be used with almost any content. Optionally, the default block can have an accent style added through the "block_default_accent" parameter. If set to "true," the accent will be added to the left border of the default block.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-default/demo/block-default.twig" %}
                {% include "@nds/02-molecules/blocks/block-default/demo/block-default-accent.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Featured Content Card</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-featured-content-card/demo/block-featured-content-card.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Alert Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-alert/demo/block-alert.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Status Message Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-status-message/demo/block-status-message.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Header Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-header/demo/block-header.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Hero Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-hero/demo/block-hero.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Mission Statement Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-mission-statement/demo/block-mission-statement.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Share Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
            {
                "component_snippet_classes": "component--snippet--block-share"
            }
        %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-share/demo/block-share.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Was This Page Helpful? Block</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/blocks/block-wtph/demo/block-wtph.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-components"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Components</h3>
        <p>Component are similar to Block patterns but tend to have enhanced functionality (JavaScript).</p>
        <h4>Accordion Component</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/components/component-accordion/demo/component-accordion.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Branding Component</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/components/component-branding/demo/component-branding.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Media Component</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/components/component-media/demo/component-media.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Modal Component</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/components/component-modal/demo/component-modal.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-navigation"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Navigation</h3>
        <h4>Primary Navigation</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/navigation/navigation-primary/demo/navigation-primary.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Breadcrumbs</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/navigation/navigation-breadcrumbs/demo/navigation-breadcrumbs.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Pagination</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/navigation/navigation-pagination/demo/navigation-pagination.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Side Drawer (Mobile Menu)</h4>
        <p>When viewing websites on mobile devices, the site navigation often changes to accomodate the smaller screen size. NDS offers a "drawer" style slide out menu wherein menu links can be added. NDS has pre-made JS that toggles the drawer open and close on click of a button with an ID of "global-mobile-menu."</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
            {
                "component_snippet_show_rendered": "no"
            }
        %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/navigation/navigation-drawer/demo/navigation-drawer.twig" with
                    {
                        "navigation_drawer_id": "side-drawer"
                    }
                %}
            {% endblock %}
        {% endembed %}

        <h4>Mobile Rail</h4>
        <p>This simple component helps transition your site from a desktop layout to mobile by collapsing the local navigation (or whatever is wrapped) into a dropdown.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/navigation/navigation-mobile-rail/demo/navigation-mobile-rail.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-input-groups"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Input Groups</h3>
        <h4>Checkbox Group</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/input-group/input-group-checkbox/demo/input-group-checkbox.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Radio Button Group</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/input-group/input-group-radio/demo/input-group-radio.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Text Field Group</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/input-group/input-group-text/demo/input-group-text.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>
{% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
    {
        "component_scrollspy_section_id": "section-components-molecules-forms"
    }
%}
    {% block component_scrollspy_section_content %}
        <h3>Forms</h3>

        <h4>Search Form</h4>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/forms/form-search/demo/form-search.twig" %}
            {% endblock %}
        {% endembed %}

        <h4>Facets</h4>
        <p>This component is based on the Drupal Facets module's implementation of filters.</p>
        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" %}
            {% block component_snippet_code %}
                {% include "@nds/02-molecules/forms/form-facet/demo/form-facet.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}
<hr>