.container {
    .row {
        .image--default {
            max-width: 100%;
        }
    }
}

.step {
    font-weight: $font-weight-bold;
}

#section-corners {
    h3 {
        font-size: 1rem;
    }
}

.media--video {
    max-width: 100%;
}

#section-sass,
#section-jquery,
#section-gulp,
#section-libraries {
    h3 {
        display: inline-block;
    }
    .text--badge {
        margin-left: 0.5rem;
        display: inline-block;
    }
}

.token-table {
    .spacer {
        background: $niaid-blue;
    }
}