.block--files {
    display: flex;
    margin: 0 auto;
    .row {
        width: 100%;
        margin: 0 -1rem;
    }
    &__col {
        padding: 1rem;
    }
    .button--icon {
        display: block;
        text-align: center;
        width: 100%;
        .icon--default {
            width: 100%;
            padding: 1rem;
            &:before {
                font-size: 3rem;
            }
        }
        &__text {
            padding: 0;
            margin-top: 1rem;
        }
    }
}