{% include "@nds/03-organisms/views/view-listing/_view-listing-main.twig" with
    {
        "view_listing_data": [
            {
                "content": '<h3><a href="#">View Listing Heading</a></h3><p>Lorem ipsum set amet dolor.</p>'
            },
            {
                "content": '<h3><a href="#">View Listing Heading</a></h3><p>Lorem ipsum set amet dolor.</p>'
            },
            {
                "content": '<h3><a href="#">View Listing Heading</a></h3><p>Lorem ipsum set amet dolor.</p>'
            }
        ],
        "view_listing_button_text": "View All"
    }
%}