<div class="container-fluid demo">
    <div class="row">
        <div class="col-auto m-y-1">
            {% include "@nds/01-atoms/buttons/button-share/_button-share-main.twig" with
                {
                    "button_share_type": "facebook",
                    "button_share_href": "#",
                    "button_share_aria_label": "Share on Facebook"
                }
            %}
        </div>
        <div class="col-auto m-y-1">
            {% include "@nds/01-atoms/buttons/button-share/_button-share-main.twig" with
                {
                    "button_share_type": "twitter",
                    "button_share_href": "#",
                    "button_share_aria_label": "Share on Twitter"
                }
            %}
        </div>
        <div class="col-auto m-y-1">
            {% include "@nds/01-atoms/buttons/button-share/_button-share-main.twig" with
                {
                    "button_share_type": "linkedin",
                    "button_share_href": "#",
                    "button_share_aria_label": "Share on Linkedin"
                }
            %}
        </div>
        <div class="col-auto m-y-1">
            {% include "@nds/01-atoms/buttons/button-share/_button-share-main.twig" with
                {
                    "button_share_type": "instagram",
                    "button_share_href": "#",
                    "button_share_aria_label": "Share on Instagram"
                }
            %}
        </div>
        <div class="col-auto m-y-1">
            {% include "@nds/01-atoms/buttons/button-share/_button-share-main.twig" with
                {
                    "button_share_type": "youtube",
                    "button_share_href": "#",
                    "button_share_aria_label": "Share on YouTube"
                }
            %}
        </div>
        <div class="col-auto m-y-1">
            {% include "@nds/01-atoms/buttons/button-share/_button-share-main.twig" with
                {
                    "button_share_type": "pinterest",
                    "button_share_href": "#",
                    "button_share_aria_label": "Share on Pinterest"
                }
            %}
        </div>
        <div class="col-auto m-y-1">
            {% include "@nds/01-atoms/buttons/button-share/_button-share-main.twig" with
                {
                    "button_share_type": "flickr",
                    "button_share_href": "#",
                    "button_share_aria_label": "Share on Flickr"
                }
            %}
        </div>
        <div class="col-auto m-y-1">
            {% include "@nds/01-atoms/buttons/button-share/_button-share-main.twig" with
                {
                    "button_share_type": "google-plus",
                    "button_share_href": "#",
                    "button_share_aria_label": "Share on Google Plus"
                }
            %}
        </div>
    </div>
</div>