#index {
    .hero-image {
        max-width: 100%;
    }
    .view--featured-content-cards {
        background: $page-background;
        padding: 2rem 0;
        .container-fluid {
            padding: 0;
            @include media-breakpoint-down(md) {
                .col-md-4 {
                    padding-bottom: 2rem;
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
        .block--featured-content-card {
            margin: 0;
            @include media-breakpoint-down(md) {
                .block--featured-content-card__image {
                    height: auto;
                }
            }
        }
    }
}