{% embed "@nds/02-molecules/blocks/block-alert/_block-alert-main.twig" with
    {
        "block_alert_classes": "severity--4"
    }
%}
    {% block block_alert_content %}
        <p>This NDS site is a work in progress. The content, design, and development are subject to change.</p>
    {% endblock %}
{% endembed %}

{% include "@molecules/components/component-style-controls/_component-style-controls-main.twig" %}

{% embed "@nds/01-atoms/layouts/layouts-site/_layouts-site-main.twig" with
    {
        "layouts_site_id": "index"
    }
%}
    {% block header %}
        {% include "@organisms/global/global-header/_global-header-main.twig" with
            {
                "global_header_product_id_top": "NIAID",
                "global_header_product_id_bottom": "Design System"
            }
        %}
    {% endblock %}
    {% block global_navigation %}
        {% include "@molecules/navigation/navigation-primary/_navigation-primary-main.twig" %}
        {% include "@nds/02-molecules/navigation/navigation-drawer/_navigation-drawer-main.twig" with
            {
                "navigation_drawer_id": "main-navigation-mobile"
            }
        %}
        {% include "@nds/01-atoms/buttons/button-floating/_button-floating-main.twig" with
            {
                "button_floating_id": "custom-styles-toggle",
                "button_floating_icon": "palette",
                "button_floating_text": "Customize Page Theme"
            }
        %}
    {% endblock %}
    {% block main %}
        {% embed "@nds/01-atoms/layouts/layouts-main-layout/_layouts-main-layout-main.twig" with
            {
                "layouts_main_layout_main": columns.main
            }
        %}
            {% block main_column %}
                {% embed "@nds/01-atoms/layouts/layouts-body-card/_layouts-body-card-main.twig" %}
                    {% block body_card_content %}
                        <h1>NIAID Design System</h1>
                        {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
                            {
                                "image_default_classes": 'hero-image',
                                "image_default_src": 'homeHero.svg',
                                "image_default_alt": 'A collection of NIAID employees going about their work'
                            }
                        %}
                        {% embed "@nds/02-molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
                            {
                                "component_scrollspy_section_id": "section-overview"
                            }
                        %}
                            {% block component_scrollspy_section_content %}
                                <h2>Purpose</h2>
                                <p>The overall goal of a Design System is to bring consistency to digital properties within an organization. Design Systems achieve this by standardizing a visual style, such as fonts and colors, and by providing guidance for how this visual style should be applied to website and application design. Furthermore, Design Systems translate this visual style into functional code snippets, called components or patterns, that developers can use to build the websites and applications. When patterns are updated, all digital properties relying on these patterns will update as well, ensuring that the look and feel remains unified as the visual style evolves.</p>

                                <p>The NIAID Design System (NDS) includes design guidance on everything from typography and colors to image use and accessibility. The visual style of NDS is programmatically built on the principle of Atomic Design, powered by a framework called Pattern Lab. For more information about the development side of NDS, visit the Development page.</p>
                            {% endblock %}
                        {% endembed %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
    {% block footer %}
        {% embed "@nds/03-organisms/global/global-footer/_global-footer-main.twig" %}
    {% endembed %}
{% endblock %}
{% endembed %}