{% include "@molecules/components/component-style-controls/_component-style-controls-main.twig" %}

{% embed "@nds/01-atoms/layouts/layouts-site/_layouts-site-main.twig" with
    {
        "layouts_site_id": "index"
    }
%}
    {% block header %}
        {% include "@nds/02-molecules/components/component-uswds-banner/_component-uswds-banner-main.twig" %}
        {% include "@organisms/global/global-header/_global-header-main.twig" with
            {
                "global_header_product_id_top": "Design System"
            }
        %}
    {% endblock %}
    {% block global_navigation %}
        {% include "@molecules/navigation/navigation-primary/_navigation-primary-main.twig" %}
        {% include "@molecules/navigation/navigation-drawer/_navigation-drawer-main.twig" with
            {
                "navigation_drawer_id": "main-navigation-mobile"
            }
        %}
        {% include "@nds/01-atoms/buttons/button-floating/_button-floating-main.twig" with
            {
                "button_floating_id": "custom-styles-toggle",
                "button_floating_icon": "palette",
                "button_floating_icon_weight": "l",
                "button_floating_text": "Customize Page Theme"
            }
        %}
    {% endblock %}
    {% block hero %}
        {% include "@organisms/heros/hero-home/_hero-home-main.twig" %}
    {% endblock %}
    {% block main %}
        {% embed "@atoms/layouts/layouts-main/_layouts-main-main.twig" with
            {
                "layouts_main_main": columns.main
            }
        %}
            {% block main_column %}
                {% embed "@nds/01-atoms/layouts/layouts-body/_layouts-body-main.twig" with
                    {
                        "layouts_body_vertical_padding": "no"
                    }
                %}
                    {% block body_content %}
                        {% embed "@nds/03-organisms/views/view-featured-content-cards/_view-featured-content-cards-main.twig" %}
                            {% block view_featured_content_cards_content %}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% include "@nds/02-molecules/blocks/block-featured-content-card/_block-featured-content-card-main.twig" with
                                                {
                                                    "block_featured_content_card_src": "feature-3.jpg",
                                                    "block_featured_content_card_alt": "Molecule",
                                                    "block_featured_content_card_title": "Migrate to NDS",
                                                    "block_featured_content_card_title_link": links.migrationGuide,
                                                    "block_featured_content_card_description": "Read more on how to migrate your existing site to NDS.",
                                                    "block_featured_content_card_featured": "FEATURED"
                                                }
                                            %}
                                        </div>
                                        {# <div class="col-md-6">
                                            {% include "@nds/02-molecules/blocks/block-featured-content-card/_block-featured-content-card-main.twig" with
                                                {
                                                    "block_featured_content_card_src": "policy-site.png",
                                                    "block_featured_content_card_alt": "Laptop on a tab.",
                                                    "block_featured_content_card_title": "NIAID Digital Policy Site",
                                                    "block_featured_content_card_title_link": "#",
                                                    "block_featured_content_card_description": "Learn about the broader world of digital policies spanning NIAID, NIH, & HHS.",
                                                    "block_featured_content_card_featured": "NDS WEBSITE"
                                                }
                                            %}
                                        </div> #}
                                        <div class="col-md-6">
                                            {% include "@nds/02-molecules/blocks/block-featured-content-card/_block-featured-content-card-main.twig" with
                                                {
                                                    "block_featured_content_card_src": "covpn.png",
                                                    "block_featured_content_card_alt": "CoVPN - Coronavirus Prevention Network",
                                                    "block_featured_content_card_title": "Coronavrius Prevention Network",
                                                    "block_featured_content_card_title_link": "https://www.coronaviruspreventionnetwork.org",
                                                    "block_featured_content_card_description": "The Coronavrius Prevention Network (CoVPN) strives to register volunteers to participate in vaccine trials.",
                                                    "block_featured_content_card_featured": "NDS WEBSITE"
                                                }
                                            %}
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        {% endembed %}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="home-content container-fluid">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2>What is a Design System?</h2>
                                                <p>A design system is a collection of web components and visual styles that are governed by a clear set of usage standards. These patterns and styles can be used and reused to build any number of web and mobile applications, ensuring that each digital property has a familiar look and feel. Major organizations in both the public and private sectors have leveraged design systems to ensure branding consistency, reduce development and design time, and, ultimately, serve their users more efficiently and effectively.</p>
                                                
                                                <h2>The NIAID Design System</h2>
                                                <p>The introduction of the <a href="https://designsystem.digital.gov/">United States Web Design System (USWDS)</a> by Digital.gov greatly aided the landscape of developing policy-compliant and user friendly federal websites. The National Institute of Allergy and Infectious Diseases (NIAID) wanted to create a similar platform that was specific to its branding and policy guidance. The NIAID Design System was created to meet this need, drawing on best practices from usability, accessibility, and design. <a href="{{ links.about }}">Find out more about NDS.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tout-block container-fluid my-4">
                                        <div class="row">
                                            <div class="tout col-sm-12 col-md-6 col-lg-6">
                                                {% include "@nds/01-atoms/icons/icon-circle/_icon-circle-main.twig" with
                                                    {
                                                        "icon_circle_icon": "shapes",
                                                        "icon_circle_icon_weight": "r"
                                                    }
                                                %}
                                                <h3 class="h6 mt-3">Component Library</h3>
                                                <p>Leverage flexible, responsive web components using any framework.</p>
                                                {% include "@nds/01-atoms/links/link-icon/_link-icon-main.twig" with
                                                    {
                                                        "link_icon_href": links.components,
                                                        "link_icon_text": "View Components",
                                                        "link_icon_type": "chevron-right",
                                                        "link_icon_weight": "l",
                                                        "link_icon_position": "right"
                                                    }
                                                %}
                                            </div>
                                            <div class="tout col-sm-12 col-md-6 col-lg-6">
                                                {% include "@nds/01-atoms/icons/icon-circle/_icon-circle-main.twig" with
                                                    {
                                                        "icon_circle_icon": "html5",
                                                        "icon_circle_icon_weight": "b"
                                                    }
                                                %}
                                                <h3 class="h6 mt-3">Static Site Builder</h3>
                                                <p>Rapidly build beautiful, policy-compliant static websites.</p>
                                                {% include "@nds/01-atoms/links/link-icon/_link-icon-main.twig" with
                                                    {
                                                        "link_icon_href": links.staticSiteBuilder,
                                                        "link_icon_text": "Get Started",
                                                        "link_icon_type": "chevron-right",
                                                        "link_icon_weight": "l",
                                                        "link_icon_position": "right"
                                                    }
                                                %}
                                            </div>
                                            <div class="tout mt-md-5 col-sm-12 col-md-6 col-lg-6">
                                                {% include "@nds/01-atoms/icons/icon-circle/_icon-circle-main.twig" with
                                                    {
                                                        "icon_circle_icon": "palette",
                                                        "icon_circle_icon_weight": "r"
                                                    }
                                                %}
                                                <h3 class="h6 mt-3">Theme Builder</h3>
                                                <p>Explore and personalize the NDS experience with Theme Builder.</p>
                                                {% include "@nds/01-atoms/links/link-icon/_link-icon-main.twig" with
                                                    {
                                                        "link_icon_href": links.themeBuilder,
                                                        "link_icon_text": "Use Theme Builder",
                                                        "link_icon_type": "chevron-right",
                                                        "link_icon_weight": "l",
                                                        "link_icon_position": "right"
                                                    }
                                                %}
                                            </div>
                                            <div class="tout mt-md-5 col-sm-12 col-md-6 col-lg-6">
                                                {% include "@nds/01-atoms/icons/icon-circle/_icon-circle-main.twig" with
                                                    {
                                                        "icon_circle_icon": "drupal",
                                                        "icon_circle_icon_weight": "b"
                                                    }
                                                %}
                                                <h3 class="h6 mt-3">NDS Drupal Theme</h3>
                                                <p>Use NDS to build multi-layered, content-heavy Drupal websites.</p>
                                                {% include "@nds/01-atoms/links/link-icon/_link-icon-main.twig" with
                                                    {
                                                        "link_icon_href": links.ndsDrupalTheme,
                                                        "link_icon_text": "Get Started",
                                                        "link_icon_type": "chevron-right",
                                                        "link_icon_weight": "l",
                                                        "link_icon_position": "right"
                                                    }
                                                %}
                                            </div>
                                        </div>
                                    </div>                              
                                    <div class="container-fluid">
                                        {% include "@molecules/blocks/block-updates/_block-updates-main.twig" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
    {% block footer %}
        {% include "@organisms/global/global-footer/_global-footer-main.twig" %}
    {% endblock %}
{% endembed %}