{% include "@molecules/components/component-style-controls/_component-style-controls-main.twig" %}

{% embed "@nds/01-atoms/layouts/layouts-site/_layouts-site-main.twig" with
    {
        "layouts_site_id": "index"
    }
%}
    {% block header %}
        {% include "@nds/02-molecules/components/component-uswds-banner/_component-uswds-banner-main.twig" %}
        {% include "@organisms/global/global-header/_global-header-main.twig" with
            {
                "global_header_product_id_top": "Design System"
            }
        %}
    {% endblock %}
    {% block global_navigation %}
        {% include "@molecules/navigation/navigation-primary/_navigation-primary-main.twig" %}
        {% include "@molecules/navigation/navigation-drawer/_navigation-drawer-main.twig" with
            {
                "navigation_drawer_id": "main-navigation-mobile"
            }
        %}
        {% include "@nds/01-atoms/buttons/button-floating/_button-floating-main.twig" with
            {
                "button_floating_id": "custom-styles-toggle",
                "button_floating_icon": "palette",
                "button_floating_icon_weight": "l",
                "button_floating_text": "Customize Page Theme"
            }
        %}
    {% endblock %}
    {% block hero %}
        {% include "@organisms/heros/hero-home/_hero-home-main.twig" %}
    {% endblock %}
    {% block main %}
        {% embed "@atoms/layouts/layouts-main/_layouts-main-main.twig" with
            {
                "layouts_main_main": columns.main
            }
        %}
            {% block main_column %}
                {% embed "@nds/01-atoms/layouts/layouts-body/_layouts-body-main.twig" with
                    {
                        "layouts_body_vertical_padding": "no"
                    }
                %}
                    {% block body_content %}
                        {% embed "@nds/03-organisms/views/view-featured-content-cards/_view-featured-content-cards-main.twig" %}
                            {% block view_featured_content_cards_content %}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4">
                                            {% include "@nds/02-molecules/blocks/block-featured-content-card/_block-featured-content-card-main.twig" with
                                                {
                                                    "block_featured_content_card_src": "feature-3.jpg",
                                                    "block_featured_content_card_alt": "Molecule",
                                                    "block_featured_content_card_title": "Getting Started with NDS",
                                                    "block_featured_content_card_title_link": link.getStarted,
                                                    "block_featured_content_card_description": "Read more on how to get started making a website with NDS.",
                                                    "block_featured_content_card_featured": "FEATURED"
                                                }
                                            %}
                                        </div>
                                        <div class="col-md-4">
                                            {% include "@nds/02-molecules/blocks/block-featured-content-card/_block-featured-content-card-main.twig" with
                                                {
                                                    "block_featured_content_card_src": "policy-site.png",
                                                    "block_featured_content_card_alt": "Laptop on a tab.",
                                                    "block_featured_content_card_title": "NIAID Digital Policy Site",
                                                    "block_featured_content_card_title_link": "#",
                                                    "block_featured_content_card_description": "Learn about the broader world of digital policies spanning NIAID, NIH, & HHS.",
                                                    "block_featured_content_card_featured": "NDS WEBSITE"
                                                }
                                            %}
                                        </div>
                                        <div class="col-md-4">
                                            {% include "@nds/02-molecules/blocks/block-featured-content-card/_block-featured-content-card-main.twig" with
                                                {
                                                    "block_featured_content_card_src": "covpn.png",
                                                    "block_featured_content_card_alt": "CoVPN - Coronavirus Prevention Network",
                                                    "block_featured_content_card_title": "Coronavrius Prevention Network",
                                                    "block_featured_content_card_title_link": "https://www.coronaviruspreventionnetwork.org",
                                                    "block_featured_content_card_description": "The Coronavrius Prevention Network (CoVPN) strives to register volunteers to participate in vaccine trials.",
                                                    "block_featured_content_card_featured": "NDS WEBSITE"
                                                }
                                            %}
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        {% endembed %}
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 p-0 col-md-8 mx-auto">
                                    {% embed "@molecules/components/component-scrollspy-section/_component-scrollspy-section-main.twig" with
                                        {
                                            "component_scrollspy_section_id": "section-overview"
                                        }
                                    %}
                                        {% block component_scrollspy_section_content %}
                                            <h2>Purpose</h2>
                                            <p>The overall goal of a design system is to bring consistency to digital properties within an organization. Design systems achieve this by standardizing a visual style, such as fonts and colors, and by providing guidance for how this visual style should be applied to website and application design. Furthermore, design systems translate this visual style into functional code snippets, called components or patterns, that developers can use to build websites and applications. When patterns are updated, all digital properties relying on them will update as well, ensuring that the look and feel remains unified as the visual style evolves.</p>

                                            <p>The NIAID Design System (NDS) includes design guidance on everything from typography and colors to image use and accessibility. The visual style of NDS is programmatically built on the principle of Atomic Design, powered by a framework called Pattern Lab. For more information about the development side of NDS, visit the Development page.</p>
                                        {% endblock %}
                                    {% endembed %}
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
    {% block footer %}
        {% embed "@nds/03-organisms/global/global-footer/_global-footer-main.twig" %}
    {% endembed %}
{% endblock %}
{% endembed %}