#index {
    .hero-image {
        max-width: 100%;
    }
    .layouts--body {
        padding: 0 1rem 2rem 1rem;
        .view--featured-content-cards {
            background: $page-background;
            .container-fluid {
                padding: 0;
                @include media-breakpoint-down(md) {
                    .col-md-6 {
                        padding-bottom: 2rem;
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }
            .block--featured-content-card {
                margin: 0;
                @include media-breakpoint-down(md) {
                    .block--featured-content-card__image {
                        height: auto;
                    }
                }
            }
        }
    }
}