.component--toast {
    @include md-24dp;
    position: fixed;
    z-index: $z-index-toast;
    top: $s-3;
    left: $s-3;
    max-width: 90vw;
    width: $s-20;
    background: $white;
    padding: $s-1;
    $toast-offset: -1 * $s-4;
    transform: translateY(-100%) translateY($toast-offset);
    &__title {
        font-weight: $font-weight-semibold;
        font-size: $s-1-25;
        line-height: $line-height-single;
        margin-bottom: $s-0-75;
    }
    &__message {
        line-height: $line-height-small;
    }
    &.success {
        border-left: $s-0-25 solid $status-success;
    }
    &.error {
        border-left: $s-0-25 solid $status-error;
    }
    &.information {
        border-left: $s-0-25 solid $status-information;
    }
    &.warning {
        border-left: $s-0-25 solid $status-warning;
    }
    &.show {
        display: block;
        transition: transform 1s;
        transform: translateY(0);
    }
    &.exit {
        transition: transform 1s;
        transform: translateX(-100%) translateX($toast-offset);
    }
}