.form--search {
    &__form {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        label {
            width: 100%;
        }
        .input--text--icon {
            display: inline-flex;
            flex-grow: 1;
            input {
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                border-right: 0;
            }
        }
        input[type="submit"] {
            @extend .button-nds;
            @extend .button--primary;
            display: inline-flex;
            line-height: initial;
            padding:  $s-0-50 $s-1-50;
            border-radius: 0;
            border: 0;
            margin-left: -1 * $s-1px;
            &:hover,
            &:focus {
                border: 0;
            }
        }
    }
}