{#
    ---
    title: Hero Block
    ---

    Type: Molecules -> Blocks

    Description:
        The Hero Block can be used to add substantial visual interest to web pages. The pattern features a Parallax effect courtesy of the Materialize library. When selecting imagery for the Hero block, we recommend images that do not feature people and faces. Due to the responsive requirement of websites today, using people-based images could result in faces being occluded or cut off on various screensizes. NDS recommends pattern-based imagery or imagery with simple subjects. The Hero Block pattern optionally includes the ability to add breadcrumbs to the top.

        The Hero Block pattern requires developers to pass images to "block_hero_image" as a block statement. Refer to the demo pattern for an example.

    Dependencies:
        In order to use this component, you must include the following libraries in addition to the NDS Global JS:
            - Materialize
    
    Blocks:
        {% block block_hero_image %}: The hero image, passed in as a <img> tag.

    Parameters:
        block_hero_classes - Additional hero classes.
        block_hero_id: Hero ID.
        block_hero_overlay_color: An optional class used to apply a color to the hero overlay. This class must contain a background color with an opacity less than 1.

    Last Updated: August 11, 2021
#}

{% set block_hero_classes = block_hero_classes|default() %}
{% set block_hero_id = block_hero_id|default() %}
{% set block_hero_overlay_color = block_hero_overlay_color|default() %}

<div id="block--hero" class="block-nds block--hero {{ block_hero_classes }}"{% if block_hero_id is not empty %} id="{{ block_hero_id }}"{% endif %}>
    <div class="block--hero__content">
        <div class="parallax-container {{ block_hero_overlay_color }}">
            <div class="parallax">
                {% block block_hero_image %}{% endblock %}
            </div>
        </div>
    </div>
</div>