.block--hero {
    display: none;
    position: relative;
    overflow: hidden;
    border: 0;
    padding: 0;
    z-index: $z-index-baseline;
    .parallax-container {
        position: relative;
        overflow: hidden;
        min-height: $s-15;
        .parallax {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: $z-index-below-baseline;
            div,
            article {
                height: 100%;
            }
            img {
                opacity: 0;
                position: absolute;
                left: 50%;
                bottom: 0;
                min-width: 100%;
                min-height: 100%;
                max-width: 100%;
                object-fit: cover;
                transform: translate3d(0,0,0);
                transform: translateX(-50%);
            }
        }
        .row {
            max-width: 900px;
            margin: 0 auto;
            @include media-breakpoint-up(sm) {
                margin: 0 $s-1;
            }
            @include media-breakpoint-up(md) {
                margin: 0 $s-2;
            }
            @include media-breakpoint-up(lg) {
                margin: 0 $s-3;
            }
            @include media-breakpoint-up(xl) {
                margin: 0 auto;
            }
            .block--hero__content__main__content {
                margin: 0 auto;
            }
        }
        .block--hero__content {
            &__breadcrumbs {
                .col-xl-12 {
                    padding: $s-0-50 $s-3;
                    a, i {
                        color: $white;
                    }
                    a {
                        border-bottom: $s-1px solid $white;
                    }
                }
            }
        }
    }
}