.block--hero {
    display: none;
    position: relative;
    overflow: hidden;
    border: 0;
    padding: 0;
    z-index: $z-index-baseline;

    .row {
        max-width: 900px;
        margin: 0 auto;
        @include media-breakpoint-up(sm) {
            margin: 0 $s-1;
        }
        @include media-breakpoint-up(md) {
            margin: 0 $s-2;
        }
        @include media-breakpoint-up(lg) {
            margin: 0 $s-3;
        }
        @include media-breakpoint-up(xl) {
            margin: 0 auto;
        }
        
        .block--hero__content__main__content {
            margin: 0 auto;
        }
    }
}

.block--hero__content {
    min-height: 12rem;
    overflow: hidden;
    position: relative;

    img {
        left: 50%;
        width: auto;
        height: auto;
        max-width: 100%;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.block--hero__content__breadcrumbs {
    .col-xl-12 {
        padding: $s-0-50 $s-3;

        a, i {
            color: $white;
        }

        a {
            border-bottom: $s-1px solid $white;
        }
    }
}
