.text--search-results {
    width: 100%;
    border-bottom: $s-1px solid $input-border;
    padding: 0 0 .25rem 0;
    margin: $s-1 0;
    &__title {
        margin: 0;
        padding: 0;
        line-height: 1.0;
        &__number {
            font-size: $s-1-50;
        }
        &__text {
            margin-left: -.25rem;
            font-size: $s-1;
        }
    }
}