.navigation--local {
    &__title {
        font-size: 1rem;
        margin: .5rem 0;
    }
    hr {
        margin: .5rem 0;
    }
    .is-active {
        font-weight: $fw-bold;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .card {
        border-radius: 0;
        border: none;
        .card-header {
            display: flex;
            align-items: center;
            padding: 0;
            border-radius: 0;
            border: 0;
            background: none;
            &.active-page {
                font-weight: $font-weight-semibold;
            }
            .card-header-text {
                display: inline-flex;
                .p-card-header {
                    padding: .5rem;
                    text-align: left;
                    .text-link,
                    a {
                        color: $link-color !important;
                        width: 100%;
                        border-bottom: 1px solid transparent;
                        &:hover,
                        &:focus {
                            @include link-border;
                        }
                    }
                    p {
                        margin: 0;
                    }
                }
            }
            .card-header-button {
                display: inline-flex;
                margin-left: auto;
                .arrow {
                    text-align: left;
                    padding-left: 10px;
                    padding-right: 10px;
                    .accordion-arrow {
                        position: relative;
                        margin: 0 auto;
                        top: 50%;
                        transform: translateY(-50%);
                        color: $orange;
                        @include fa-icon;
                        display: block;
                        @extend .fal;
                        border: 0;
                        cursor: pointer;
                    }
                }
            }
        }
        .card-header[aria-expanded="true"] .accordion-arrow {
            &::before {
                content: fa-content($fa-var-chevron-down);
            }
        }
        .card-header[aria-expanded="false"] .accordion-arrow {
            &::before {
                content: fa-content($fa-var-chevron-right);
            }
        }
        .collapse,
        .collapsing {
            .card-body {
                padding: 0;
            }
        }
        .level-0 {
            .p-card-header {
                margin-left: 0rem !important;
            }
        }
        .level-1 {
            .p-card-header {
                margin-left: .5rem !important;
            }
        }
        .level-2 {
            .p-card-header {
                margin-left: 1rem !important;
            }
        }
        .level-3 {
            .p-card-header {
                margin-left: 1.5rem !important;
            }
        }
    }
}