{% set component_accordion_classes = component_accordion_classes|default() %}
{% set component_accordion_id = component_accordion_id|default() %}

<div class="component-nds component--accordion {{ component_accordion_classes }}" id="{{ component_accordion_id }}">
    {% block component_accordion_content %}{% endblock %}
</div>