.block--wtph {
    border: 0;
    margin: 1rem 0;
    padding: 2rem;
    border-top: 0.0625rem solid $input-border;
    border-bottom: 0.0625rem solid $input-border;
    &__inner {
        text-align: center;
        &__title {
            margin-top: 0;
        }
        .button--primary {
            margin: 0 .25rem;
        }
    }
}