.layouts--main {
    @extend .row;
    margin: 0 auto;
    max-width: $layout-main-max-width;
    padding: 0;
    position: relative;
    width: 100%;
    @include media-breakpoint-up($layout-mobile-menu-breakpoint) {
        padding: 0 ($s-main-spacer / 2);
    }
    &__column {
        padding: 0;
        margin: 0 auto;
        @include media-breakpoint-up($layout-mobile-menu-breakpoint) {
            padding: 0 ($s-main-spacer / 2);
        }
    }
    &.layouts--main--no-left {
        padding-left: 0;
        .layouts--body {
            padding-left: 0;
        }
    }
    &.layouts--main--no-right {
        padding-right: 0;
        .layouts--body {
            padding-right: 0;
        }
    }
}