.layouts--main {
    @extend .row;
    margin: 0 auto;
    max-width: $layout-main-max-width;
    padding: 0;
    width: 100%;
    @include media-breakpoint-up($layout-mobile-menu-breakpoint) {
        padding: 0 ($s-main-spacer / 2);
    }
    &__column {
        padding: 0;
        margin: 0 auto;
        @include media-breakpoint-up($layout-mobile-menu-breakpoint) {
            padding: 0 ($s-main-spacer / 2);
        }
    }
}