{#
    ---
    title: Event Block
    ---

    Type: Molecules -> Blocks

    Description:
        The Event Block is a component that allows users to present an event in a block format. The Event Block optionally supports a heading, date, link, and description.

    Parameters:
        block_event_classes: Additional classes for block wrapper.
        block_event_day: Text to indicate the day of the event.
        block_event_month: Text to indicate the month of the event.
        block_event_link_text: Heading text to label the block.
        block_event_link_href: URL destination for the event block.
        block_event_description: A description of the event.

    Includes:
        Atoms -> Text -> text-date
        Atoms -> Links -> link-default

    Last Updated: June 15, 2023
#}

{% set block_event_classes = block_event_classes|default() %}
{% set block_event_day = block_event_day|default() %}
{% set block_event_month = block_event_month|default() %}
{% set block_event_link_text = block_event_link_text|default() %}
{% set block_event_link_href = block_event_link_href|default() %}
{% set block_event_description = block_event_description|default() %}

<div class="block-nds block--event {{ block_event_classes }}">
    {% if block_event_day is not empty %}
        {% include "@nds/01-atoms/text/text-date/_text-date-main.twig" with
            {
                "text_date_day": block_event_day,
                "text_date_month": block_event_month
            }
        %}
    {% endif %}
    <div class="block--date__content">
        {% if block_event_link_href is not empty %}
            <h3>
                {% include "@nds/01-atoms/links/link-default/_link-default-main.twig" with
                    {
                        "link_default_text": block_event_link_text,
                        "link_default_href": block_event_link_href,
                    }
                %}
            </h3>
        {% endif %}
        {% if block_event_description is not empty %}<p>{{ block_event_description }}</p>{% endif %}
    </div>
</div>
