{% set block_colors_classes = block_colors_classes|default() %}

<div class="block-nds block--colors {{ block_colors_classes }}">
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "Heading Color",
            "global_color_indicator_hex": colors.global.type_heading
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "Body Color",
            "global_color_indicator_hex": colors.global.type_body
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "Link Color",
            "global_color_indicator_hex": colors.global.type_link
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "Visited Link Color",
            "global_color_indicator_hex": colors.global.type_link_visited
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "Input Border",
            "global_color_indicator_hex": colors.global.input_border
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_classes": "global--color-indicator--bg",
            "global_color_indicator_title": "Page Background",
            "global_color_indicator_hex": colors.global.page_background
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_classes": "global--color-indicator--bg",
            "global_color_indicator_title": "Alternate Background",
            "global_color_indicator_hex": colors.global.page_background_alternate
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "Success Color",
            "global_color_indicator_hex": colors.global.status_success
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "Error Color",
            "global_color_indicator_hex": colors.global.status_error
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_title": "NIAID Blue",
            "global_color_indicator_hex": colors.global.niaid_blue
        }
    %}
    <hr>
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_classes": "indicator-color--1",
            "global_color_indicator_title": "Theme Color 1",
            "global_color_indicator_hex": colors.theme_1.primary
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_classes": "indicator-color--2",
            "global_color_indicator_title": "Theme Color 2",
            "global_color_indicator_hex": colors.theme_1.secondary
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_classes": "indicator-color--3",
            "global_color_indicator_title": "Theme Color 3",
            "global_color_indicator_hex": colors.theme_1.tertiary
        }
    %}
    {% include "@atoms/global/global-color-indicator/_global-color-indicator-main.twig" with
        {
            "global_color_indicator_classes": "indicator-color--4",
            "global_color_indicator_title": "Theme Color Accent",
            "global_color_indicator_hex": colors.theme_1.accent
        }
    %}
</div>