{% set input_date_picker_classes = input_date_picker_classes|default() %}
{% set input_date_picker_id = input_date_picker_id|default() %}
{% set input_date_picker_placeholder = input_date_picker_placeholder|default('MM/DD/YYYY') %}
{% set input_date_picker_disabled = input_date_picker_disabled|default() %}
{% set input_date_picker_readonly = input_date_picker_readonly|default() %}
{% set input_date_picker_required = input_date_picker_required|default() %}

<div class="input-nds input--date-picker {{ input_date_picker_classes }}">
    <input id="{{ input_date_picker_id }}" class="input--date-picker__field" type="text" nds-date-picker="true" {% if input_date_picker_placeholder is not empty %} placeholder="{{ input_date_picker_placeholder }}"{% endif %}{% if input_date_picker_disabled == "true" %} disabled{% endif %}{% if input_date_picker_readonly == "true" %} readonly{% endif %}{% if input_date_picker_required == "true" %} required{% endif %}>
    <div class="input--date-picker__wrapper">
        {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
            {
                "icon_default_type": "calendar",
                "icon_default_weight": "l"
            }
        %}
    </div>
</div>