{% set block_wtph_classes = block_wtph_classes|default() %}

<div class="block-nds block--wtph {{ block_wtph_classes }}">
    <div class="block--wtph__inner">
        <h2 class="block--wtph__inner__title">Was This Page Helpful?</h2>
        {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
            {
                "button_default_classes": "block--wtph__inner__button",
                "button_default_type": "secondary",
                "button_default_label": "Yes"
            }
        %}
        {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
            {
                "button_default_classes": "block--wtph__inner__button",
                "button_default_type": "secondary",
                "button_default_label": "No"
            }
        %}
    </div> 
</div>