.block--wtph {
    border: 0;
    margin: $s-2 0;
    padding: $s-2;
    border-top: $s-1px solid $input-border;
    border-bottom: $s-1px solid $input-border;
    &__inner {
        text-align: center;
        &__title {
            font-size: $s-1-50;
            margin: 0 0 $s-1-25 0;
        }
        &__button {
            margin: 0 .5rem;
        }
    }
}