.input-nds {
    line-height: $line-height-default;
    input {
        line-height: $line-height-default;
    }
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &::-ms-placeholder,
    &::placeholder {
        color: $input-placeholder;
    }
}