{#
    ---
    title: Accordion Component
    ---

    Type: Molecules -> Components

    Description:
        Accordions are web components that separate a large amount of content into toggleable sections, thereby reducing the overall page length and allowing the user to focus on individual pieces of content at a time.

        The Accordion pattern is simply a wrapper designed to container Bootstrap Accordion markup. Please reference the demo or Bootstrap's Collapse Documentation for more information.

    Dependencies:
        In order to leverage the full capabilities of this component, you must include the following libraries in addition to the NDS Global JS:
            - Bootstrap 4
            - jQuery

    Blocks:
        {% block component_accordion_content %}: The Bootstrap markup for accordions.

    Parameters:
        component_accordion_classes: Additional accordion classes.
        component_accordion_id: Accordion ID.

    Last Updated: January 22, 2021
#}

{% set component_accordion_classes = component_accordion_classes|default() %}
{% set component_accordion_id = component_accordion_id|default() %}

<div class="component-nds component--accordion {{ component_accordion_classes }}" id="{{ component_accordion_id }}">
    {% block component_accordion_content %}{% endblock %}
</div>