.component--accordion {
    &__card {
        @extend .card;
        overflow: visible;
        width: 100%;
        border: 0;
        margin-bottom: .5rem;
        &__header {
            @extend .card-header;
            padding: 0;
            border: 0;
            background-color: transparent;
            h1, h2, h3, h4, h5, h6 {
                margin: 0;
                padding: 0;
            }
            &__button {
                border: .0625rem solid $type-link;
                font-size: 1rem;
                background: $white;
                padding: 1rem 2.5rem 1rem 1rem;
                width: 100%;
                text-align: left;
                color: $type-link;
                white-space: normal;
                position: relative;
                &:after {
                    @include fa-icon;
                    @extend .far;
                    position: absolute;
                    margin-right: 1rem;
                    right: 0;
                    color: $color-theme-1-1-1;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:hover,
                &:focus {
                    background: $type-link;
                    border: .0625rem solid $type-link;
                    &:after {
                        color: $white;
                    }
                }
                &[aria-expanded="false"]:after {
                    content: fa-content($fa-var-chevron-right);
                }
                &[aria-expanded="true"]:after {
                    content: fa-content($fa-var-chevron-down);
                }
            }
        }
        &__body {
            @extend .card-body;
            @extend .block-nds;
            padding: 2.25rem 1.25rem 1.25rem 1.25rem;
            margin-top: -1rem;
            border-top: 0 !important;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            & > *:first-child {
                margin-top: 0;
            }
            & > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}