.component--accordion {
    &__card {
        @extend .card;
        overflow: visible;
        width: 100%;
        border: 0;
        margin-bottom: $s-0-50;
        &__header {
            @extend .card-header;
            z-index: 1;
            padding: 0;
            border: 0;
            background-color: transparent;
            h1, h2, h3, h4, h5, h6 {
                margin: 0;
                padding: 0;
            }
            &__button {
                border: $s-1px solid $type-link;
                font-size: $s-1;
                background: $white;
                padding: $s-1 $s-2-50 $s-1 $s-1;
                width: 100%;
                text-align: left;
                color: $type-link;
                white-space: normal;
                position: relative;
                &:after {
                    @extend %fa-icon;
                    @extend .fas;
                    position: absolute;
                    margin-right: $s-1;
                    right: 0;
                    color: var(--color-theme-primary);
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:hover,
                &:focus {
                    background: $type-link;
                    border: $s-1px solid $type-link;
                    &:after {
                        color: $white;
                    }
                }
                &[aria-expanded="false"]:after {
                    content: fa-content($fa-var-chevron-right);
                }
                &[aria-expanded="true"]:after {
                    content: fa-content($fa-var-chevron-down);
                }
            }
        }
        &__body {
            @extend .card-body;
            @extend .block-nds;
            z-index: 0;
            padding: $s-2-25 $s-1-25 $s-1-25 $s-1-25;
            margin-top: -1 * $s-1;
            border-top: 0 !important;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            & > *:first-child {
                margin-top: 0;
            }
            & > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}