.form--controls {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: flex;
            margin: 1rem 0;
            span {
                margin-left: .5rem;
            }
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            [type="radio"]:checked+label,
            [type="radio"]:not(:checked)+label {
                position: relative;
                cursor: pointer;
                padding-left: 2rem;
                margin: 0;
            }
            [type="radio"]:checked+label:before,
            [type="radio"]:not(:checked)+label:before {
                content: '';
                display: block;
                position: absolute;
                flex-shrink: 0;
                left: 0;
                top: 0;
                width: 2rem;
                height: 2rem;
                background: $white;
                border-radius: 100%;
            }
            [type="radio"]:checked+label:after,
            [type="radio"]:not(:checked)+label:after {
                content: '\f00c';
                font-family: "Font Awesome\ 5 Pro";
                font-weight: $font-weight-light;
                font-size: 0.8em;
                color: $white;
                text-align: center;
                height: 1.8rem;
                width: 1.8rem;
                border-radius: 100%;
                background: #20558a;
                /* Old browsers */
                /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwNTU4YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjNhNWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                background: -moz-linear-gradient(top, #20558a 0%, #163a5f 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #20558a 0%, #163a5f 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #20558a 0%, #163a5f 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20558a', endColorstr='#163a5f', GradientType=0);
                /* IE6-8 */
                background-position: center;
                position: absolute;
                top: .1rem;
                left: .1rem;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
            [type="radio"]:not(:checked)+label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked+label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }
}