.style--body--public-sans {
    button,
    input,
    a,
    p,
    ul,
    ol,
    span,
    div {
        font-family: $font-stack-public-sans;
    }
    ::-webkit-input-placeholder {
        font-family: $font-stack-public-sans;
    }
    :-moz-placeholder,
    ::-moz-placeholder {
        font-family: $font-stack-public-sans;
    }
    :-ms-input-placeholder {
        font-family: $font-stack-public-sans;
    }
    :-moz-placeholder {
        font-family: $font-stack-public-sans;
    }
}

.style--body--roboto {
    button,
    input,
    a,
    p,
    ul,
    ol,
    span,
    div {
        font-family: $font-stack-roboto;
    }
    ::-webkit-input-placeholder {
        font-family: $font-stack-roboto;
    }
    :-moz-placeholder,
    ::-moz-placeholder {
        font-family: $font-stack-roboto;
    }
    :-ms-input-placeholder {
        font-family: $font-stack-roboto;
    }
    :-moz-placeholder {
        font-family: $font-stack-roboto;
    }
}