.style--hero {
    .layouts--main {
        @include media-breakpoint-up(sm) {
            margin-top: -$s-2;
        }
    }
    .block--hero {
        display: block;
    }
    &.style--corners--semirounded,
    &.style--corners--rounded {
        $corner-radius: $s-1;
        .layouts--main {
            @include media-breakpoint-up($layout-mobile-menu-breakpoint) {
                border-top-left-radius: $corner-radius;
                border-top-right-radius: $corner-radius;
            }
        }
    }
}