.style--shadows {
    background: $page-background-alternate;
    /* Atoms */
    .button-nds,
    button {
        @include hoverable;
        &.disabled,
        &:disabled,
        &[disabled] {
            box-shadow: none !important;
            &:hover,
            &:focus,
            &:active {
                box-shadow: none !important;
            }
        }
    }
    .button-nds {
        &.button--primary {
            &:hover,
            &:focus,
            &:active {
                background: $color-theme-1-1-1;
                border: $s-1px solid $color-theme-1-1-1;
            }
        }
        &.button--secondary {
            &:hover,
            &:focus,
            &:active {
                background: $color-theme-1-1-1;
                border: $s-1px solid $color-theme-1-1-1;
            }
        }
        &.button--tertiary {
            &:hover,
            &:focus,
            &:active {
                background: $color-theme-1-2-1;
                border: $s-1px solid $color-theme-1-2-1;
            }
        }
        &.button--negative {
            &:hover,
            &:focus,
            &:active {
                background: $status-error;
                border: $s-1px solid $status-error;
            }
        }
        &.button--floating {
            @include shadow-high;
        }
    }
    .input-nds {
        &.input--select {
            .select2-container {
                .select2-selection  {
                    @include shadow-low;
                    @include hoverable;
                    border: $border-transparent !important;
                }
                .single-clear {
                    @include shadow-none;
                    &:hover,
                    &:focus {
                        @include shadow-none;
                    }
                }
            }
        }
        &.input--text {
            @include shadow-low;
            @include hoverable;
            border: $border-transparent;
            &:focus {
                border: $s-1px solid $type-link;
                // shadow-block-hover + Focus Ring
                -webkit-box-shadow: 0 10px 24px 0 rgba(0,0,0,0.24),
                0 0 0 $s-1px $type-link !important;
                -moz-box-shadow: 0 10px 24px 0 rgba(0,0,0,0.24),
                0 0 0 $s-1px $type-link !important;
                box-shadow: 0 10px 24px 0 rgba(0,0,0,0.24),
                0 0 0 $s-1px $type-link !important;
            }
        }
        &.input--date-picker {
            .input--date-picker__field {
                @include shadow-low;
                @include hoverable;
                border: $border-transparent;
                &:focus {
                    border: $s-1px solid $type-link;
                    // shadow-block-hover + Focus Ring
                    -webkit-box-shadow: 0 10px 24px 0 rgba(0,0,0,0.24),
                    0 0 0 $s-1px $type-link !important;
                    -moz-box-shadow: 0 10px 24px 0 rgba(0,0,0,0.24),
                    0 0 0 $s-1px $type-link !important;
                    box-shadow: 0 10px 24px 0 rgba(0,0,0,0.24),
                    0 0 0 $s-1px $type-link !important;
                }
            }
        }
    }
    .layouts-nds {
        &.layouts--body {
            @include shadow-medium;
        }
    }
    .select2-container {
        .select2-dropdown {
            @include shadow-high;
            border: 0;
        }
    }
    /* Molecules */
    .block-nds {
        @include shadow-low;
        border: 0;
        background: $white;
        &.block--default {
            &.block--default--accent {
                border-left: $s-0-25 solid $color-theme-1-accent;
            }
        }
        &.block--alert {
            @include shadow-none;
            background: $alert-severity-1;
            &.severity--2 {
                background: $alert-severity-2;
            }
            &.severity--3 {
                background: $alert-severity-3;
            }
            &.severity--4 {
                background: $alert-severity-4;
            }
        }
        &.block--callout {
            background: $white;
        } 
        &.block--error,
        &.block--header,
        &.block--inputs,
        &.block--colors,
        &.block--search-chips,
        &.block--share {
            @include shadow-none;
            background: transparent;
        }
        &.block--status-message {
            .block--status-message__icon {
                @include shadow-low;
            }
        }
        &.block--wtph {
            @include shadow-none;
            border-top: $s-1px solid $border-light;
            border-bottom: $s-1px solid $border-light;
        }
    }
    .component-nds {
        &.component--accordion {
            .component--accordion__card {
                &__header {
                    &__button {
                        @include shadow-low;
                        @include hoverable;
                        border: $s-1px solid $white;
                        color: $type-link;
                        &:hover,
                        &:focus {
                            border: $s-1px solid $white;
                            background: $white;
                            &:after {
                                color: $color-theme-1-1-1;
                            }
                        }
                    }
                }
            }
        }
        &.component--uswds-banner {
            .component--uswds-banner__toggle {
                @include shadow-none;
            }
        }
    }
    .block-facet--checkbox {
        @include shadow-none;
        background: transparent;
    }
    .form-nds {
        .form--search {
            &__form {
                .input--text--icon {
                    input,
                    .input--text {
                        @include shadow-none(!important);
                    }
                }
                input[type="submit"] {
                    &:hover,
                    &:focus {
                        border: 0;
                    }
                }
            }
        }
    }
    .navigation-nds {
        &.navigation--pagination {
            .pager {
                .pager__items {
                    .pager__item {
                        &.active,
                        &.is-active {
                            a {
                                background: $color-theme-1-1-1;
                                border: $s-1px solid $color-theme-1-1-1;
                                @include shadow-none;
                                &:hover,
                                &:focus {
                                    color: $white;
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.navigation--local,
        &.navigation--page-contents {
            @include shadow-medium;
            border: 0;
        }
        &.navigation--dropdown {
            .navigation--dropdown {
                &__menu {
                    @include shadow-high;
                }
            }
        }
        &.navigation--mobile-rail {
            .navigation--mobile-rail__button {
                @include shadow-low;
                @include hoverable;
                background: $white;
                border-bottom-color: transparent;
                &:hover,
                &:focus {
                    color: $white;
                    background: $color-theme-1-1-1;
                }
            }
        }
    }
    /* Organisms */
    .global-nds {
        &.global--header {
            border-bottom: 0;
            @include shadow-low;
            @include media-breakpoint-up($layout-mobile-menu-breakpoint) {
                @include shadow-none;
            }
            &__button {
                border: 0;
            }
        }
        &.global--footer {
            .block-nds {
                @include shadow-none;
                background: transparent;
            }
        }
    }
    &.style--colors--theme-2 {
        .button--primary {
            &:hover,
            &:focus,
            &:active {
                background: $color-theme-2-1-1;
                border: $s-1px solid $color-theme-2-1-1;
            }
        }
        .button--secondary {
            &:hover,
            &:focus,
            &:active {
                background: $color-theme-2-1-1;
                border: $s-1px solid $color-theme-2-1-1;
            }
        }
        .button--tertiary {
            &:hover,
            &:focus,
            &:active {
                background: $color-theme-2-2-1;
                border: $s-1px solid $color-theme-2-2-1;
            }
        }
        .button--negative {
            &:hover,
            &:focus,
            &:active {
                background: $status-error;
                border: $s-1px solid $status-error;
            }
        }
        .block-nds {
            &.block--default {
                &.block--default--accent {
                    border-left: $s-0-25 solid $color-theme-2-accent;
                }
            }
        }
        .component-nds {
            &.component--accordion {
                .component--accordion__card {
                    &__header {
                        &__button {
                            &:hover,
                            &:focus {
                                &:after {
                                    color: $color-theme-2-1-1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navigation-nds {
            &.navigation--pagination {
                .pager {
                    .pager__items {
                        .pager__item {
                            &.active,
                            &.is-active {
                                a {
                                    background: $color-theme-2-1-1;
                                    border: $s-1px solid $color-theme-2-1-1;
                                }
                            }
                        }
                    }
                }
            }
            &.navigation--mobile-rail {
                .navigation--mobile-rail__button {
                    &:hover,
                    &:focus {
                        color: $white;
                        background: $color-theme-2-1-1;
                    }
                }
            }
        }
    }
    &.style--colors--theme-3 {
        .button--primary {
            &:hover,
            &:focus,
            &:active {
                background: $color-theme-3-1-1;
                border: $s-1px solid $color-theme-3-1-1;
            }
        }
        .button--secondary {
            &:hover,
            &:focus,
            &:active {
                background: $color-theme-3-1-1;
                border: $s-1px solid $color-theme-3-1-1;
            }
        }
        .button--tertiary {
            &:hover,
            &:focus,
            &:active {
                background: $color-theme-3-2-1;
                border: $s-1px solid $color-theme-3-2-1;
            }
        }
        .button--negative {
            &:hover,
            &:focus,
            &:active {
                background: $status-error;
                border: $s-1px solid $status-error;
            }
        }
        .block-nds {
            &.block--default {
                &.block--default--accent {
                    border-left: $s-0-25 solid $color-theme-3-accent;
                }
            }
        }
        .component-nds {
            &.component--accordion {
                .component--accordion__card {
                    &__header {
                        &__button {
                            &:hover,
                            &:focus {
                                &:after {
                                    color: $color-theme-3-1-1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navigation-nds {
            &.navigation--pagination {
                .pager {
                    .pager__items {
                        .pager__item {
                            &.active,
                            &.is-active {
                                a {
                                    border: $s-1px solid $color-theme-3-1-1;
                                    background: $color-theme-3-1-1;
                                }
                            }
                        }
                    }
                }
            }
            &.navigation--mobile-rail {
                .navigation--mobile-rail__button {
                    &:hover,
                    &:focus {
                        color: $white;
                        background: $color-theme-3-1-1;
                    }
                }
            }
        }
    }
}