{% set layouts_body_classes = layouts_body_classes|default() %}
{% set layouts_body_vertical_padding = layouts_body_vertical_padding|default('yes') %}

<div class="layouts-nds layouts--body {{ layouts_body_classes }}{{ layouts_body_vertical_padding != 'yes' ? 'layouts--body--no-vertical-padding' }}">
    {% block body_content %}{% endblock %}
</div>