.builder--controls-accordion {
    &__button {
        cursor: pointer;
        padding: 1rem 0;
        background: transparent !important;
        border: 0 !important;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        box-shadow: none !important;
        &__title {
            margin: 0;
        }
        &__arrow {
            @include md-1dp;
            @extend .hoverable;
            border-radius: 100%;
            height: 3rem;
            width: 3rem;
            background: #464C50;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            &__icon {
                align-items: center;
                display: block;
                @extend %fa-icon;
                @extend .fal;
            }
        }
        &:hover,
        &:focus {
            background: transparent !important;
            border: 0 !important;
        }
    }
    .builder--controls-accordion__button[aria-expanded="true"] {
        .builder--controls-accordion__button__arrow {
            &__icon {
                &::before {
                    content: fa-content($fa-var-chevron-down);
                }
            }
        }
    }
    .builder--controls-accordion__button[aria-expanded="false"] {
        .builder--controls-accordion__button__arrow {
            &__icon {
                &::before {
                    content: fa-content($fa-var-chevron-right);
                }
            }
        }
    }
    &__content {
        padding: 0 0 1rem 0;
    }
}