{% set component_branding_classes = component_branding_classes|default() %}
{% set component_branding_href = component_branding_href|default('/') %}
{% set component_branding_logo_src = component_branding_logo_src|default('global/niaid/logo-niaid.svg') %}
{% set component_branding_logo_alt = component_branding_logo_alt|default('NIAID Logo') %}
{% set component_branding_logo_mobile_src = component_branding_logo_mobile_src|default('global/niaid/logo-niaid-mobile.svg') %}
{% set component_branding_logo_mobile_alt = component_branding_logo_mobile_alt|default('NIAID Logo') %}
{% set component_branding_identity_top = component_branding_identity_top|default() %}
{% set component_branding_identity_bottom = component_branding_identity_bottom|default() %}

<a href="{{ component_branding_href }}" class="component-nds component--branding {{ component_branding_classes }}">
    {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
        {
            "image_default_classes": "component--branding__logo--desktop",
            "image_default_src": component_branding_logo_src,
            "image_default_alt": component_branding_logo_alt
        }
    %}
    {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
        {
            "image_default_classes": "component--branding__logo--mobile",
            "image_default_src": component_branding_logo_mobile_src,
            "image_default_alt": component_branding_logo_mobile_alt
        }
    %}
    <div class="component--branding__vertical-bar"></div>
    {% include "@nds/02-molecules/components/component-product-identity/_component-product-identity-main.twig" with
        {
            "component_product_identity_top": component_branding_identity_top,
            "component_product_identity_bottom": component_branding_identity_bottom
        }
    %}
</a>