.input-nds {
    line-height: $line-height-default;
    input {
        line-height: $line-height-default;
    }
    &::-webkit-input-placeholder {
        color: $input-placeholder;
    }
    
    &::-moz-placeholder {
        color: $input-placeholder;
    }
    
    &::-ms-placeholder {
        color: $input-placeholder;
    }
    
    &::placeholder {
        color: $input-placeholder;
    }
}