{% set layouts_tabs_classes = layouts_tabs_classes|default() %}

<div class="layouts-nds layouts--tabs {{ layouts_tabs_classes }}">
    <button id="tab--mockup" class="layouts--tabs__tab active-tab" aria-label="View Mockup">Mockup</button>
    <button id="tab--style-tile" class="layouts--tabs__tab" aria-label="View Style Tile">Style Tile</button>
    <div id="layouts--tabs__mockup" class="layouts--tabs__window">
        {% block layouts_tabs_mockup_content %}{% endblock %}
    </div>
    <div id="layouts--tabs__style-tile" class="layouts--tabs__window">
        {% block layouts_tabs_style_title_content %}{% endblock %}
    </div>
</div>