.layouts--tabs {
    #layouts--tabs__style-tile {
        display: none;
    }
    &__tab {
        border-radius: .5rem .5rem 0 0;
        border: 0.0625rem solid $white;
        background: transparent !important;
        color: $white;
        font-size: 1.25rem;
        padding: .75rem 3rem;
        margin-bottom: -0.0625rem;
        z-index: $z-index-above-baseline;
        position: relative;
        cursor: pointer;
        &.active-tab {
            background: $white !important;
            color: $type-body !important;
            font-weight: $font-weight-bold;
            cursor: initial;
        }
        &:hover,
        &:focus {
            color: $white;
            border: 0.0625rem solid $white;
        }
    }
    &__window {
        >.layouts--body {
            @include md-16dp;
            z-index: $z-index-baseline;
            position: relative;
        }
    }
}