.block--search-result {
    & > *:last-child {
        margin-bottom: 0;
    }
    &__top {
        margin-bottom: $s-1;
        @include media-breakpoint-up(sm) {
            display: flex;
            flex-wrap: nowrap;
        }
        @include media-breakpoint-down(xs) {
            display: block;
        }
        &__icon {
            margin-right: $s-1-50;
            margin-bottom: $s-1;
        }
        &__text {
            h2,
            &__title {
                @include font-size($s-1-50);
                letter-spacing: normal;
                margin: 0;
            }
            &__url {
                color: $grey-700;
                font-size: $s-0-75;
                word-break: break-all;
            }
            &__metadata {
                font-size: $s-0-75;
            }
        }
    }
    &__last-reviewed {
        margin-top: $s-1;
    }
}