.block--featured-content-card {
    max-width: 100%;
    padding: 0;
    background: $white;
    flex: 1;
    height: 100%;
    overflow: hidden;
    &__image {
        height: 15rem;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &.compat-object-fit {
            background-size: cover;
            background-position: center center;
        }
        /* Drupal Overrides */
        div,
        article,
        picture {
            height: 100%;
            width: 100%;
        }
        .field--name-field-media-caption,
        .field--name-field-media-credit {
            display: none;
        }
    }
    &__text {
        padding: $s-1;
        &__title {
            margin-top: 0;
            font-size: $s-1-25;
            letter-spacing: normal;
        }
        &__featured {
            font-weight: $font-weight-semibold;
            font-size: $s-0-75;
            margin-bottom: $s-0-50;
            display: block;
            color: $color-theme-1-1-1;
        }
        &__description,
        p {
            line-height: $line-height-medium;
            margin: 0;
        }
    }
}