/* This Pattern relies on Drupal markup for facets using the Facets Module */

.block-facet--checkbox {
    @extend .block-nds;
    padding: 0;
    margin: $s-2 0;
    @include media-breakpoint-down(sm) {
        margin: $s-1-50 0;
    }
    border: 0;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        @include font-size($s-1-50);
    }
    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }
    .facets-widget-checkbox {
        & > *:first-child {
            margin-top: 0;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }
    ul {
        list-style: none;
        padding-left: 0;
        .facet-item {
            margin: $s-0-50 0;
            input {
                position: absolute;
                opacity: 0;
                height: 0;
                width: 0;
            }
            .input--label,
            label {
                @include input-checkbox-label;
                display: block;
            }
            input:checked~label {
                @include input-checkbox-checked;
            }
        }
    }
}