.component--uswds-banner {
    background-color: $grey-dark;
    padding: 0;
    line-height: $line-height-small;
    &__toggle {
        .image--default {
            margin-right: $s-0-50;
        }
        display: flex;
        align-items: center;
        border-radius: 0 !important;
        background: transparent !important;
        border: 0 !important;
        margin: 0;
        padding: $s-0-25 $s-1-50;
        font-size: $s-0-75;
        text-align: left;
        white-space: normal;
        &:hover,
        &:focus {
            border-radius: 0 !important;
            background: transparent !important;
            border: 0 !important;
        }
        .icon--default {
            margin-left: $s-0-25;
        }
        &[aria-expanded="true"] {
            .icon--default {
                &:before {
                    content: fa-content($fa-var-chevron-down) !important;
                }
            }
        }
    }
    &__content {
        display: none;
        padding: $s-1 $s-1-50 $s-1-25 $s-1-50;
        @include media-breakpoint-down(md) {
            max-width: none;
        }
        &__column {
            display: flex;
            padding: 0 $s-1;
            &__title {
                @extend .h5;
                color: $white;
                margin: 0;
                font-size: $s-1-25;
            }
            &__icon {
                height: $s-3;
                margin-right: $s-1;
            }
            p {
                font-size: $s-0-75;
                color: $white;
                margin: 0;
                .icon-lock {
                    .image--default {
                        height: $s-1;
                        width: $s-2-25;
                    }
                }
            }
            &:first-child {
                @include media-breakpoint-down(md) {
                    margin-bottom: $s-1;
                }
            }
        }
    }
}