.component--snippet {
    max-width: $layout-type-max-width;
    $code-background: #1E1E1E;
    margin: 1rem 0 2rem 0;
    &__block {
        @extend .block-nds;
        padding: 0;
        margin-bottom: 1rem;
        overflow: hidden;
        &__code {
            &__rendered {
                padding: 1rem;
                border-bottom: 0.0625rem solid $input-border;
                & > *:first-child {
                    margin-top: 0;
                }
                & > *:last-child {
                    margin-bottom: 0;
                }
            }
            &__loader {
                background: $code-background;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2rem 0;
                .spinner-layer {
                    border-color: $white !important;
                }
            }
            &__wrapper {
                display: none;
                position: relative;
                &__snippet {
                    background: $code-background;
                    pre[class*=language-] {
                        margin: 0;
                        background: $code-background;
                        code {
                            background: $code-background;
                            padding: 0;
                            margin: 0;
                            display: block;
                        }
                    }
                }
                &__button {
                    position: absolute;
                    right: .25rem;
                    top: .25rem;
                    text-align: right;
                    &__copied {
                        display: inline-block;
                        margin-right: .5rem;
                        opacity: 0;
                        color: $white;
                        transition: opacity 2s;
                        z-index: $z-index-above-baseline;
                        position: relative;
                    }
                    &__copy {
                        padding: $s-0-50;
                        .button--icon__text {
                            padding-left: $s-0-25;
                        }
                    }
                }
            }
        }
        &__pattern {
            &__toggle {
                background: transparent !important;
                border: 0 !important;
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
                color: $type-link;
                width: 100%;
                text-align: left;
                padding: 1rem;
                i {
                    margin-left: .5rem;
                }
                &:hover,
                &:focus {
                    border: 0;
                    color: $type-link;
                }
                &.open {
                    i {
                        transform: rotate(90deg);
                    }
                }
            }
            &__content {
                overflow: hidden;
                height: 0;
                padding: 0 2rem;
                h5 {
                    margin-top: .5rem;
                }
                &.open {
                    height: auto;
                }
            }
        }
    }
    .demo > .row {
        margin: 0 -2rem;
        > .col {
            margin: .5rem;
        }
    }
    .button--floating {
        position: relative !important;
        bottom: auto;
        right: auto;
    }
    .view--listing {
        h2 {
            margin-top: 0;
        }
    }
    &.component--snippet--button-default {
        .col {
            flex-basis: 20%;
            flex-grow: 0;
        }
    }
    &.component--snippet--icon-default {
        .component--snippet__block__code__rendered {
            .icon--default {
                margin-right: 1rem;
            }
        }
    }
    &.component--snippet--block-share {
        .block--share {
            top: 0;
            position: relative;
        }
    }
    &.component--snippet--featured-content-card {
        .block--featured-content-card {
            @include media-breakpoint-up(lg) {
                max-width: 50%;
            }
        }
    }
    &.component--snippet--primary-navigation {
        .component--snippet__block__code__rendered {
            display: none;
            @include media-breakpoint-up(md) {
                display: block;
            }
        }
    }
}

.hidden-textarea {
    position: absolute;
    left: -1000000px;
    top: -100000000px;
}