.component--snippet {
    margin: 1rem 0 2rem 0;
    &__block {
        @extend .block-nds;
        padding: 0;
        margin-bottom: 1rem;
        &__code {
            &__rendered {
                padding: 1rem;
                border-bottom: 0.0625rem solid $input-border;
            }
            &__snippet {
                overflow: hidden;
                pre {
                    background: $page-background-alternate;
                    margin: -2rem 0 0 0;
                    padding: 1rem;
                    color: $type-link;
                }
            }
        }
    }
    &__button {
        text-align: right;
        &__copied {
            display: inline-block;
            margin-right: .5rem;
            opacity: 0;
            transition: opacity 2s;
        }
    }
    .button--floating {
        position: relative !important;
        bottom: auto;
        right: auto;
    }
    &.component--snippet--icon-default {
        .component--snippet__block {
            .icon--default {
                margin-right: 1rem;
            }
        }
    }
    &.component--snippet--block-share {
        .block--share {
            top: 0;
            position: relative;
        }
    }
}

.hidden-textarea {
    position: absolute;
    left: -1000000px;
    top: -100000000px;
}