{% embed "@nds/02-molecules/components/component-filters/_component-filters-main.twig" %}
    {% block component_filters_filters %}
        {% embed "@nds/02-molecules/input-group/input-group-select/_input-group-select-main.twig" with
            {
                "input_group_select_id": "filter-input-group-select",
                "input_group_select_label": "Select Field",
                "input_group_select_placeholder": "Select a Fruit...",
                "input_group_select_aria_label": "Select Example"
            }
        %}
            {% block input_group_select_options %}
                <option value=""></option>
                <option value="Apple">Apple</option>
                <option value="Banana">Banana</option>
                <option value="Cherry">Cherry</option>
                <option value="Date">Date</option>
                <option value="Fig">Fig</option>
                <option value="Guava">Guava</option>
            {% endblock %}
        {% endembed %}

        {% include "@nds/02-molecules/input-group/input-group-text/_input-group-text-main.twig" with
            {
                "input_group_text_id": "input-group-text-filter-example",
                "input_group_text_name": "input-group-text-filter-example",
                "input_group_text_placeholder": "Enter Text...",
                "input_group_text_label": "Filter with Label",
                "input_group_text_aria_label": "Text Field Example"
            }
        %}
    {% endblock %}
{% endembed %}