{% embed "@nds/02-molecules/blocks/block-default/_block-default-main.twig" with
    {
        "block_default_accent": true
    }
%}
    {% block block_content %}
        <p>More information about this resource is available at <a href="#">3D Reconstruction via Stereoscopy for Study Mosquito Swarms</a></p>
    {% endblock %}
{% endembed %}