{#
    block_status_message_type: message--information, message--warning, message--success, message--error
#}

{% set block_status_message_classes = block_status_message_classes|default() %}
{% set block_status_message_type = block_status_message_type|default() %}

{% if block_status_message_type == 'message--information' %}
    {% set block_status_message_icon = 'question-circle' %}
{% elseif block_status_message_type == 'message--warning' %}
    {% set block_status_message_icon = 'exclamation-triangle' %}
{% elseif block_status_message_type == 'message--success' %}
    {% set block_status_message_icon = 'check' %}
{% elseif block_status_message_type == 'message--error' %}
    {% set block_status_message_icon = 'times' %}
{% else %}
    {% set block_status_message_icon = 'question-circle' %}
{% endif %}

<div class="block-nds block--status-message {{ block_status_message_type }} {{ block_status_message_classes }}">
    <div class="block--status-message__icon">
        {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
            {
                "icon_default_type": block_status_message_icon,
                "icon_default_weight": "s"
            }
        %}
    </div>
    <div class="block--status-message__content">
        {% block block_status_message_content %}{% endblock %}
    </div>
</div>