.block--status-message {
    position: relative;
    background: $white;
    padding: 1rem 1rem 1rem 2.5rem;
    margin: 1rem 0 1rem 1.25rem;
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 100%;
        color: $body-color;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        font-size: 1.25rem;
    }
    &__content {
        & > *:first-child {
            margin-top: 0;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }
    &.message--warning {
        .block--status-message__icon {
            color: $type-heading;
            background: $status-warning;
        }
    }
    &.message--information {
        .block--status-message__icon {
            color: $white;
            background: $status-information;
        }
    }
    &.message--success {
        .block--status-message__icon {
            color: $white;
            background: $status-success;
        }
    }
    &.message--error {
        .block--status-message__icon {
            color: $white;
            background: $status-error;
        }
    }
    a,
    p,
    ol,
    ul {
        max-width: none;
    }
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}