.icon--circle {
    background: $white;
    height: $s-3;
    border: $s-1px solid $border-light;
    width: $s-3;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        font-size: $s-1-50;
        color: $type-body;
    }
}