{#
    ---
    title: Event Listing View
    ---

    Type: Organisms -> Views

    Description:
        The Event Listing View is a component that allows users to present events in a listing format. The Event Listing View optionally supports a heading and a "See More" link following the listing of events.

    Blocks:
        {% block view_event_listing_content %}: The block containing the events and their content.

    Parameters:
        view_event_listing_classes: Additional classes for view wrapper.
        view_event_listing_id: ID for the view.
        view_event_listing_data: An array of event block objects. Structure: { "content": "" }. The "content" should be an HTML string.
        view_event_listing_heading: Heading text to label the view.
        view_event_listing_link_text: Text to appear on an optional "See More" link at the end of the view.
        view_event_listing_link_href: URL destination for an optional "See More" link at the end of the view.

    Includes:
        Molecules -> Blocks -> block-default
        Atoms -> Links -> link-icon

    Last Updated: June 15, 2023
#}

{% set view_event_listing_classes = view_event_listing_classes|default() %}
{% set view_event_listing_id = view_event_listing_id|default() %}
{% set view_event_listing_heading = view_event_listing_heading|default() %}
{% set view_event_listing_data = view_event_listing_data|default() %}
{% set view_event_listing_link_text = view_event_listing_link_text|default() %}
{% set view_event_listing_link_href = view_event_listing_link_href|default() %}

<div class="view-nds view--event-listing {{ view_event_listing_classes }}"{% if view_event_listing_id is not empty %} id="{{ view_event_listing_id }}"{% endif %}>
    {% if view_event_listing_heading is not empty %}<h2>{{ view_event_listing_heading }}</h2>{% endif %}
    {% block view_event_listing_content %}
        {% for event in view_event_listing_data %}
            {% include "@nds/02-molecules/blocks/block-event/_block-event-main.twig" with
                {
                    "block_event_day": event.day,
                    "block_event_month": event.month,
                    "block_event_link_text": event.text,
                    "block_event_link_href": event.href,
                    "block_event_description": event.description,
                }
            %}
        {% endfor %}
    {% endblock %}
    {% if view_event_listing_link_href is not empty %}
        <hr>
        {% include "@nds/01-atoms/links/link-icon/_link-icon-main.twig" with
            {
                "link_icon_href": view_event_listing_link_href,
                "link_icon_text": view_event_listing_link_text,
                "link_icon_type": "chevron-right",
                "link_icon_weight": "s",
                "link_icon_position": "right"
            }
        %}
    {% endif %}
</div>
