.button--share {
    align-items: center;
    display: block;
    display: inline-flex;
    height: $s-3;
    justify-content: center;
    padding: 0;
    position: relative;
    width: $s-3;

    i {
        font-size: $s-1-25;
        line-height: normal;
    }
    &:focus {
        outline: -webkit-focus-ring-color auto $s-1px;
    }
}

.button--share--facebook {
    background: $brands-facebook !important;
    border: $s-1px solid $brands-facebook !important;
    color: $white !important;
}

.button--share--twitter {
    background: $brands-twitter !important;
    border: $s-1px solid $brands-twitter !important;
    color: $white !important;
}

.button--share--x-twitter {
    background: $brands-x-twitter !important;
    border: $s-1px solid $brands-x-twitter !important;
    color: $white !important;
}

.button--share--linkedin {
    background: $brands-linkedin !important;
    border: $s-1px solid $brands-linkedin !important;
    color: $white !important;
}

.button--share--instagram {
    background: -moz-linear-gradient(45deg, rgba(246,135,79,1) 0%, rgba(207,70,121,1) 50%, rgba(140,47,143,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(246,135,79,1) 0%, rgba(207,70,121,1) 50%, rgba(140,47,143,1) 100%);
    background: linear-gradient(45deg, rgba(246,135,79,1) 0%, rgba(207,70,121,1) 50%, rgba(140,47,143,1) 100%);
    background: rgb(246,135,79);
    border: 0 !important;
    color: $white !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6874f",endColorstr="#8c2f8f",GradientType=1);
    
    &:hover,
    &:focus {
        border: 0 !important;
    }
}

.button--share--youtube {
    background: $brands-youtube;
    border: $s-1px solid $brands-youtube !important;
    color: $white !important;
}

.button--share--pinterest {
    background: $brands-pinterest;
    border: $s-1px solid $brands-pinterest !important;
    color: $white !important;
}

.button--share--flickr {
    background: $brands-flickr;
    border: $s-1px solid $brands-flickr !important;
    color: $white !important;
}

.button--share--google-plus {
    background: $brands-google-plus;
    border: $s-1px solid $brands-google-plus !important;
    color: $white !important;
}

.button--share--generic,
.button--share--govdelivery {
    background-color: $niaid-blue;
    border: $s-1px solid $niaid-blue !important;
    color: $white !important;

    img {
        height: $s-1;
    }
}