{% embed "@nds/03-organisms/views/view-featured-content-cards/_view-featured-content-cards-main.twig" %}
    {% block view_featured_content_cards_content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    {% include "@nds/02-molecules/blocks/block-featured-content-card/demo/block-featured-content-card.twig" %}
                </div>
                <div class="col-sm-6">
                    {% include "@nds/02-molecules/blocks/block-featured-content-card/demo/block-featured-content-card.twig" %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}