.block--search-chips {
    border-radius: 0;
    border: 0;
    background: none;
    padding: 0;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        &__clear,
        .text--chip {
            margin: $s-0-25;
        }
        > :first-child {
            margin-left: 0;
        }
    }
    .ext-link-icon {
        display: none !important;
    }
}