{#
    ---
    title: Was This Page Helpful? (WTPH) Block
    ---

    Type: Molecules -> Blocks

    Description:
        Users of NDS frequently have a need to solicit feedback on webpages from their users. NDS provides a mechanism to collect this data with the Was This Page Helpful? Block component. Please note that this component does not have any built-in form or data-collection functionality, meaning users will need to add their own functions and input handling.

    Parameters:
        block_wtph_classes: Additional block classes.
        block_wtph_id: Block ID.

    Includes:
        Atoms -> Buttons -> button-default

    Last Updated: June 14, 2021
#}

{% set block_wtph_classes = block_wtph_classes|default() %}
{% set block_wtph_id = block_wtph_id|default() %}

<div class="block-nds block--wtph {{ block_wtph_classes }}"{% if block_wtph_id is not empty %} id="{{ block_wtph_id }}"{% endif %}>
    <h2 class="block--wtph__title">Was This Page Helpful?</h2>
    <div class="block--wtph__buttons">
        <button class="block--wtph__buttons__button block--wtph__buttons__button--yes">
            {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
                {
                    "icon_default_type": "thumbs-up",
                    "icon_default_weight": "r"
                }
            %}
            <span>Yes</span>
        </button>
        <button class="block--wtph__buttons__button block--wtph__buttons__button--no">
            {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
                {
                    "icon_default_type": "thumbs-down",
                    "icon_default_weight": "r"
                }
            %}
            <span>No</span>
        </button>
    </div> 
</div>