{% set hero_home_classes = hero_home_classes|default() %}

<div class="hero-nds hero--home {{ hero_home_classes }}">
    {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
        {
            "image_default_src": 'homeHero3.svg',
            "image_default_alt": ''
        }
    %}
    <div class="hero--home__content">
        {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
            {
                "image_default_src": 'global/niaid/logo-niaid-mobile.svg',
                "image_default_alt": 'NIAID'
            }
        %}
        <h1>Design System</h1>
        <p>Build beautiful, policy-compliant websites.</p>
        <div class="hero--home__content__buttons">
            {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                {
                    "button_default_type": "primary",
                    "button_default_classes": "button--get-started",
                    "button_default_href": links.getStarted,
                    "button_default_label": "Get Started"
                }
            %}
            {% include "@nds/01-atoms/buttons/button-default/_button-default-main.twig" with
                {
                    "button_default_type": "secondary",
                    "button_default_classes": "button--learn-more",
                    "button_default_href": links.design,
                    "button_default_label": "Learn More"
                }
            %}
        </div>
        {# <div class="hero--home__content__flair">
            <div class="hero--home__content__flair__pill"></div>
            <div class="hero--home__content__flair__pill"></div>
            <div class="hero--home__content__flair__pill"></div>
        </div> #}
    </div>
</div>