.hero--home {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    & > img {
        position: absolute;
        bottom: 0;
        left: 0;
        min-width: 100%;
    }
    &__content {
        padding: 4rem 4rem 8rem 4rem;
        text-align: center;
        z-index: 1;
        img {
            height: 4rem;
        }
        h1 {
            padding-top: 1rem;
            margin-bottom: .5rem;
            @include media-breakpoint-down(sm) {
                font-size: 3rem;
            }
        }
        p {
            font-size: 1.25rem;
            font-weight: $font-weight-light;
            margin: 1.5rem 0 1.75rem 0;
        }
        &__buttons {
            margin: 0 auto;
            .button--get-started {
                margin-right: .5rem;
            }
            .button--learn-more {
                margin-left: .5rem;
            }
        }
    }
}