.hero--home {
    position: relative;
    .desktop {
        display: none;
        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
    .mobile {
        @include media-breakpoint-up(lg) {
            display: none;
        }   
    }
    img {
        max-width: 100%;
    }
    &__content {
        background: #1F1F1F;
        padding: 4rem 4rem 2rem 4rem;
        h1 {
            color: $white;
            padding-top: 1rem;
            margin-bottom: .5rem;
            @include media-breakpoint-down(sm) {
                font-size: 3rem;
            }
        }
        &__flair {
            &__pill {
                display: inline-block;
                height: .5rem;
                width: 3rem;
                &:nth-child(1) {
                    border-top-left-radius: 100rem;
                    border-bottom-left-radius: 100rem;
                    background: $color-theme-1-accent;
                }
                &:nth-child(2) {
                    background: $color-theme-2-accent;
                }
                &:nth-child(3) {
                    border-top-right-radius: 100rem;
                    border-bottom-right-radius: 100rem;
                    background: $color-theme-3-accent;
                }
            }
        }
        img {
            height: 4rem;
            @include media-breakpoint-up(lg) {
                height: 5rem;
            }
        }
        @include media-breakpoint-up(lg) {
            padding: 0;
            background: transparent;
            position: absolute;
            right: 15%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}