{#
    ---
    title: Body Layout
    ---

    Type: Atoms -> Layout

    Description:
        The Body Layout component is used to display a page's main content. This component handles padding at various breakpoints, ensuring a visually appealing experience regardless of device or browser.
        
        The Body Layout component is generally embedded within the {% block main_column %} block of the Main Layout pattern.

        Note: If using the Material Shadows style option, you can turn off the shadows on the body by passing "layouts--body--no-shadows" to the "layouts_body_classes" parameter.

    Blocks:
        {% block body_content %}: The main page content.

    Parameters:
        layouts_body_classes: Additional layout classes.
        layouts_body_top_padding: A class indicating if top padding should be present or not. Options: "yes" (Default), "no".

    Last Updated: June 14, 2021
#}

{% set layouts_body_classes = layouts_body_classes|default() %}
{% set layouts_body_top_padding = layouts_body_top_padding|default('yes') %}

<div class="layouts-nds layouts--body {{ layouts_body_classes }}{{ layouts_body_top_padding != 'yes' ? 'layouts--body--no-top-padding' }}">
    {% block body_content %}{% endblock %}
</div>