{% set block_design_files_classes = block_design_files_classes|default() %}

<div class="block--design-files {{ block_design_files_classes }}">
    {% include "@nds/01-atoms/buttons/button-image/_button-image-main.twig" with
        {
            "button_image_src": "icon_sketch.png",
            "button_image_alt": "Sketch",
            "button_image_text": "Download Sketch File"
        }
    %}
    {% include "@nds/01-atoms/buttons/button-image/_button-image-main.twig" with
        {
            "button_image_src": "icon_figma.png",
            "button_image_alt": "Figma",
            "button_image_text": "Download Figma File"
        }
    %}
    {% include "@nds/01-atoms/buttons/button-image/_button-image-main.twig" with
        {
            "button_image_src": "icon_illustrator.png",
            "button_image_alt": "Illustrator",
            "button_image_text": "Download Illustrator File"
        }
    %}
</div>