{% set block_design_files_classes = block_design_files_classes|default() %}

<div class="block--design-files {{ block_design_files_classes }}">
    {% include "@nds/01-atoms/buttons/button-image/_button-image-main.twig" with
        {
            "button_image_classes": "button--secondary",
            "button_image_src": "sketch.svg",
            "button_image_alt": "Sketch Icon",
            "button_image_text": "Download Sketch File"
        }
    %}
    {% include "@nds/01-atoms/buttons/button-image/_button-image-main.twig" with
        {
            "button_image_classes": "button--secondary",
            "button_image_src": "figma.svg",
            "button_image_alt": "Figma Icon",
            "button_image_text": "Download Figma File"
        }
    %}
    {# {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
        {
            "button_icon_classes": "button--secondary",
            "button_icon_icon": "sketch",
            "button_icon_text": "Download Illustrator File"
        }
    %} #}
</div>