.block--design-files {
    padding: 0;
    margin-bottom: -1 * $s-1;
    .row {
        > div {
            margin-bottom: $s-1;
            text-align: center;
        }
    }
    .button--image {
        display: block;
        text-align: center;
        width: 100%;
        white-space: normal;
        img {
            height: $s-3;
            max-height: none;
            display: block;
            margin: $s-1 auto;
        }
        &__text {
            padding: 0;
        }
    }
}