<div class="container-fluid demo">
    <div class="row">
        <div class="col-12 col-md-auto m-y-1">
            {% include "@nds/01-atoms/buttons/button-dynamic/_button-dynamic-main.twig" with
                {
                    "button_dynamic_type": "primary",
                    "button_dynamic_active": "Default Active Text",
                    "button_dynamic_inactive": "Default Inactive Text"
                }
            %}
        </div>
    </div>
</div>