{#
    ---
    title: Featured Content Cards View
    ---

    Type: Organisms -> Views

    Description:
        Featured Content Cards are excellent for highlighting information, but too many can be overwhelming and reduce the relative importance of each card. We recommend no more than two or three cards be used with the Featured Content Cards View.

        To implement the Featured Content Card use the {% block view_featured_content_cards_content %} or pass data to the "view_featured_content_cards_data" parameter. If using the parameter, the component will calculate the correct width of the Bootstrap columns ("view_featured_content_cards_column_width") based on the number of card objects passed therefore negating the need to specify a value for "view_featured_content_cards_column_width".

    Blocks:
        {% block view_featured_content_cards_content %}: The block containing featured content cards.

    Parameters:
        view_featured_content_cards_classes: Additional classes for view wrapper.
        view_featured_content_cards_id: ID for the view.
        view_featured_content_cards_data: An array of featured content card objects. Structure: {"src": "", "alt": "", "title": "", "href": "", "description": "", "featured": ""}. See the Featured Content Card pattern for more information.
        view_featured_content_cards_column_breakpoint: The Bootstrap column breakpoint for the view. Options: "sm", "md" (Default), "lg", "xl".
        view_featured_content_cards_column_width: The Bootstrap column width for the view. Options: "1", "2", "3", "4", "6" (Default), "12".

    Includes:
        Molecules -> Blocks -> block-featured-content-card

    Last Updated: January 22, 2021
#}

{% set view_featured_content_cards_classes = view_featured_content_cards_classes|default() %}
{% set view_featured_content_cards_id = view_featured_content_cards_id|default() %}
{% set view_featured_content_cards_data = view_featured_content_cards_data|default() %}
{% set view_featured_content_cards_column_breakpoint = view_featured_content_cards_column_breakpoint|default('md') %}
{% set view_featured_content_cards_column_width = view_featured_content_cards_column_width|default('6') %}

{% if view_featured_content_cards_data is not empty %}
    {% set view_featured_content_cards_column_width = 12 / view_featured_content_cards_data|length %}
{% endif %}

<div class="view-nds view--featured-content-cards view--featured-content-cards--single-card {{ view_featured_content_cards_classes }}">
    {% block view_featured_content_cards_content %}
        <div class="container-fluid">
            <div class="row">
                {% for card in view_featured_content_cards_data %}
                    <div class="col-{{ view_featured_content_cards_column_breakpoint }}-{{ view_featured_content_cards_column_width }}">
                        {% include "@nds/02-molecules/blocks/block-featured-content-card/_block-featured-content-card-main.twig" with
                            {
                                "block_featured_content_card_src": card.src,
                                "block_featured_content_card_alt": card.alt,
                                "block_featured_content_card_title": card.title,
                                "block_featured_content_card_title_link": card.href,
                                "block_featured_content_card_description": card.description,
                                "block_featured_content_card_featured": card.featured
                            }
                        %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
</div>