.view--featured-content-cards {
    padding: $s-1 $s-2;
    .row {
        margin: 0 (-1 * $s-2);
        & > div {
            margin: $s-1 0;
            display: flex;
        }
    }
    &.view--featured-content-cards--single-card {
        .block--featured-content-card {
            @include media-breakpoint-up(md) {
                display: flex;
                &__image {
                    flex: 0 0 100%;
                    max-width: 40%;
                    height: auto;
                }
                &__content {
                    flex: 0 0 100%;
                }
            }
        }
    }
}