{% set input_group_select_classes = input_group_select_classes|default() %}
{% set input_group_select_id = input_group_select_id|default() %}
{% set input_group_select_label = input_group_select_label|default() %}
{% set input_group_select_label_classes = input_group_select_label_classes|default() %}
{% set input_group_select_tooltip = input_group_select_tooltip|default() %}
{% set input_group_select_placeholder = input_group_select_placeholder|default() %}
{% set input_group_select_name = input_group_select_name|default() %}
{% set input_group_select_value = input_group_select_value|default() %}
{% set input_group_select_tabindex = input_group_select_tabindex|default() %}
{% set input_group_select_readonly = input_group_select_readonly|default(false) %}
{% set input_group_select_disabled = input_group_select_disabled|default(false) %}
{% set input_group_select_required = input_group_select_required|default(false) %}
{% set input_group_select_always_selected = input_group_select_always_selected|default(false) %}
{% set input_group_select_multiple = input_group_select_multiple|default(false) %}
{% set input_group_select_options = block('input_group_select_options') %}

<div class="input-group-nds input-group--select {{ input_group_select_classes }}">
    {% include "@nds/01-atoms/input/input-label/_input-label-main.twig" with
        {
            "input_label_id": input_group_select_id,
            "input_label_classes": input_group_select_label_classes,
            "input_label_text": input_group_select_label,
            "input_label_tooltip": input_group_select_tooltip
        }
    %}
    {% embed "@nds/01-atoms/input/input-select/_input-select-main.twig" with
        {
            "input_select_id": input_group_select_id,
            "input_select_placeholder": input_group_select_placeholder,
            "input_select_name": input_group_select_name,
            "input_select_value": input_group_select_value,
            "input_select_tabindex": input_group_select_tabindex,
            "input_select_readonly": input_group_select_readonly,
            "input_select_disabled": input_group_select_disabled,
            "input_select_required": input_group_select_required,
            "input_select_multiple": input_group_select_multiple,
            "input_select_always_selected": input_group_select_always_selected
        }
    %}
        {% block input_select_input %}
            {{ input_group_select_options|raw }}
        {% endblock %}
    {% endembed %}
</div>