{#
    ---
    title: Select Field Group
    ---

    Type: Molecules -> Input Group

    Description:
        The Select Field Group provides users with an improved select list experience courtesy of the Select2 library.

    Dependencies:
        In order to leverage the full capabilities of this component, you must include the following libraries in addition to the NDS Global JS:
            - Bootstrap 4
            - Select2
            - jQuery

    Blocks:
        {% block input_group_select_options %}: The block holding the select <option>'s.

    Parameters:
        input_group_select_classes: Additional classes on the wrapper around the input field.
        input_group_select_id: Input ID.
        input_group_select_label: Input label.
        input_group_select_label_classes: Additional classes for the input field label.
        input_group_select_tooltip: Optional tooltip text for the input field (Dependencies: Bootstrap 4, jQuery).
        input_group_select_placeholder: Placeholder text for the field.
        input_group_select_name: Name attribute of the field.
        input_group_select_value: Default value of the field.
        input_group_select_tabindex: Optional tabindex attribute of the field.
        input_group_select_disabled: Bool indicating if the field is disabled. Options: true, false (Default).
        input_group_select_readonly: Bool indicating if the field is readonly. Options: true, false (Default).
        input_group_select_required: Bool indicating if the field is requred. Options: true, false (Default).
        input_group_select_always_selected: Bool indicating if the field should always have one option selected. Options: true, false (Default).
        input_group_select_multiple: Bool indicating if the field can have multiple selections. Options: true, false (Default).

    Includes:
        Atoms -> Input -> input-label
        Atoms -> Input -> input-select

    Last Updated: January 22, 2021
#}

{% set input_group_select_classes = input_group_select_classes|default() %}
{% set input_group_select_id = input_group_select_id|default() %}
{% set input_group_select_label = input_group_select_label|default() %}
{% set input_group_select_label_classes = input_group_select_label_classes|default() %}
{% set input_group_select_tooltip = input_group_select_tooltip|default() %}
{% set input_group_select_placeholder = input_group_select_placeholder|default() %}
{% set input_group_select_name = input_group_select_name|default() %}
{% set input_group_select_value = input_group_select_value|default() %}
{% set input_group_select_tabindex = input_group_select_tabindex|default() %}
{% set input_group_select_readonly = input_group_select_readonly|default(false) %}
{% set input_group_select_disabled = input_group_select_disabled|default(false) %}
{% set input_group_select_required = input_group_select_required|default(false) %}
{% set input_group_select_always_selected = input_group_select_always_selected|default(false) %}
{% set input_group_select_multiple = input_group_select_multiple|default(false) %}
{% set input_group_select_options = block('input_group_select_options') %}

<div class="input-group-nds input-group--select {{ input_group_select_classes }}">
    {% include "@nds/01-atoms/input/input-label/_input-label-main.twig" with
        {
            "input_label_id": input_group_select_id,
            "input_label_classes": input_group_select_label_classes,
            "input_label_text": input_group_select_label,
            "input_label_tooltip": input_group_select_tooltip
        }
    %}
    {% embed "@nds/01-atoms/input/input-select/_input-select-main.twig" with
        {
            "input_select_id": input_group_select_id,
            "input_select_placeholder": input_group_select_placeholder,
            "input_select_name": input_group_select_name,
            "input_select_value": input_group_select_value,
            "input_select_tabindex": input_group_select_tabindex,
            "input_select_readonly": input_group_select_readonly,
            "input_select_disabled": input_group_select_disabled,
            "input_select_required": input_group_select_required,
            "input_select_multiple": input_group_select_multiple,
            "input_select_always_selected": input_group_select_always_selected
        }
    %}
        {% block input_select_input %}
            {{ input_group_select_options|raw }}
        {% endblock %}
    {% endembed %}
</div>