{% embed "@nds/02-molecules/blocks/block-status-message/_block-status-message-main.twig" with
    {
        "block_status_message_type": "message--information"
    }
%}
    {% block block_status_message_content %}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada bibendum arcu vitae elementum curabitur vitae. Rhoncus mattis rhoncus urna neque. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Ornare aenean euismod elementum nisi quis eleifend quam adipiscing. Proin libero nunc consequat interdum varius. Dignissim convallis aenean et tortor. Orci a scelerisque purus semper eget duis at tellus at. Sed viverra ipsum nunc aliquet bibendum. Fusce ut placerat orci nulla pellentesque dignissim enim.</p>
    {% endblock %}
{% endembed %}

{% embed "@nds/02-molecules/blocks/block-status-message/_block-status-message-main.twig" with
    {
        "block_status_message_type": "message--warning"
    }
%}
    {% block block_status_message_content %}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada bibendum arcu vitae elementum curabitur vitae. Rhoncus mattis rhoncus urna neque. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Ornare aenean euismod elementum nisi quis eleifend quam adipiscing. Proin libero nunc consequat interdum varius. Dignissim convallis aenean et tortor. Orci a scelerisque purus semper eget duis at tellus at. Sed viverra ipsum nunc aliquet bibendum. Fusce ut placerat orci nulla pellentesque dignissim enim.</p>
    {% endblock %}
{% endembed %}

{% embed "@nds/02-molecules/blocks/block-status-message/_block-status-message-main.twig" with
    {
        "block_status_message_type": "message--success"
    }
%}
    {% block block_status_message_content %}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada bibendum arcu vitae elementum curabitur vitae. Rhoncus mattis rhoncus urna neque. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Ornare aenean euismod elementum nisi quis eleifend quam adipiscing. Proin libero nunc consequat interdum varius. Dignissim convallis aenean et tortor. Orci a scelerisque purus semper eget duis at tellus at. Sed viverra ipsum nunc aliquet bibendum. Fusce ut placerat orci nulla pellentesque dignissim enim.</p>
    {% endblock %}
{% endembed %}

{% embed "@nds/02-molecules/blocks/block-status-message/_block-status-message-main.twig" with
    {
        "block_status_message_type": "message--error"
    }
%}
    {% block block_status_message_content %}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada bibendum arcu vitae elementum curabitur vitae. Rhoncus mattis rhoncus urna neque. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Ornare aenean euismod elementum nisi quis eleifend quam adipiscing. Proin libero nunc consequat interdum varius. Dignissim convallis aenean et tortor. Orci a scelerisque purus semper eget duis at tellus at. Sed viverra ipsum nunc aliquet bibendum. Fusce ut placerat orci nulla pellentesque dignissim enim.</p>
    {% endblock %}
{% endembed %}