.view--swatches {
    padding: 0;
    .row {
        margin: 0;
        > div {
            padding: 0 .25rem;
            @include media-breakpoint-down(sm) {
                margin: 1rem 0;
            }
        }
    }
}