{#
    ---
    title: Text Field Group
    ---

    Type: Molecules -> Input Group

    Description:
        This component is used to create generic text field inputs.

    Dependencies:
        In order to leverage the full capabilities of this component, you must include the following libraries in addition to the NDS Global JS:
            - Bootstrap 4
            - jQuery

    Parameters:
        input_group_text_classes: Additional classes on the wrapper around the input field.
        input_group_text_id: Input ID.
        input_group_text_label: Input label.
        input_group_text_label_classes: Additional classes for the input field label.
        input_group_text_tooltip: Optional tooltip text for the input field (Dependencies: Bootstrap 4, jQuery).
        input_group_text_placeholder: Placeholder text for the field.
        input_group_text_name: Name attribute of the field.
        input_group_text_aria_label: Aria Label of the text field.
        input_group_text_value: Default value of the field.
        input_group_text_tabindex: Optional tabindex attribute of the field.
        input_group_text_disabled: Bool indicating if the field is disabled. Options: true, false (Default).
        input_group_text_readonly: Bool indicating if the field is readonly. Options: true, false (Default).
        input_group_text_required: Bool indicating if the field is requred. Options: true, false (Default).
        input_group_text_icon: Optional name of Font Awesome icon to appear in the field.
        input_group_text_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).
        input_group_text_validation: Validation message for field error.

    Includes:
        Atoms -> Input -> input-label
        Atoms -> Input -> input-text

    Last Updated: February 8, 2021
#}


{% set input_group_text_classes = input_group_text_classes|default() %}
{% set input_group_text_id = input_group_text_id|default() %}
{% set input_group_text_label = input_group_text_label|default() %}
{% set input_group_text_label_classes = input_group_text_label_classes|default() %}
{% set input_group_text_tooltip = input_group_text_tooltip|default() %}
{% set input_group_text_placeholder = input_group_text_placeholder|default() %}
{% set input_group_text_name = input_group_text_name|default() %}
{% set input_group_text_value = input_group_text_value|default() %}
{% set input_group_text_aria_label = input_group_text_aria_label|default() %}
{% set input_group_text_tabindex = input_group_text_tabindex|default() %}
{% set input_group_text_disabled = input_group_text_disabled|default() %}
{% set input_group_text_readonly = input_group_text_readonly|default() %}
{% set input_group_text_required = input_group_text_required|default() %}
{% set input_group_text_icon = input_group_text_icon|default() %}
{% set input_group_text_icon_weight = input_group_text_icon_weight|default('s') %}
{% set input_group_text_validation = input_group_text_validation|default() %}

<div class="input-group-nds input-group--text {{ input_group_text_classes }}">
    {% include "@nds/01-atoms/input/input-label/_input-label-main.twig" with
        {
            "input_label_id": input_group_text_id,
            "input_label_classes": input_group_text_label_classes,
            "input_label_text": input_group_text_label,
            "input_label_tooltip": input_group_text_tooltip
        }
    %}
    {% include "@nds/01-atoms/input/input-text/_input-text-main.twig" with
        {
            "input_text_id": input_group_text_id,
            "input_text_name": input_group_text_name,
            "input_text_placeholder": input_group_text_placeholder,
            "input_text_value": input_group_text_value,
            "input_text_aria_label": input_group_text_aria_label,
            "input_text_title": input_group_text_label,
            "input_text_icon": input_group_text_icon,
            "input_text_icon_weight": input_group_text_icon_weight,
            "input_text_tabindex": input_group_text_tabindex,
            "input_text_disabled": input_group_text_disabled,
            "input_text_readonly": input_group_text_readonly,
            "input_text_required": input_group_text_required
        }
    %}
    {% include "@nds/01-atoms/input/input-validation/_input-validation-main.twig" with { "input_validation_text": input_group_text_validation } %}
</div>