{#
    ---
    title: Input Text
    ---

    Type: Atoms -> Input

    Description:
        A pattern for a text input field.

    Parameters:
        input_text_classes: Additional input classes.
        input_text_id: Text ID.
        input_text_placeholder: Placeholder text for the input field.
        input_text_name: Name attribute of the input field.
        input_text_value: Default value of the input field.
        input_text_aria_label: Aria Label for the input field.
        input_text_icon: Font Awesome icon name.
        input_text_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).
        input_text_tabindex: Tabindex attribute for the input field.
        input_text_disabled: Bool determining if the input is disabled or not. Options: true, false.
        input_text_readonly: Bool determining if the input is readonly or not. Options: true, false.
        input_text_required: Bool determining if the input is required or not. Options: true, false.
        input_text_validation_message: Text to appear upon validation error.

    Includes:
        Atoms -> Input -> input-attributes
        Atoms -> Icons -> icons-default

    Last Updated: February 8, 2021
#}

{% set input_text_classes = input_text_classes|default() %}
{% set input_text_id = input_text_id|default() %}
{% set input_text_placeholder = input_text_placeholder|default() %}
{% set input_text_name = input_text_name|default() %}
{% set input_text_value = input_text_value|default() %}
{% set input_text_aria_label = input_text_aria_label|default() %}
{% set input_text_icon = input_text_icon|default() %}
{% set input_text_icon_weight = input_text_icon_weight|default('s') %}
{% set input_text_tabindex = input_text_tabindex|default() %}
{% set input_text_disabled = input_text_disabled|default() %}
{% set input_text_readonly = input_text_readonly|default() %}
{% set input_text_required = input_text_required|default() %}
{% set input_text_validation_message = input_text_validation_message|default() %}

{% if input_text_icon is not empty %}<div class="input--text--icon">{% endif %}
<input class="input-nds input--text {{ input_text_classes }}"
    {% include "@nds/01-atoms/input/input-attributes/_input-attributes-main.twig" with
        {
            "input_attributes_id": input_text_id,
            "input_attributes_name": input_text_name,
            "input_attributes_placeholder": input_text_placeholder,
            "input_attributes_type": "text",
            "input_attributes_value": input_text_value,
            "input_attributes_aria_label": input_text_aria_label,
            "input_attributes_tabindex": input_text_tabindex,
            "input_attributes_disabled": input_text_disabled,
            "input_attributes_readonly": input_text_readonly,
            "input_attributes_required": input_text_required
        }
    %}
>
{% if input_text_icon is not empty %}
    {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
        {
            "icon_default_type": input_text_icon,
            "icon_default_weight": input_text_icon_weight
        }
    %}
</div>{% endif %}