{% set text_checklist_classes = text_checklist_classes|default() %}
{% set text_checklist_text = text_checklist_text|default() %}

<li class="text-nds text--checklist {{ text_checklist_classes }}">{{ text_checklist_text }}</li>