{% embed "@nds/02-molecules/navigation/navigation-mobile-rail/_navigation-mobile-rail-main.twig" with
    {
        "navigation_mobile_rail_button_text": "Open Left Rail"
    }
%}
    {% block navigation_mobile_rail_content %}
        <p>Left Rail Content</p>
    {% endblock %}
{% endembed %}