{# Define customizable paragraph with placeholders values #}
{% block custom_paragraph %}
    {% set howlong = howlong|default('long') %}
    {% if howlong == 'short' %}
        <p>{{ excerpt.short }}</p>
    {% elseif howlong == 'medium' %}
        <p>{{ excerpt.medium }}</p>
    {% else %}
        <p>{{ excerpt.long }}</p>
    {% endif %}
{% endblock custom_paragraph %}

         






