{% embed "@nds/04-templates/generic/_generic-main.twig" %}
    {% block header %}
        {% include "@nds/02-molecules/components/component-uswds-banner/_component-uswds-banner-main.twig" %}
        {% include "@nds/03-organisms/global/global-header/_global-header-main.twig" with
            {
                "global_header_product_id_top": "Your Website Name"
            }
        %}
    {% endblock %}
    {% block navigation %}
        {% include "@nds/02-molecules/navigation/navigation-primary/demo/navigation-primary.twig" %}
        {% include "@nds/02-molecules/navigation/navigation-drawer/demo/navigation-drawer.twig" %}
    {% endblock %}
    {% block main %}
        {% embed "@nds/01-atoms/layouts/layouts-main/_layouts-main-main.twig" %}
            {% block main_column %}
                {% embed "@nds/01-atoms/layouts/layouts-body/_layouts-body-main.twig" %}
                    {% block body_content %}
                        <h1 id="main-content">Hello Home Page!</h1>
                        <p>Congratulations! You have successfully installed and generated your website using the NDS Static Site Builder!</p>
                        <p>Please visit the <a href="http://nds.niaid.nih.gov.s3-website-us-east-1.amazonaws.com/">NIAID Design System website</a> for more information on building beautiful, policy-compliant websites.</p>
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
    {% block footer %}
        {% include "@nds/03-organisms/global/global-footer/demo/global-footer.twig" %}
    {% endblock %}
{% endembed %}