{% set input_text_id = input_text_id|default() %}
{% set input_text_classes = input_text_classes|default() %}
{% set input_text_name = input_text_name|default() %}
{% set input_text_placeholder = input_text_placeholder|default() %}
{% set input_text_value = input_text_value|default() %}
{% set input_text_title = input_text_title|default() %}
{% set input_text_icon = input_text_icon|default() %}
{% set input_text_icon_weight = input_text_icon_weight|default('r') %}
{% set input_text_tabindex = input_text_tabindex|default() %}
{% set input_text_disabled = input_text_disabled|default() %}
{% set input_text_readonly = input_text_readonly|default() %}
{% set input_text_required = input_text_required|default() %}
{% set input_text_validation_message = input_text_validation_message|default() %}

{% if input_text_icon is not empty %}<div class="input--text--icon">{% endif %}
<input class="input-nds input--text {{ input_text_classes }}"
    {% include "@nds/01-atoms/input/input-attributes/_input-attributes-main.twig" with
        {
            "input_attributes_id": input_text_id,
            "input_attributes_name": input_text_name,
            "input_attributes_placeholder": input_text_placeholder,
            "input_attributes_type": "text",
            "input_attributes_value": input_text_value,
            "input_attributes_tabindex": input_text_tabindex,
            "input_attributes_disabled": input_text_disabled,
            "input_attributes_readonly": input_text_readonly,
            "input_attributes_required": input_text_required
        }
    %}
>
{% if input_text_icon is not empty %}
    {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
        {
            "icon_default_type": input_text_icon,
            "icon_default_weight": input_text_icon_weight
        }
    %}
</div>{% endif %}