{#
    ---
    title: Breadcrumbs
    ---
    A form of navigation in which users are given context about the page they are currently on. Breadcrumb items are linked if possible.
    This pattern is not yet completed.

    Parameters:

    breadcrumbs - The data set passed to populate the breadcrumbs pattern.
#}

{% set navigation_breadcrumbs_data = navigation_breadcrumbs_data|default() %}
{% set navigation_breadcrumbs_classes = navigation_breadcrumbs_classes|default() %}
{% set navigation_breadcrumbs_icon_weight = navigation_breadcrumbs_icon_weight|default('s') %}

<div class="navigation-nds navigation--breadcrumbs {{ navigation_breadcrumbs_classes }}">
    <p>
        {% for crumb in navigation_breadcrumbs_data %}
            {% if crumb.href.routeName != '<none>' and crumb.href != "" %}<a href="{{ crumb.href }}">{% endif %}<span>{{ crumb.text }}</span>{% if crumb.href.routeName != '<none>' %}</a>{% endif %}
            {% if not loop.last %}
                &ensp;
                {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
                    {
                        "icon_default_type": "chevron-right",
                        "icon_default_weight": navigation_breadcrumbs_icon_weight
                    }
                %}
                &ensp;
            {% endif %}
        {% endfor %}
    </p>
</div>