.navigation--breadcrumbs {
    font-weight: $font-weight-light;
    font-size: .8rem;
    margin: 0 0 1.5rem 0;
    padding: 0;
    >p {
        margin: 0;
        padding: 0;
    }
    a {
        &:hover,
        &:focus {
            border-bottom: 0.0625rem solid transparent;
        }
    }
    i {
        font-size: .7rem;
        width: auto;
        color: $type-body;
    }
}