{% set block_fonts_classes = block_fonts_classes|default() %}

<div class="block--fonts container-fluid {{ block_fonts_classes }}">
    <div class="row">
        <div class="col-md-6">
            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                {
                    "button_icon_icon": "file-archive",
                    "button_icon_href": assetsPath ~ "public-sans.zip",
                    "button_icon_text": "Download Public Sans",
                    "button_icon_attributes": "download"
                }
            %}
            <span class="block--fonts__credit">Provided by USWDS</span>
        </div>
        <div class="col-md-6">
            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                {
                    "button_icon_icon": "file-archive",
                    "button_icon_href": assetsPath ~ "roboto.zip",
                    "button_icon_text": "Download Roboto",
                    "button_icon_attributes": "download"
                }
            %}
            <span class="block--fonts__credit">Provided by Google Fonts</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                {
                    "button_icon_icon": "file-archive",
                    "button_icon_href": assetsPath ~ "martel.zip",
                    "button_icon_text": "Download Martel",
                    "button_icon_attributes": "download"
                }
            %}
            <span class="block--fonts__credit">Provided by Google Fonts</span>
        </div>
        <div class="col-md-6">
            {% include "@nds/01-atoms/buttons/button-icon/_button-icon-main.twig" with
                {
                    "button_icon_icon": "file-archive",
                    "button_icon_href": assetsPath ~ "merriweather.zip",
                    "button_icon_text": "Download Merriweather",
                    "button_icon_attributes": "download"
                }
            %}
            <span class="block--fonts__credit">Provided by USWDS</span>
        </div>
    </div>
</div>