.block--fonts {
    max-width: $layout-type-max-width;
    padding: 0;
    margin-bottom: -1rem;
    margin-left: 0;
    margin-right: 0;
    .row {
        > div {
            margin-bottom: 1rem;
            text-align: center;
        }
    }
    &__credit {
        font-size: .8rem;
    }
    .button--icon {
        display: block;
        text-align: center;
        width: 100%;
        white-space: normal;
        .icon--default {
            width: 100%;
            padding: 1rem;
            &:before {
                font-size: 3rem;
            }
        }
        &__text {
            padding: 0;
            margin-top: 1rem;
        }
    }
}