.block--fonts {
    padding: 0;
    margin-bottom: -1 * $s-1;
    .row {
        > div {
            margin-bottom: $s-1;
            text-align: center;
        }
    }
    &__credit {
        font-size: $s-0-75;
    }
    .button--icon {
        display: block;
        text-align: center;
        width: 100%;
        white-space: normal;
        .icon--default {
            width: 100%;
            padding: $s-1;
            &:before {
                font-size: $s-3;
            }
        }
        &__text {
            padding: 0;
            margin-top: $s-1;
        }
    }
}