<div class="container-fluid demo">
    <div class="row">
        <div class="col">
            {% include "@nds/01-atoms/icons/icon-document/_icon-document-main.twig" with 
                {
                    "icon_document_type": "file-word",
                    "icon_document_href": "#"
                }
            %}
        </div>
        <div class="col">
            {% include "@nds/01-atoms/icons/icon-document/_icon-document-main.twig" with 
                {
                    "icon_document_type": "file-excel",
                    "icon_document_href": "#"
                }
            %}
        </div>
        <div class="col">
            {% include "@nds/01-atoms/icons/icon-document/_icon-document-main.twig" with 
                {
                    "icon_document_type": "file-ppt",
                    "icon_document_href": "#"
                }
            %}
        </div>
        <div class="col">
            {% include "@nds/01-atoms/icons/icon-document/_icon-document-main.twig" with 
                {
                    "icon_document_type": "file-pdf",
                    "icon_document_href": "#"
                }
            %}
        </div>
        <div class="col">
            {% include "@nds/01-atoms/icons/icon-document/_icon-document-main.twig" with 
                {
                    "icon_document_type": "image",
                    "icon_document_href": "#"
                }
            %}
        </div>
        <div class="col">
            {% include "@nds/01-atoms/icons/icon-document/_icon-document-main.twig" with 
                {
                    "icon_document_type": "video",
                    "icon_document_href": "#"
                }
            %}
        </div>
    </div>
</div>