.block--status-message {
    position: relative;
    background: $white;
    padding: $s-1 $s-1 $s-1 $s-2-50;
    margin-left: $s-1-25;
    a,
    p,
    ol,
    ul {
        max-width: none;
    }
    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
    &:before {
        content: "\f059";
        display: flex;
        align-items: center;
        justify-content: center;
        height: $s-2-50;
        width: $s-2-50;
        border-radius: 100%;
        color: $body-color;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        font-size: $s-1-25;
    }
    &.message--warning {
        &:before {
            content: "\f071";
            color: $type-heading;
            background: $status-warning;
        }
    }
    &.message--information {
        &:before {
            color: $white;
            background: $status-information;
        }
    }
    &.message--success {
        &:before {
            content: "\f00c";
            color: $white;
            background: $status-success;
        }
    }
    &.message--error {
        &:before {
            content: "\f00d";
            color: $white;
            background: $status-error;
        }
    }

    &.fa-icon-weight-s,
    &.fa-icon-weight-r,
    &.fa-icon-weight-b,
    &.fa-icon-weight-l,
    &.fa-icon-weight-d {
        &:before {
            display: flex;
        }
    }

    &.fa-icon-weight-s {
        &:before {
            @extend .fas;
        }
    }
    &.fa-icon-weight-r {
        &:before {
            @extend .far;
        }
    }
    &.fa-icon-weight-b {
        &:before {
            @extend .fab;
        }
    }
    &.fa-icon-weight-l {
        &:before {
            @extend .fal;
        }
    }
    &.fa-icon-weight-d {
        &:before {
            @extend .fad;
        }
    }
}