{% set navigationPrimaryActiveLink = "section-3" %}

{% embed "@nds/02-molecules/navigation/navigation-primary/_navigation-primary-main.twig" with
    {
        "navigation_primary_id": "main-navigation"
    }
%}
    {% block navigation_primary_content %}
        <div class="navigation--primary__item">
            {% embed "@nds/02-molecules/navigation/navigation-dropdown/_navigation-dropdown-main.twig" with
                {
                    "navigation_dropdown_id": "navigation-primary-dropdown-click-example",
                    "navigation_dropdown_active_class": navigationPrimaryActiveLink == "section-1" ? "active" : "",
                    "navigation_dropdown_toggle_text": "Click",
                    "navigation_dropdown_toggle_aria_label": "Open Click Menu"
                }
            %}
                {% block navigation_dropdown_content %}
                    <a href="#">Dropdown Item A</a>
                    <a href="#">Dropdown Item B</a>
                    <a href="#">Dropdown Item C</a>
                    <a href="#">Dropdown Item D</a>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="navigation--primary__item">
            {% embed "@nds/02-molecules/navigation/navigation-dropdown/_navigation-dropdown-main.twig" with
                {
                    "navigation_dropdown_id": "navigation-primary-dropdown-example",
                    "navigation_dropdown_active_class": navigationPrimaryActiveLink == "section-2" ? "active" : "",
                    "navigation_dropdown_toggle_text": "Hover",
                    "navigation_dropdown_toggle_href": "#",
                    "navigation_dropdown_toggle_aria_label": "Open Hover Menu"
                }
            %}
                {% block navigation_dropdown_content %}
                    <a href="#">Item A</a>
                    <a href="#">Item B</a>
                    <a href="#">Item C</a>
                    <a href="#">Item D</a>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="navigation--primary__item">
            <a class="{{ navigationPrimaryActiveLink == "section-3" ? "active" : "" }}" href="#">Active</a>
        </div>
        <div class="navigation--primary__item">
            <a class="{{ navigationPrimaryActiveLink == "section-4" ? "active" : "" }}" href="#">Section</a>
        </div>
    {% endblock %}
{% endembed %}