.block--share {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    background: transparent;
    border: 0;
    &__wrapper {
        width: 100%;
        .button--share {
            height: $s-1-75;
            width: $s-1-75;
            margin: 0 0 $s-0-75 0;
            i {
                font-size: $s-1;
            }
        }
    }
}