{#
    ---
    title: Badge
    ---

    Type: Atoms -> Text

    Description:
        Badges are static, non-functional indicators of information. Typically badges are used to showcase tags and metadata of certain components, like search results.

    Parameters:
        text_badge_classes: Additional badge classes.
        text_badge_id: Badge ID.
        text_badge_text: Badge text.

    Last Updated: January 22, 2021
#}

{% set text_badge_classes = text_badge_classes|default() %}
{% set text_badge_id = text_badge_id|default() %}
{% set text_badge_text = text_badge_text|default() %}

<span class="text-nds text--badge {{ text_badge_classes }}"{% if text_badge_id is not empty %} id="{{ text_badge_id }}"{% endif %}>{{ text_badge_text }}</span>