<ul>
    <li>Ecology, epidemiology, and behavior</li>
    <li>Biochemistry and physiology</li>
    <li>Genomics, proteomics, population genetics, genetic modification of vectors</li>
    <li>Pathogen/vector interactions and factors influencing pathogen development and transmission</li>
    <li>Vector/vertebrate host interactions</li>
    <li>Vector microbiome and its effect on pathogen development and vector physiology</li>
    <li>Vector immunity</li>
    <li>Insecticide resistance</li>
    <li>Identification of targets for development of new larvicides/insecticides/repellents</li>
    <li>Novel vector control approaches</li>
    <li>New devices to collect, trap, and identify vectors</li>
    <li>Effect of vector saliva and other factors in the transmission of pathogens to vertebrate hosts</li>
</ul>