{#
    ---
    title: USWDS Banner Component
    ---

    Type: Molecules -> Components

    Description:
        The USWDS Banner component helps assure users that the site they are visiting is an official government site. This banner is placed at the very top of website pages.

    Parameters:
        component_uswds_banner_classes: Additional banner classes.
        component_uswds_banner_id: Component ID.

    Last Updated: February 18, 2021
#}

{% set component_uswds_banner_classes = component_uswds_banner_classes|default() %}
{% set component_uswds_banner_id = component_uswds_banner_id|default() %}

<aside class="component-nds component--uswds-banner {{ component_uswds_banner_classes }}" aria-label="Official Government Website"{% if component_uswds_banner_id is not empty %} id="{{ component_uswds_banner_id }}"{% endif %}>
    <button id="uswds-banner-toggle" class="component--uswds-banner__toggle" aria-label="Toggle the official government website banner." aria-expanded="false">
        {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
            {
                "image_default_src": 'global/uswds/us_flag_small.png',
                "image_default_alt": 'U.S. flag'
            }
        %}
        <span>An official website of the United States government. Here's how you know.</span>
        {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with
            {
                "icon_default_type": "chevron-right",
                "icon_default_weight": "s"
            }
        %}
    </button>
    <div id="uswds-banner-content" class="component--uswds-banner__content container">
        <div class="row">
            <div class="component--uswds-banner__content__column col-12 col-md-6">
                {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
                    {
                        "image_default_classes": 'component--uswds-banner__content__column__icon',
                        "image_default_src": 'global/uswds/icon-dot-gov.svg',
                        "image_default_alt": 'Dot gov'
                    }
                %}
                <p>
                    <strong class="component--uswds-banner__content__column__title">Official websites use .gov</strong>
                    <br>A <strong>.gov</strong> website belongs to an official government organization in the United States.
                </p>
            </div>
            <div class="component--uswds-banner__content__column col-12 col-md-6">
                {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
                    {
                        "image_default_classes": 'component--uswds-banner__content__column__icon',
                        "image_default_src": 'global/uswds/icon-https.svg',
                        "image_default_alt": 'Https'
                    }
                %}
                <p>
                    <strong class="component--uswds-banner__content__column__title">Secure .gov websites use HTTPS</strong>
                    <br>
                    A <strong>lock</strong> (<span class="icon-lock">{% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with { "image_default_src": 'global/uswds/icon-lock.svg', "image_default_alt": 'lock icon' } %}</span>) or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.
                </p>
            </div>
        </div>
    </div>
</aside>