.component--uswds-banner {
    background-color: $type-heading;
    padding: 0;
    line-height: 1.5;
    &__toggle {
        .image--default {
            margin-right: .5rem;
        }
        display: flex;
        align-items: center;
        border-radius: 0 !important;
        background: transparent !important;
        border: 0 !important;
        padding: .25rem 1.5rem;
        font-size: .85rem;
        text-align: left;
        &:hover,
        &:focus {
            border-radius: 0 !important;
            background: transparent !important;
            border: 0 !important;
        }
        .icon--default {
            margin-left: .25rem;
        }
        &[aria-expanded="true"] {
            .icon--default {
                &:before {
                    content: fa-content($fa-var-chevron-down) !important;
                }
            }
        }
    }
    &__content {
        display: none;
        padding: 1rem 1.5rem 1.25rem 1.5rem;
        @include media-breakpoint-down(md) {
            max-width: none;
        }
        &__column {
            display: flex;
            padding: 0 1rem;
            &__title {
                @extend .h5;
                color: $white;
                margin: 0;
                font-size: 1.15rem;
            }
            &__icon {
                height: 3rem;
                margin-right: 1rem;
            }
            p {
                font-size: .85rem;
                color: $white;
                margin: 0;
                .icon-lock {
                    .image--default {
                        height: 1rem;
                        width: 1.2rem;
                    }
                }
            }
            &:first-child {
                @include media-breakpoint-down(md) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}