html,
body {
    transition: padding .3s;
}

#sg-vp-wrap {
    position: relative;
    height: 100vh;
    top: 0;
}

.sg-header {
    position: relative;
    .sg-nav {
        li {
            float: none;
            display: inline-flex;
            a {
                border-bottom: 0;
                &:hover,
                &:focus {
                    border-bottom: 0;
                }
            }
        }
    }
}

.sub-label {
    font-size: .8rem;
    line-height: normal;
}