{#
    ---
    title: Floating Button
    ---

    Type: Atoms -> Buttons

    Description:
        In some instances, you may want to have a persistent button available to users at all times. For example a "Back to Top" button that returns users to the top of the page or the color palette button on this site that allows for theme customizations. For these purposes NDS provides the Floating Button pattern which is fixed at the lower right of the screen. To provide more clarity about its function the Floating Button expands on hover and focus to reveal button text.

        The width of the Floating Button on hover and focus depends on the width of the text. Out of the box, the Floating Button pattern's width is configured to work for "Back to Top" text. You may change this text but you will also likely need to change the default width and the width on hover and focus.

    Parameters:
        button_floating_classes: Additional document button classes.
        button_floating_id: Button ID.
        button_floating_text: Button text.
        button_floating_icon: Font Awesome icon name.
        button_floating_icon_weight: Font Awesome icon weight. Options: 'r', 's' (Default), 'b', 'l' (Pro-Only), 'd' (Pro-Only).
        button_floating_aria_label: Button aria-label.

    Last Updated: January 22, 2021
#}

{% set button_floating_classes = button_floating_classes|default() %}
{% set button_floating_id = button_floating_id|default() %}
{% set button_floating_text = button_floating_text|default() %}
{% set button_floating_icon = button_floating_icon|default() %}
{% set button_floating_icon_weight = button_floating_icon_weight|default('s') %}
{% set button_floating_aria_label = button_floating_aria_label|default() %}

<button {% if button_floating_id is not empty %} id="{{ button_floating_id }}"{% endif %} class="button-nds button--floating {{ button_floating_classes }}"{% if button_floating_aria_label is not empty %} aria-label="{{ button_floating_aria_label }}"{% endif %}>
    <div class="button--floating__icon">
        {% include "@nds/01-atoms/icons/icon-default/_icon-default-main.twig" with 
            {
                "icon_default_type": button_floating_icon,
                "icon_default_weight": button_floating_icon_weight
            }
        %}
    </div>
    <div class="button--floating__text">{{ button_floating_text }}</div>
</button>