{% embed "@nds/03-organisms/global/global-footer/_global-footer-main.twig" %}
    {% block global_footer_content_left %}
        {% include "@nds/01-atoms/images/image-logo/_image-logo-main.twig" with
            {
                "image_logo_src": global_footer_logo_src,
                "image_logo_alt": global_footer_logo_alt,
                "image_logo_href": "/"
            }
        %}
    {% endblock %}
    {% block global_footer_content_middle %}
        <h4><a href="https://www.google.com">Website Policies &amp; Notices</a></h4>
        <ul>
            <li><a class="link--carot" href="https://www.niaid.nih.gov/global/freedom-information-act">Freedom of Information Act (FOIA)</a></li>
            <li><a class="link--carot" href="https://www.niaid.nih.gov/global/privacy-policy">Privacy Policy</a></li>
            <li><a class="link--carot" href="https://www.niaid.nih.gov/global/no-fear-act-notice">No Fear Act Data</a></li>
            <li><a class="link--carot" href="https://www.hhs.gov/vulnerability-disclosure-policy/index.html">HHS Vulnerability Disclosure Policy</a></li>
        </ul>
    {% endblock %}
    {% block global_footer_content_right %}
        <h4>Related Government Websites</h4>
        <ul>
            <li><a href="https://www.niaid.nih.gov">National Institute of Allergy &amp; Infectious Diseases</a></li>
            <li><a href="https://www.nih.gov/">National Institutes of Health</a></li>
            <li><a href="https://www.hhs.gov/">Health and Human Services</a></li>
            <li><a href="https://www.usa.gov/">USA.gov</a></li>
        </ul>
    {% endblock %}
{% endembed %}