{% include "@molecules/components/component-style-controls/_component-style-controls-main.twig" %}

{% embed "@nds/01-atoms/layouts/layouts-site/_layouts-site-main.twig" with
    {
        "layouts_site_id": "getting-started"
    }
%}
    {% block header %}
        {% include "@nds/02-molecules/components/component-uswds-banner/_component-uswds-banner-main.twig" %}
        {% include "@organisms/global/global-header/_global-header-main.twig" with
            {
                "global_header_product_id_top": "Design System"
            }
        %}
    {% endblock %}
    {% block global_navigation %}
        {% include "@molecules/navigation/navigation-primary/_navigation-primary-main.twig" %}
        {% include "@molecules/navigation/navigation-drawer/_navigation-drawer-main.twig" with
            {
                "navigation_drawer_id": "main-navigation-mobile"
            }
        %}
        {% include "@nds/01-atoms/buttons/button-floating/_button-floating-main.twig" with
            {
                "button_floating_id": "custom-styles-toggle",
                "button_floating_icon": "palette",
                "button_floating_icon_weight": "l",
                "button_floating_text": "Customize Page Theme"
            }
        %}
    {% endblock %}
    {% block main %}
        {% embed "@atoms/layouts/layouts-main/_layouts-main-main.twig" with
            {
                "layouts_main_id": 'main',
                "layouts_main_classes": 'fixed-left',
                "layouts_main_left": columns.left,
                "layouts_main_main": columns.main,
                "layouts_main_right": columns.right
            }
        %}
            {% block left_column %}
                {% embed "@nds/02-molecules/navigation/navigation-mobile-rail/_navigation-mobile-rail-main.twig" with
                    {
                        "navigation_mobile_rail_button_text": "Open Getting Started Menu"
                    }
                %}
                    {% block navigation_mobile_rail_content %}
                        {% include "@molecules/components/component-scrollspy-toc/_component-scrollspy-toc-main.twig" with
                            {
                                "component_scrollspy_toc_title": "Getting Started",
                                "component_scrollspy_toc_data": [
                                    {
                                        "href": "section-overview",
                                        "text": "Overview"
                                    },
                                    {
                                        "href": "section-quick-start",
                                        "text": "Quick Start"
                                    },
                                    {
                                        "href": "section-static-website",
                                        "text": "Static Site Builder"
                                    },
                                    {
                                        "href": "section-drupal-website",
                                        "text": "NDS Drupal Theme"
                                    },
                                    {
                                        "href": "section-resources",
                                        "text": "Resources"
                                    }
                                ]
                            }
                        %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            {% block main_column %}
                {% embed "@nds/01-atoms/layouts/layouts-body/_layouts-body-main.twig" %}
                    {% block body_content %}
                        <h1 id="main-content">Getting Started</h1>
                        <p>Thank you for your interest in using the NIAID Design System (NDS). This page contains information on how to get started using NDS for your project. If you are interested in adding NDS to an existing website, please view our <a href="{{ links.migrationGuide}}">Migration Guide</a> for more information.</p>
                        <hr>
                        <h2>Quick Start</h2>
                        <p>The fastest way to start using the NIAID Design System is to download the source code and add it to your HTML.</p>
                        <h3>CSS</h3>
                        {# DOWNLOAD #}
                        <p>Download the Global NDS CSS file and include the following code in the &lt;head&gt; of your HTML.</p>
                        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
                            {
                                "component_snippet_show_rendered": "no"
                            }
                        %}
                            {% block component_snippet_code %}
                                <pre>
                                    <code class="language-markup">
                                        &lt;link rel="stylesheet" href="PATH-TO-CSS/nds-min.css" media="all" /&gt;
                                    </code>
                                </pre>
                            {% endblock %}
                        {% endembed %}

                        <h3>JS</h3>
                        <p>The NIAID Design System relies on several third-party libraries to enhance both the user experience and the accessibility of our web components. To increase flexibility and use, we provide two versions of the NDS JS.</p>

                        <h4>Bundled JS (Recommended)</h4>
                        {# DOWNLOAD #}
                        <p>The bundled version of NDS's JavaScript is needed for many of our components to operate properly. This version includes several initializations of third-party library components and <strong>relies on jQuery to function.</strong>To use this version, download the NDS Bundled JS file and include the scripts right before the closing &lt;/body&gt; tag.</p>
                        {% embed "@molecules/components/component-snippet/_component-snippet-main.twig" with
                            {
                                "component_snippet_show_rendered": "no"
                            }
                        %}
                            {% block component_snippet_code %}
                                <pre>
                                    <code class="language-markup">
                                        &lt;script src="../../js/libraries/jquery/jquery.min.js">&lt;/script>
                                        &lt;script src="../../js/libraries/select2/select2.full.min.js">&lt;/script>
                                        &lt;script src="../../js/libraries/materialize/materialize.min.js">&lt;/script>
                                        &lt;script src="../../js/libraries/bootstrap/bootstrap.bundle.min.js">&lt;/script>
                                        &lt;script src="../../js/libraries/match-media/match-media.js">&lt;/script>
                                        &lt;script src="../../js/libraries/datatables/datatables.min.js">&lt;/script>
                                        &lt;script src="../../js/libraries/bootstrap-datepicker/bootstrap-datepicker.min.js">&lt;/script>
                                        &lt;script src="../../js/libraries/uswds/uswds.min.js">&lt;/script>

                                        &lt;script src="../../js/global/nds-min.js">&lt;/script>
                                        &lt;/body>
                                    </code>
                                </pre>
                            {% endblock %}
                        {% endembed %}

                        <p>Use the <a href="{{ links.components }}">Components page</a> to see which components rely on third-party libraries.</p>

                        <h4>Dependency-Free JS</h4>
                        {# DOWNLOAD #}
                        {# What's Included? #}

                        <h3>Page Template</h3>
                        <p>If you are building HTML from scratch, you can use the following template to jump start your process.</p>

                        <h3>Components</h3>

                        <h2>Static Site Builder</h2>

                        <h2>NDS Drupal Theme</h2>

                        {# Resources #}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            {% block right_column %}<span></span>{% endblock %}
        {% endembed %}
    {% endblock %}
    {% block footer %}
        {% include "@organisms/global/global-footer/_global-footer-main.twig" %}
    {% endblock %}
{% endembed %}