#getting-started {
    .question {
        @extend h4;
    }
    .step {
        font-weight: $font-weight-bold;
    }
    .button--jump-links {
        padding: 0;
        .button--icon {
            display: block;
            text-align: center;
            width: 100%;
            .icon--default {
                width: 100%;
                padding: 1rem;
                &:before {
                    font-size: 3rem;
                }
            }
            &__text {
                padding: 0;
                margin-top: 1rem;
            }
        }
    }
    #main-content {
        hr {
            margin-top: 3rem;
        }
    }
    .component--media--left,
    .component--media--right {
        max-width: 50%;
    }
}