{% include "@molecules/components/component-style-controls/_component-style-controls-main.twig" %}

{% embed "@nds/01-atoms/layouts/layouts-site/_layouts-site-main.twig" with
    {
        "layouts_site_id": "getting-started"
    }
%}
    {% block header %}
        {% include "@nds/02-molecules/components/component-uswds-banner/_component-uswds-banner-main.twig" %}
        {% include "@organisms/global/global-header/_global-header-main.twig" with
            {
                "global_header_product_id_top": "Design System"
            }
        %}
    {% endblock %}
    {% block global_navigation %}
        {% include "@molecules/navigation/navigation-primary/_navigation-primary-main.twig" %}
        {% include "@molecules/navigation/navigation-drawer/_navigation-drawer-main.twig" with
            {
                "navigation_drawer_id": "main-navigation-mobile"
            }
        %}
        {% include "@nds/01-atoms/buttons/button-floating/_button-floating-main.twig" with
            {
                "button_floating_id": "custom-styles-toggle",
                "button_floating_icon": "palette",
                "button_floating_icon_weight": "l",
                "button_floating_text": "Customize Page Theme"
            }
        %}
    {% endblock %}
    {% block main %}
        {% embed "@atoms/layouts/layouts-main/_layouts-main-main.twig" with
            {
                "layouts_main_id": 'main',
                "layouts_main_classes": 'fixed-left',
                "layouts_main_left": columns.left,
                "layouts_main_main": columns.main,
                "layouts_main_right": columns.right
            }
        %}
            {% block left_column %}
                {% embed "@nds/02-molecules/navigation/navigation-mobile-rail/_navigation-mobile-rail-main.twig" with
                    {
                        "navigation_mobile_rail_button_text": "Open Getting Started Menu"
                    }
                %}
                    {% block navigation_mobile_rail_content %}
                        {# {% include "@nds/02-molecules/navigation/navigation-local/_navigation-local-main.twig" with
                            {
                                "navigation_local_id": "navigation-local",
                                "navigation_local_title_text": "Getting Started",
                                "navigation_local_items": [
                                    {
                                        "text": "Overview",
                                        "href": "#main-content"
                                    },
                                    {
                                        "text": "Building a Static Site",
                                        "href": "#section-static-website"
                                    },
                                    {
                                        "text": "Building a Drupal Site",
                                        "href": "#section-drupal-website"
                                    },
                                    {
                                        "text": "Working with NDS",
                                        "href": "#section-working-with-nds"
                                    },
                                    {
                                        "text": "Resources",
                                        "href": "#section-resources"
                                    }
                                ]
                            }
                        %} #}
                        {% include "@molecules/components/component-scrollspy-toc/_component-scrollspy-toc-main.twig" with
                            {
                                "component_scrollspy_toc_title": "Getting Started",
                                "component_scrollspy_toc_data": [
                                    {
                                        "href": "section-overview",
                                        "text": "Overview"
                                    },
                                    {
                                        "href": "section-prerequisites",
                                        "text": "Prerequisites"
                                    },
                                    {
                                        "href": "section-choose-type",
                                        "text": "Choose Your Website Type"
                                    },
                                    {
                                        "href": "section-choose-type-static",
                                        "text": "Static Site",
                                        "class": "ml-3"
                                    },
                                    {
                                        "href": "section-choose-type-dynamic",
                                        "text": "Dynamic Site",
                                        "class": "ml-3"
                                    },
                                    {
                                        "href": "section-choose-type-drupal",
                                        "text": "Drupal-Based Site",
                                        "class": "ml-3"
                                    },
                                    {
                                        "href": "section-static-website",
                                        "text": "Building a Static Site"
                                    },
                                    {
                                        "href": "section-dynamic-website",
                                        "text": "Building a Dynamic Site"
                                    },
                                    {
                                        "href": "section-drupal-website",
                                        "text": "Building a Drupal Site"
                                    },
                                    {
                                        "href": "section-working-with-nds",
                                        "text": "Working with NDS"
                                    },
                                    {
                                        "href": "section-resources",
                                        "text": "Resources"
                                    }
                                ]
                            }
                        %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            {% block main_column %}
                {% embed "@nds/01-atoms/layouts/layouts-body/_layouts-body-main.twig" %}
                    {% block body_content %}
                        {% include "@sections/_section-overview-getting-started.twig" %}
                        {% include "@sections/_section-prerequisites.twig" %}
                        {% include "@sections/_section-choose-type.twig" %}
                        {% include "@sections/_section-static-website.twig" %}
                        {% include "@sections/_section-dynamic-website.twig" %}
                        {% include "@sections/_section-drupal-website.twig" %}
                        {% include "@sections/_section-working-with-nds.twig" %}
                        {% include "@sections/_section-resources.twig" %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
            {% block right_column %}<span></span>{% endblock %}
        {% endembed %}
    {% endblock %}
    {% block footer %}
        {% include "@organisms/global/global-footer/_global-footer-main.twig" %}
    {% endblock %}
{% endembed %}