#getting-started {
    .question {
        @extend h4;
    }
    .step {
        font-weight: $font-weight-bold;
    }
    .button--jump-links {
        padding: 0;
    }
    #main-content {
        hr {
            margin-top: 3rem;
        }
    }
    .component--media--left,
    .component--media--right {
        max-width: 50%;
    }
}