.text--chip {
    @extend .button-nds;
    @extend .button--tertiary;
    padding: 1rem;
    display: inline-flex;
    a {
        color: $white;
        border-bottom: 0;
        padding-left: .5rem;
    }
}