.text--chip {
    @extend .button-nds;
    @extend .button--tertiary;
    padding: 1rem;
    display: inline-flex;
    cursor: default;
    a {
        color: $white;
        border-bottom: 0;
        margin-left: .5rem;
        &:visited {
            color: $white;
        }
    }
    &:hover,
    &:focus {
        border: .0625rem solid $color-theme-1-2-1;
        background: $color-theme-1-2-1;
    }
}