<div class="container-fluid list">
	<ul>
		<li>This is a list item in an unordered list</li>
		<li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
		<li>
			Lists can be nested inside of each other
			<ul>
				<li>
					This is a nested list item
					<ul>
						<li>This is a 3rd lvl nested list item</li>
						<li>
							This is another 3rd lvl nested list item
							<ul>
								<li>This is a 4th lvl nested list item</li>
								<li>
									This is another 4th lvl nested list item
									<ul>
										<li>This is a 5th lvl nested list item</li>
										<li>
											This is another 5th lvl nested list item
											<ul>
												<li>This is a 6th lvl nested list item</li>
												<li>
													This is another 6th lvl nested list item
													<ul>
														<li>This is a 7th lvl nested list item</li>
														<li>
															This is another 7th lvl nested list item
														</li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>This is another nested list item in an unordered list</li>
			</ul>
		</li>
		<li>This is the last list item</li>
	</ul>
</div>
