{#
    ---
    title: Media Component
    ---

    Type: Molecules -> Components

    Description:
        The Media component makes it easy to include credits and captions with your images. Additionally, you can control the float (left or right placement) of your images.

        If you would like to include the lightbox from Materialize, you must include the Materialize script and pass "yes" to the component_media_lightbox parameter.

    Dependencies:
        In order to leverage the full capabilities of this component, you must include the following libraries in addition to the NDS Global JS:
            - Materialize (for Lightbox capabilities)

    Blocks:
        {% block component_media %}: The media (usually an image) to be presented.

    Parameters:
        component_media_classes: Additional media component classes.
        component_media_src: Path to the image.
        component_media_alt: Alternative text for the image.
        component_media_caption: Optional caption text to appear below the image.
        component_media_credit: Optional credit text to appear below the image.
        component_media_credit_label: The label to appear before the credit text (Default: "Credit:").
        component_media_float: The direction to float the component (optional). Options: "left", "right", "full" (100% width of body content).
        component_media_lightbox: A parameter to determine if the image should include the Materialize lightbox feature. Options: "yes".

    Includes:
        Atoms -> Images -> image-default
        Atoms -> Text -> text-image-credit-caption

    Last Updated: October 12, 2021
#}

{% set component_media_classes = component_media_classes|default() %}
{% set component_media_src = component_media_src|default() %}
{% set component_media_alt = component_media_alt|default() %}
{% set component_media_caption = component_media_caption|default() %}
{% set component_media_credit = component_media_credit|default() %}
{% set component_media_credit_label = component_media_credit_label|default() %}
{% set component_media_float = component_media_float|default() %}
{% set component_media_lightbox = component_media_lightbox|default() %}

{% if component_media_lightbox == "yes" %}
    {% set component_media_image_classes = "materialboxed" %}
{% endif %}

{% if component_media_float == "left" %}
    {% set component_media_classes = component_media_classes ~ " component--media--left" %}
{% endif %}
{% if component_media_float == "right" %}
    {% set component_media_classes = component_media_classes ~ " component--media--right" %}
{% endif %}
{% if component_media_float == "full" %}
    {% set component_media_classes = component_media_classes ~ " component--media--full" %}
{% endif %}

<div class="component-nds component--media {{ component_media_classes }}">
    <div class="component--media__media">
        {% block component_media %}
            {% include "@nds/01-atoms/images/image-default/_image-default-main.twig" with
                {
                    "image_default_classes": component_media_image_classes,
                    "image_default_src": component_media_src,
                    "image_default_alt": component_media_alt
                }
            %}
        {% endblock %}
    </div>
    {% if component_media_caption is not empty or component_media_credit is not empty %}
        <div class="component--media__text">
            <div class="component--media__text__content-wrapper">
                {% include "@nds/01-atoms/text/text-image-credit-caption/_text-image-credit-caption-main.twig" with
                    {
                        "text_image_credit_caption_caption": component_media_caption,
                        "text_image_credit_caption_credit": component_media_credit,
                        "text_image_credit_caption_credit_label": component_media_credit_label
                    }
                %}
            </div>
        </div>
    {% endif %}
</div>
