.component--media {
    margin: $s-1 0;
    width: auto;
    max-width: 100%;
    .image--default,
    img {
        max-width: 100%;
    }
    .component--media__text {
        display: flex;
        &__content-wrapper {
            flex-grow: 1;
            width: 0;
        }
    }
    &--full {
        .image--default,
        img {
            width: 100%;
            height: auto;
        }
    }
    &--left,
    &--right {
        @include media-breakpoint-up(md) {
            max-width: 50%;
        }
    }
    &--left {
        float: left;
        clear: right;
        margin-right: $s-2;
    }
    &--right {
        float: right;
        clear: left;
        margin-left: $s-2;
    }
    /* Drupal Overrides */
    .field--name-field-media-caption,
    .field--name-field-media-credit {
        display: none;
    }
}