.component--media {
    $component-media-indent: $s-3;
    margin: $s-1-50 0;
    width: auto;
    max-width: 100%;
    .image--default,
    img {
        max-width: 100%;
    }
    .component--media__text {
        display: flex;
        &__content-wrapper {
            flex-grow: 1;
            width: 0;
        }
    }
    &--full {
        .image--default,
        img {
            width: 100%;
            height: auto;
        }
    }
    &--left,
    &--right {
        clear: both;
        @include media-breakpoint-up(md) {
            max-width: 50%;
        }
    }
    &--left {
        @include media-breakpoint-up(md) {
            float: left;
            margin-right: $component-media-indent;
        }
    }
    &--right {
        @include media-breakpoint-up(md) {
            float: right;
            margin-left: $component-media-indent;
        }
    }
    /* Drupal Overrides */
    .field--name-field-media-caption,
    .field--name-field-media-credit {
        display: none;
    }
}